.block[data-block-type="more-stories-columns"] {

	.block__background {
		grid-column: full;
		grid-row: 1;
		position: relative;
		overflow: hidden;
	}

	.block__container {
		position: relative;
		@include fluid-type((padding-top, padding-bottom), 375px, 1240px, spacing(2), spacing(6));
		grid-column: content;
		grid-row: 1;
		display: grid;
		grid-template-columns: [all-start] repeat(2, 1fr) [all-end];
		grid-column-gap: spacing(8);
	}

		.block__column {

			grid-column: all;

			@include from(T) {

				&:nth-child(2n+1) {
					grid-column: 1;
				}

				&:nth-child(2n+2) {
					grid-column: 2;
				}

			}

		}

			.block__column-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-bottom: spacing(1);
				border-bottom: 4px solid $ui-grey-7;
				margin-bottom: spacing(4);
			}

				.block__column-heading {
					font-size: 36px;
					margin-bottom: 0;
				}

				.block__column-view-all {
					margin-left: spacing(3);
					@extend %reverse-underline;
					text-transform: uppercase;
					@include font('secondary', 'medium');
					font-size: 14px;
					flex: 0 0 auto;
				}


			.block__column-stories {
                display: flex;
                flex-direction: column;
                gap: spacing(3);
            }
}
