.sign-up {
    position: relative;
    color: var(--color);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        left: calc(50% - 50vw);
        width: 100vw;
        background-color: var(--background-color);
        z-index: -1;
    }
}

    .sign-up__container {
        // grid-row: 1;
        // grid-column: content;
        @include fluid-type(--padding, 375px, 1240px, spacing(2), spacing(6));
        @extend %column-grid;

        row-gap: spacing(4);

        .sign-up[data-mailchimp-success="true"] & {
            display: none;
        }

        @media screen {
            @include fluid-type((padding-block), 375px, 1240px, spacing(5), spacing(8));
        }
    }

        .sign-up__main {
            grid-column: all;

            @include upto(M) {
                text-align: center;
            }

            @include from(M) {
                grid-column: 1 / 6;
            }
        }

            .sign-up__heading {
                color: currentColor;
                margin-bottom: spacing(2);
                @include fluid-type(font-size, 360px, 1240px, 25px, 39px);
            }

            .sign-up__content {
                color: currentColor;
                margin-bottom: 0;

                > :last-child {
                    margin-bottom: 0;
                }
            }

            .sign-up__form-regions {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                margin-bottom: 32px;
            }

        .sign-up__form-container {
            grid-column: all;
            display: flex;
            justify-content: center;

            @include from(M) {
                grid-column: 7 / 13;
                align-self: center;
            }
        }

            .sign-up__form {

                width: 100%;

                p {
                    font-size: 20px;
                    @include font('secondary', 'bold');
                    margin-bottom: spacing(1);
                    text-align: center;
                }
            }

            .sign-up__form-wrapper {
                position: relative;
                display: flex;
            }

                input.sign-up__form-input {
                    flex-grow: 1;
                    font-size: 18px;
                    padding: 12px 18px;
                    border: 2px solid $ui-white;
                    border-right-width: 0;
                    border-radius: 12px 0 0  12px;
                    background-color: transparent;
                    color: $ui-white;
                    margin-bottom: 0;

                    &::-webkit-input-placeholder {
                        color: $ui-white;
                        opacity: 1;
                        font-style: italic;
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                        color: $ui-white;
                        opacity: 1;
                        font-style: italic;
                    }

                    &::-moz-placeholder {  /* Firefox 19+ */
                        color: $ui-white;
                        opacity: 1;
                        font-style: italic;
                    }

                    &:-ms-input-placeholder {
                        color: $ui-white;
                        opacity: 1;
                        font-style: italic;
                    }
                }

                .sign-up__form-submit {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: $ui-white;
                    border-radius: 0 12px 12px 0;
                    padding: 12px;
                    gap: 7px;
                    flex-shrink: 0;

                    > svg {
                        font-size: 28px;
                        height: 1em;
                        width: 1em;
                        display: block;
                    }

                    button {
                        padding: 7px 12px;
                    }
                }

                    .sign-up__form-submit-label {
                        text-transform: uppercase;

                        @include upto(S) {
                            display: none;
                        }
                    }

            .js-mailchimp-form__message {
                margin-top: spacing(1);

                &:empty {
                    display: none;
                }
            }



    .sign-up__thank-you {
        position: relative;
        width: 100%;
        padding-block: 120px;
        display: flex;
        flex-direction: column;

        .sign-up[data-mailchimp-success="false"] & {
            display: none;
        }

        .sign-up__thank-you__card-container {
            display: flex;
        }

        .sign-up__thank-you__heading {
            margin-bottom: 8px;
            color: currentColor;
            @include fluid-type(font-size, 360px, 1240px, 25px, 39px);
        }

        .sign-up__thank-you__subheading {
            margin-bottom: 32px;
            color: currentColor;
            @include fluid-type(margin-top, 360px, 1240px, spacing(2), spacing(4));
        }
        .sign-up__thank-you__stories {

            > .card {
                @media print {
                    margin-bottom: spacing(2);
                }
            }

            @include upto(T) {
                display: flex;
                flex-wrap: wrap;
                scroll-snap-type: x mandatory;
                -webkit-overflow-scrolling: touch;
                margin: 0 spacing(-3);
                padding: 0 spacing(3);
                gap: 24px;
                justify-content: center;

                > .card {
                    scroll-snap-align: center;
                    box-shadow: none;

                    @include from(T) {
                        &:not(:last-child) {
                            margin-right: spacing(3);
                        }
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    flex: 0 0 24px;
                }
            }

            @include from(T) {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
                grid-gap: spacing(3);
            }
        }
    }

.region-selector {
    text-transform: none;
}

.region-selector__input {
    @extend .visually-hidden;
}

.region-selector__control {
    font-size: 20px;
    @include font('secondary', 'medium');
    display: block;
    background-color: transparent;
    border: 2px solid $ui-white;
    border-radius: 999px;
    padding: spacing(1) spacing(1.5);
    user-select: none;

    &:hover,
    &:focus {
        background-color: $ui-white;
        color: var(--hover-colour);
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

.region-selector__input:checked ~ .region-selector__control {
    background-color: $ui-white;
    color: var(--hover-colour);
}
