/*

---
name: Content
category:
 - Blocks
 - Blocks/Content
---

```html
<div class="block" data-block-type="content">

	<div class="block__background" style="background-color: #D9E021"></div>

	<div class="block__container">

		<h2 class="block__heading">Our team</h2>

		<div class="block__content">
			<p>There is increasing evidence that open contracting delivers.</p>
			<p>Academic research shows that improved openness and transparency is good for public integrity, value for money and competition. A study of more than 3.5 million government contracts across Europe determined that every additional item of information shared about a tender decreases the risk of a single bid contract. This matters because single bid contracts are both a governance risk and over 7% more expensive than the norm. Publishing five more pieces of information about each contract in Europe would add up to 3.6 billion Euros in savings.</p>
			<p>Results from countries that are implementing open contracting show that openness combined with monitoring works. In Peru, a study from Columbia University looked at the impact of transparency and monitoring of contracts on the procurement process of infrastructure projects and found that monitoring decreased spending by 50%. Similar results have been found in Afghanistan.</p>
		</div>

	</div>

</div>
```

*/

.block[data-block-type="content"] {

	.block__background {
		grid-column: wide;
		grid-row: 1;
	}

	.block__container {

		@include fluid-type(--padding, 360px, 1240px, spacing(3), spacing(9));
		padding: var(--padding) 0;
		grid-column: content;
		grid-row: 1;

		> *:not(:last-child):not(.block__heading) {
			margin-bottom: spacing(6);
		}

	}

		.block__heading {
			@include fluid-type(font-size, 360px, 1240px, 22px, 36px);
		}

		.block__arrow-links {

			@include from(T) {
				display: flex;
				flex-wrap: wrap;
			}

			> * {
				margin-right: spacing(3);
				margin-bottom: spacing(2);
			}

		}

}
