.block {
    @if $is-gutenberg {
        display: grid;

        grid-template-columns:
            [full-start]
                0
                [wide-start]
                    0
                    [intermediate-start]
                        spacing(3)
                        [content-start]
                            repeat(12, minmax(0, 100px))
                        [content-end]
                        spacing(3)
                    [intermediate-end]
                    0
                [wide-end]
                0
            [full-end];
    } @else {
        @extend %screen-shell-grid;
    }

    @media print {
        margin-bottom: spacing(6);
    }
}
