.key-issues {
    text-align: center;
    padding-block: 80px;
    position: relative;
    @include font('secondary');

        .block__background {
            position: absolute;
            top: 0;
            left: calc(-1 * (100vw - 100%)/2);
            width: 100vw;
            height: 100%;
            z-index: -1;
        }

    .key-issues__container {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
    }

    .key-issues__title {
      margin-bottom: spacing(1);
    }

    .key-issues__subtitle p {
      font-size: 20px;
      margin-bottom: 56px;
    }

    .key-issues__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
      }

    .key-issues__card {
    gap: spacing(1);
    background-color: white;
    border-radius: 20px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 220px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .key-issues__card-icon img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    // margin-block: 10px;
    }

    .key-issues__card-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    }
  }
