.block[data-block-type="grid-section"] {

	font-size: 16px;
	color: var(--colour, #{$ui-white});

	@include fluid-type(--padding, 360px, 1240px, spacing(2), spacing(15));
	@include fluid-type(--font-size, 360px, 1240px, 19px, 32px);

	.block__background {

		// padding: spacing(4) 0;
		grid-column: full;
		grid-row: 1;

		@media print {
			display: none;
		}

	}

	.block__container {
		grid-column: content;
		grid-row: 1;
		@include fluid-type((padding-top, padding-bottom), 375px, 1240px, spacing(3), spacing(12));
		display: grid;
		@extend %column-grid;
	}

		// grid-template-rows: [all-start] var(--padding) auto var(--padding) [all-end];

		&[data-grid-layout="side-by-side"] {

			.block__content {
				grid-column: span 4;
			}

			.block__grid {
				grid-column: span 8;
			}

		}

		&[data-grid-layout="linear"] {

			.block__content,
			.block__grid {
				grid-column: all;
			}

		}

		.block__content {

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {

				@media screen {
					font-size: var(--font-size);
					margin-bottom: spacing(2);
				}

			}

		}

		.block__grid {

			display: grid;
			grid-template-columns: [all-start] repeat(2, 1fr) [all-end];
			grid-gap: spacing(3);

			> * {
				grid-column: all;
			}

			> [data-grid-placement="small"],
			> [data-grid-placement="medium"] {
				grid-column: span 1;
			}

			> .block[data-block-type="grid-section"]:not(:first-child) {
				margin-top: spacing(3);
			}

			> .block[data-block-type="grid-section"]:not(:last-child) {
				margin-bottom: spacing(3);
			}

		}


	.block[data-block-type="grid-section"] {

		border-radius: spacing(1);
		overflow: hidden;

		@include fluid-type(--font-size, 360px, 1240px, 18px, 26px);

		.block__container {
			grid-column: full;
			@include fluid-type((padding), 375px, 1240px, spacing(2), spacing(5));
		}

	}

}
