.block[data-block-type="team-profile"] {

	grid-template-rows: [all-start] repeat(6, auto) [all-end];
	margin-bottom: var(--v-spacing);

	.block__container {
		grid-column: content;
		@extend %column-grid;
	}

		.block__avatar-container {

			grid-column: all;

			--columns: 5;

			display: grid;
			grid-template-columns: repeat(var(--columns), 1fr);
			grid-gap: spacing(2);

			margin-bottom: var(--v-spacing);

			@include upto(T) {
				display: none;
			}

			@include from(M) {
				--columns: 6;
				grid-gap: spacing(2) spacing(3);
			}

			@include from(L) {
				grid-gap: spacing(3) spacing(4);
			}

		}

			.block__avatar {

				display: block;
				position: relative;
				z-index: 1;

				&:hover {

					z-index: 2;

					img {
						border-color: $ui-brand;
						filter: grayscale(0);
					}

					.block__avatar-name {

						@include from(S) {
							display: block;
						}

					}

				}

				img {
					transition: filter .15s ease, border-color .15s ease;
					filter: grayscale(100%);
					border-radius: 50%;
					display: block;
					border: 5px solid transparent;

				}

				@include between(S, T) {

					&:nth-child(4n+1),
					&:nth-child(4n+2) {

						.block__avatar-name {
							left: 100%;
							margin-left: -15px;
							padding-left: 29px;
						}

					}

					&:nth-child(4n+3),
					&:nth-child(4n+4) {

						.block__avatar-name {
							right: 100%;
							margin-right: -15px;
							padding-right: 29px;
						}

					}

				}

				@include between(T, M) {

					&:nth-child(5n+1),
					&:nth-child(5n+2),
					&:nth-child(5n+3) {

						.block__avatar-name {
							left: 100%;
							margin-left: -15px;
							padding-left: 29px;
						}

					}

					&:nth-child(5n+4),
					&:nth-child(5n+5) {

						.block__avatar-name {
							right: 100%;
							margin-right: -15px;
							padding-right: 29px;
						}

					}

				}

				@include from(M) {

					&:nth-child(6n+1),
					&:nth-child(6n+2),
					&:nth-child(6n+3) {

						.block__avatar-name {
							left: 100%;
							margin-left: -15px;
							padding-left: 29px;
						}

					}

					&:nth-child(6n+4),
					&:nth-child(6n+5),
					&:nth-child(6n+6) {

						.block__avatar-name {
							right: 100%;
							margin-right: -15px;
							padding-right: 29px;
						}

					}

				}

			}

				.block__avatar-name {

					@include upto(S) {
						display: none;
					}

					@include font('secondary', 'bold');
					font-size: 18px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					z-index: 1;
					background-color: $ui-brand;
					min-width: 160px;
					display: none;
					padding: 14px 18px;
					white-space: nowrap;
					z-index: -1;
					pointer-events: none;

				}


		.block__list {

			grid-column: 1 / 5;
			font-size: 16px;

			@include upto(T) {
				display: none;
			}

			a {
				display: block;
				@extend %reverse-underline;
			}

		}

			.block__list-name {
				font-size: 18px;
				margin-bottom: 0;
			}


		.block__profile-container {

			grid-column: all;

			@include from(T) {
				grid-column: 6 / -1;
			}

		}

			.block__profile {

				--profile-offset: #{spacing(2)};
				--profile-avatar-size: 72px;
				--content-padding: #{spacing(2)};
				--header-padding: #{spacing(2)};

				display: grid;
				grid-template-columns:
					var(--profile-offset)
					var(--content-padding)
					[content-start]
						calc(var(--profile-avatar-size) - var(--profile-offset) - var(--content-padding))
						var(--header-padding)
						auto
					[content-end]
					var(--content-padding);

				grid-template-rows:
					var(--profile-offset)
					[header-start]
						minmax(
							calc(var(--profile-avatar-size) - var(--profile-offset)), auto
						)
					[header-end]
					min-content;

				margin-bottom: var(--v-spacing-half);

				@include from(T) {

					--content-padding: #{spacing(4)};
					--header-padding: #{spacing(2)};
					--profile-avatar-size: #{spacing(16)};

					&:not(.active) {
						display: none;
					}

				}

				@include from(M) {
					--content-padding: #{spacing(7)};
					--header-padding: #{spacing(4)};
					--profile-avatar-size: #{spacing(23)};
				}

			}

				.block__profile img {
					grid-column: 1 / 4;
					grid-row: 1 / 3;
					border-radius: 50%;
					border: 5px solid $ui-brand;
				}

				.block__profile-background {
					grid-column: 2 / -1;
					grid-row: 2 / -1;
					background-color: $ui-grey-8;
					border-radius: spacing(8) spacing(1) spacing(4) spacing(1);
				}

				.block__profile-header {
					grid-row: header;
					grid-column: 5 / -2;
					padding: var(--header-padding) 0;

					@include from(T) {
						align-self: center;
					}

				}

					.block__profile-name {
						@include fluid-type(font-size, 375px, 1240px, 20px, 30px);
						margin-bottom: 0;
					}

					.block__profile-role {
						@include fluid-type(font-size, 375px, 1240px, 16px, 22px);
						@include font('secondary');
						margin-bottom: 0;
					}

					.block__profile-social {

						@media screen {
							display: flex;
							flex-wrap: wrap;
						}

						@include upto(T) {
							display: none;
						}

						a {
							display: block;
							margin-top: spacing(2);
							margin-right: spacing(2);
						}

						a > svg {

							display: block;
							font-size: 26px;
							fill: $ui-grey-4;
							height: 1em;

							@media print {
								display: inline-block;
							}

							&[data-icon="twitter"] {
								width: 1.09em;
							}

							&[data-icon="mail"] {
								width: 1.38em;
							}

							&[data-icon="linkedin"] {
								width: 1em;
							}

						}

					}

					.block__profile-mobile-toggle {

						@include font('secondary', 'bold');
						margin-top: spacing(.5);

						@include from(T) {
							display: none;
						}

					}

				.block__profile-content {
					font-size: 16px;
					@include font('secondary');
					grid-row: -2;
					grid-column: content;
					margin-top: spacing(2);
					margin-bottom: spacing(4);
				}

					.block__profile-posts {

						margin-top: spacing(6);

						h4 {
							margin-bottom: spacing(4);
						}

						.card {
							margin-bottom: spacing(3);
						}

					}

			@include upto(T) {

				.block__profile:not(.mobile-active) .block__profile-content {
					display: none;
				}

				.block__profile.mobile-active .block__profile-mobile-toggle[data-action="show"] {
					display: none;
				}

				.block__profile:not(.mobile-active) .block__profile-mobile-toggle[data-action="hide"] {
					display: none;
				}

			}

}
