.block[data-block-type="content-panel"] {

	.block__background {
		grid-column: full;
		grid-row: 1;
		position: relative;
		overflow: hidden;
	}

	.block__container {
		position: relative;
		@include fluid-type((padding-block), 375px, 1240px, spacing(5), spacing(8));
		grid-column: content;
		grid-row: 1;

        &[data-text-align="center"] {
            text-align: center;
        }
	}
}
