.more-stories {
}

	.more-stories__background {
		grid-column: full;
		grid-row: 1;
		position: relative;
		overflow: hidden;
	}

	.more-stories__container {
		position: relative;
		padding-block: spacing(10);
		grid-column: content;
		grid-row: 1;
	}

		.more-stories__header {
			@media screen {
				display: flex;
                flex-wrap: wrap;
				@include fluid-type(margin-bottom, 375px, 1240px, 19px, 32px);

                &[data-alignment="justified"] {
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                }

                &[data-alignment="centered"] {
                    flex-direction: column;
                }
			}

			@media print {
				margin-bottom: spacing(2);
			}
		}

			.more-stories__heading {
				@media screen {
					margin-bottom: 0;
                    text-align: var(--heading-text-align, center);
				}
			}

			.more-stories__subheading {
				font-size: 20px;
				text-align: var(--heading-text-align, center);
                margin-bottom: 0;
			}

		.more-stories__cards {
            --columns: 1;

            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            grid-gap: spacing(3);

            @include from(S) {
                --columns: 2;
            }

            @include from(M) {
                --columns: 3;
            }

            [data-is-featured="true"] {
                @include from(S) {
                    grid-column: 1 / span 2;
                }
            }
        }
