.block[data-block-type="more-stories"] {

	.block__background {

		grid-column: full;
		grid-row: 1;
		position: relative;
		overflow: hidden;

		// &::before {
		// 	@include fluid-type(font-size, 360px, 1344px, 145px, 500px);
		// 	content: '';
		// 	display: block;
		// 	border: .14em solid $ui-grey-6;
		// 	border-radius: 50%;
		// 	opacity: .1;
		// 	height: 1em;
		// 	width: 1em;
		// 	position: absolute;
		// 	top: -.55em;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }

	}

	.block__container {
		position: relative;
		padding-block: spacing(10);
		grid-column: content;
		grid-row: 1;
	}

		.block__header {

			@media screen {
				display: flex;
                flex-wrap: wrap;

                &[data-alignment="justified"] {
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                }

                &[data-alignment="centered"] {
                    flex-direction: column;
                }
			}

			@media print {
				margin-bottom: spacing(2);
			}

		}

			.block__heading {

				@media screen {
					margin-bottom: 0;
                    text-align: var(--heading-text-align, center);
				}

			}

			.block__subheading {
				margin-bottom: 32px;
				font-size: 20px;
				text-align: var(--heading-text-align, center);

			}

		.block__stories {

			margin-bottom: 16px;

			> .card {
				@media print {
					margin-bottom: spacing(2);
				}

			}

			@include upto(T) {

				display: flex;
				flex-wrap: wrap;
				scroll-snap-type: x mandatory;
				-webkit-overflow-scrolling: touch;
				margin: 0 spacing(-3);
				padding: 0 spacing(3);
				gap: 24px;
				justify-content: center;

				> .card {

					scroll-snap-align: center;
					box-shadow: none;

					// the ::after element is now the far side margin, so dont
					// set this on the last child, otherwise we'll have double
					@include from(T) {
						&:not(:last-child) {
							margin-right: spacing(3);
						}
					}

				}

				// we can't use last-child margin to create our right hand side
				// spacing, so we need to force the issue with an after element
				&::after {
					content: '';
					display: block;
					flex: 0 0 24px;
				}

			}

			@include from(T) {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
				grid-gap: spacing(3);
			}

		}

}
