.block[data-block-type="card-embed"] {
	.block__main {
		grid-column: full;
		background-color: white;
		border-radius: spacing(1);
		overflow: hidden;

		> * {
			margin-bottom: 0;
		}
	}

	.block__footer {
		grid-column: full;
		margin-top: spacing(2);
	}

		.block__buttons {
			display: flex;
			flex-wrap: wrap;
			grid-gap: spacing(2);

			> * {
				display: block;
			}
		}
}
