/*

---
name: Buttons
category:
 - Components
 - Components/Buttons
---

```html
<p>

	<a class="button" href="#">
		Download resource
	</a>

</p>

<p>

	<a class="button button--has-icon" href="#">

		<svg class="button__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
		Download resource
	</a>

</p>
```

*/

.button {

	--border-colour: #{$ui-brand};
	--background: #{$ui-brand};
	--colour: #{$ui-grey};

	font-size: 14px;
	@include font('secondary', 'medium');

	color: var(--colour);
	background-color: var(--background);

	border-radius: spacing(.5);
	border: 2px solid var(--border-colour);
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	transition:
		background-color .3s ease,
		border-color .3s ease;

	@media screen {
		padding: 0.75em 1.65em 0.65em;
	}

	&:hover,
	&:focus,
	&:active {
		--border-colour: #{darken($ui-brand, 10%)};
		--background: #{darken($ui-brand, 10%)};
		text-decoration: none;
	}

}

.button--has-icon {
	display: inline-flex;
	align-items: center;
}

	.button__icon {

		font-size: 2em;
		height: 1em;
		width: 1em;
		margin-right: spacing(2);
		fill: $ui-white;
		margin: em(-8, 14) spacing(2) em(-6, 14) em(-6, 14);

		@media print {
			display: none;
		}

	}

.button[data-icon-colour] .button__icon {
	fill: $ui-brand;
}

.button[data-icon-direction="north"] .button__icon {
	transform: rotate(270deg);
}

.button[data-icon-direction="south"] .button__icon {
	transform: rotate(90deg);
}

.button[data-icon-direction="west"] .button__icon {
	transform: rotate(180deg);
}

.button--naked {

	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	border-radius: 0;
	margin: 0;

	&:focus {
		outline: none;
	}

}

// .button-bordered {

// 	--height: #{em(23, 14)};
// 	font-size: 14px;
// 	position: relative;
// 	display: inline-block;
// 	padding: 0;
// 	text-align: left;
// 	color: $ui-grey-5;
// 	background-color: $ui-grey-3;
// 	border: 1px solid $ui-grey-5;
// 	border-radius: 2px calc(var(--height) / 2) calc(var(--height) / 2) 2px;
// 	line-height: 1;
// 	height: var(--height);
// 	padding: calc((var(--height) - 1em) / 2) 1em;
// 	padding-right: 1.4em;
// 	@include font('secondary', 'bold');
// 	text-decoration: none;

// 	// sizes
// 	&[data-size="small"] {
// 		font-size: 11px;
// 	}

// }

.button[data-size="slim"] {
	padding: 0.45em 1em 0.2em;
}

 //********
// COLOURS

.button[data-colour="white"] {

	--border-colour: #{$ui-white};
	--background: #{$ui-white};

	&:hover,
	&:focus,
	&:active {
		--border-colour: darken($ui-white, 2%);
		--background: darken($ui-white, 2%);
	}

}

.button[data-colour="dark"] {

	--border-colour: #{$ui-grey};
	--background: #{$ui-grey};
	--colour: #{$ui-white};

	&:hover,
	&:focus,
	&:active {
		--background: #{$ui-white};
		--colour: #{$ui-grey};
	}

}

.button[data-colour="light"] {

	--border-colour: #{$ui-grey};
	--background: #{$ui-white};
	--colour: #{$ui-grey};

	&:hover,
	&:focus,
	&:active {
		--border-colour: #{$ui-grey};
		--background: #{$ui-grey};
		--colour: #{$ui-white};
	}

}
