// FU WP.
.card {
	position: initial;
	margin-top: initial;
	padding: initial;
	min-width: initial;
	max-width: initial;
	border: initial;
	box-shadow: initial;
	background: initial;
	box-sizing: initial;
}
