.card.card--square {

	position: relative;
	border-radius: spacing(4) spacing(1);
	overflow: hidden;
	background: $ui-grey;
	color: $ui-white;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
	max-width: 600px; // temp, dev

	.card__image {

		width: 100%;

		img {
			display: block;
			width: 100%;
		}

	}

}
