$elementBreakpoint: 500px;

.card-quote__container {
    container-type: inline-size;
}

.card-quote {
    font-size: 20px;
    background-color: $ui-grey-3;
    position: relative;
    @include font('secondary', 'bold');
    border-radius: 22px 5px;
    overflow: hidden;
    color: $ui-white;
    display: flex;
    flex-direction: column;
    height: 100%;

    @container (min-width: #{$elementBreakpoint}) {
        flex-direction: row;
    }
}

    .card-quote__image {
        flex: 0 0 40%;

        @container (min-width: #{$elementBreakpoint}) {
            aspect-ratio: 2 / 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &[data-image-style="grayscale"] {
            filter: grayscale(100%);
        }
    }

    .card-quote__quote {
        padding: spacing(2);
        z-index: 1;
        border: 0;
        margin: 0;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        @extend %heading-base;

        // @include from(M) {
        // 	grid-column: 2 / span 1;
        // }

        a {
            margin-bottom: spacing(1);
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

        .card-quote__link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            // &::before {
            //     content: '';
            //     position: absolute;
            //     inset: 0;
            //     z-index: 1;
            // }
        }

        .card-quote__footer {
            font-size: 18px;
            margin-top: auto;
            color: $ui-grey-6;
            @include font('secondary');

            p {
                margin-bottom: 0;
                line-height: 1.4;
            }
        }

            .card-quote__footer-name {
                font-weight: $bold;
            }
