.card-resource__container {
    display: flex;
}

.card-resource {
    --accent-colour: #{$ui-black};

    position: relative;
    background-color: #F6F6F6;
    color: $ui-black;
    border-radius: spacing(4) spacing(1) spacing(4) spacing(1);
    border: 2px solid $ui-grey-6;
    padding: 22px 22px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: spacing(2);

    @media print {
        border: 3px solid $ui-grey-7;
    }
}

    .card-resource__image-container {
        flex: 0 0 108px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .card-resource__body {
        flex: 1 1 100%;
    }

        .card-resource__link {
            font-family: $font-secondary;
            font-weight: $bold;
            display: block;
            font-size: 18px;
            text-decoration: none;
            line-height: 1.15;
            margin-bottom: spacing(1);

            &:hover,
            &:focus {
                text-decoration: underline;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                z-index: 1;
            }
        }

        .card-resource__excerpt {
            font-family: $font-primary;
            font-weight: $regular;
            font-size: 14px;
            color: $ui-grey-3;
            margin-bottom: 0;
        }

        .card-resource__body > :last-child {
            margin-bottom: 0;
        }

    .card-resource__type {
        font-family: $font-secondary;
        font-weight: $regular;
        display: flex;
        align-items: center;
        font-size: 14px;
        flex: 1 1 100%;
        text-transform: uppercase;
        padding-top: .1em;
        color: var(--accent-colour-contrast, var(--accent-colour));
        margin-bottom: spacing(1.5);

        &::before {
            content: '';
            font-size: 1.714em;

            display: block;
            height: 1em;
            width: 1em;
            border-radius: 50%;
            border: .25em solid var(--accent-colour);
            flex: 0 0 auto;
            margin-right: spacing(1);
            box-sizing: border-box;
        }
    }

        .card-resource__type-label {
            @include font-vertical-align-fix;
        }

    // borders

    .card-resource[data-is-featured="true"] {
        border-color: var(--accent-colour);
    }

    .card-resource[data-has-border="false"] {
        border-width: 0;
    }

    // post colours

    .card-resource[data-colour="orange"] {
        --accent-colour: #{$ui-orange};
    }

    .card-resource[data-colour="green"] {
        --accent-colour: #{$ui-brand};
    }

    .card-resource[data-colour="blue"] {
        --accent-colour: #{$ui-blue};
    }

    .card-resource[data-colour="black"] {
        --accent-colour: #{$ui-blue};
    }

    // post type colours

    .card-resource[data-post-type="post"] {
        --accent-colour: #{$ui-orange};
    }

    .card-resource[data-post-type="resource"] {
        --accent-colour: #{$ui-blue};
    }

    // resource type colours

    .card-resource[data-post-type="annual-report"],
    .card-resource[data-post-type="brochure"] {
        --accent-colour: #{$ui-brand};
        --accent-colour-contrast: #{$ui-grey-3};
    }

    .card-resource[data-post-type="report"],
    .card-resource[data-post-type="guide"],
    .card-resource[data-post-type="brief"] {
        --accent-colour: #{$ui-orange};
    }

    .card-resource[data-post-type="data-tool"],
    .card-resource[data-post-type="training-material"],
    .card-resource[data-post-type="methodology"] {
        --accent-colour: #{$ui-blue};
    }
