.card.card--quote {
    position: relative;
	font-size: 12px;
	@include font('secondary', 'bold');
	border-radius: spacing(4) spacing(1);
	overflow: hidden;
	color: $ui-white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1;

	@include from(600) {
		font-size: 18px;
	}

	@include from(M) {
		font-size: 20px;
	}

	.card__image {
		grid-column: 1 / span 2;
		grid-row: 1;
		width: 100%;

        &[data-image-style="grayscale"] {
            filter: grayscale(100%);
        }
	}

    .card__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }

	.card__quote {
		all: unset;
		grid-column: 1 / span 2;
		grid-row: 1;
		border-radius: spacing(4) spacing(1);
		background-color: rgba(#1E1E1E, 70%);
		padding: spacing(2);
		z-index: 1;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@include from(M) {
			grid-column: 2 / span 1;
		}

		p {
			all: unset;
		}

		footer {
			margin-top: spacing(1);
			@include font('secondary');
		}
	}
}
