@mixin cardPrimaryStandard {
    .card-primary[data-is-featured="false"] & {
        @content;
    }
}

@mixin cardPrimaryFeatured {
    .card-primary[data-is-featured="true"] & {
        @content;
    }
}

.card-primary {
    --background-color: #{$ui-white};
    --color: #{$ui-white};
    --padding: #{spacing(2)};
    --border-width: 1px;

    border-radius: 21px 5px;
    padding: var(--padding);
    border: var(--border-width) solid $ui-grey-7;
    overflow: hidden;
    background: var(--background-color);
    color: $ui-grey-3;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: spacing(1.5);
    width: 100%;

    &[data-is-featured="true"] {
        gap: spacing(2);
        flex-direction: column;
        border-color: $ui-grey-4;

        @include from(T) {
            flex-direction: row;
        }
    }

    @media print {
        flex-direction: row;
        margin-bottom: spacing(2);
    }
}

    .card-primary__image {
        @include cardPrimaryFeatured {
            flex: 0 0 calc(((1200px - 48px) / 3) - (2 * var(--padding)) - (2 * var(--border-width)));
            margin-bottom: 0;
        }

        @media print {
            flex: 0 0 25%;
        }

        img {
            border-radius: 21px 5px;
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;

            @include cardPrimaryStandard {
                @include from(L) {
                    height: 170px;
                }
            }
        }
    }

    .card-primary__main {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;

        @include cardPrimaryFeatured {
            flex: 1 1 auto;
        }
    }

        .card-primary__tag {
            font-size: 12px;
            width: fit-content;
            padding: 3px 12px 1px;
            color: $ui-grey;
            border: 1px solid $ui-grey;
            border-radius: 42px;
            text-transform: uppercase;
            @include font('secondary');
            margin-bottom: spacing(1.5);

            &[data-tag="featured"] {
                color: $ui-white;
                background-color: $ui-grey;
                border: 1px solid $ui-grey;
            }
        }

        .card-primary__title {
            display: block;
            color: currentColor;
            text-decoration: none;
            // max-width: 90%;

            @media screen {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }

            .card-primary__title {
                @extend %heading-base;

                font-size: 20px;
                margin-bottom: spacing(1);

                @include cardPrimaryFeatured {
                    @include from(T) {
                        font-size: 35px;
                        margin-bottom: spacing(.5);
                    }
                }
            }

        .card-primary__introduction {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .card-primary__footer {
            @media screen {
                margin-top: auto;
                display: flex;
                align-items: flex-end;
            }

            @media print {
                margin-top: spacing(2);
            }
        }

            .card-primary__meta {
                @include font('secondary');

                color: $ui-grey-4;
                font-size: 12px;
                flex: 1 1 100%;
                margin-right: spacing(2);
                display: flex;
                flex-direction: column;
            }

                .card-primary__meta-primary {
                    font-weight: 700;
                }

.card-primary__topics {
    font-size: 12px;
    font-weight: 500;
    z-index: 999;
    margin-bottom: spacing(1);

    a {
        color: $ui-teal;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #219087;
        }
    }
}
