/*

---
name: Link card
category:
 - Cards
 - Cards/Link
---

## Default

```html
<div class="card card--link">

	<div class="card__body">
		<a class="card__link" href="#">How we successfully pushed for more transparent public procurement rules in Spain</a>
	</div>

	<div class="card__footer">

		<a class="arrow-link" href="#" data-icon-color="white" data-text-color="black">
			<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
			<span class="arrow-link__label">Read</span>
		</a>

	</div>

</div>
```

## Light

```html
<div class="card card--link" data-colour-scheme="light">

	<div class="card__body">
		<a class="card__link" href="#">How we successfully pushed for more transparent public procurement rules in Spain</a>
	</div>

	<div class="card__footer">

		<a class="arrow-link" href="#" data-text-color="black">
			<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
			<span class="arrow-link__label">Read</span>
		</a>

	</div>

</div>
```

## Transparent

```html
<div class="aigis-preview__background">

	<div class="card card--link" data-colour-scheme="transparent">

		<div class="card__body">
			<a class="card__link" href="#">How we successfully pushed for more transparent public procurement rules in Spain</a>
		</div>

		<div class="card__footer">

			<a class="arrow-link" href="#" data-icon-color="white" data-text-color="white">
				<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
				<span class="arrow-link__label">Read</span>
			</a>

		</div>

	</div>

</div>
```

*/

.card.card--link {


	--background-colour: #{$ui-grey-6};
	--text-colour: #{$ui-black};
	--highlight-colour: #{$ui-white};
	--border-colour: transparent;

	font-size: 16px;
	@include font('secondary');
	background-color: var(--background-colour);
	color: var(--text-colour);
	border: 2px solid var(--border-colour);
	border-radius: spacing(4) spacing(1) spacing(4) spacing(1);
	padding: 18px 24px 18px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.card__heading {
		font-size: 24px;
	}

	.card__body {

		ul,
		ol {
			padding-left: .8em;
		}

		> *:last-child {
			margin-bottom: 0;
		}

	}

	.card__link {
		display: block;
		font-size: 18px;
		@include font('secondary', 'bold');
		text-decoration: none;
		line-height: 1.15;
	}

	.card__footer {
		border-top: 4px solid var(--highlight-colour);
		margin-top: spacing(2);
		padding-top: spacing(2);
		display: flex;
		align-items: center;
	}

		.card__icon {
			display: block;
			font-size: 30px;
			height: 1em;
			width: 1em;
			border-radius: 50%;
			border: 8px solid var(--highlight-colour);
			flex: 0 0 auto;
			margin-right: spacing(1);
			box-sizing: border-box;
		}

		.card__type {
			font-size: 14px;
			flex: 1 1 100%;
			text-transform: uppercase;
			padding-top: .1em;
		}

		.arrow-link__label {
			color: var(--text-colour);
		}

		.arrow-link__icon {
			fill: var(--highlight-colour);
		}


	// Colour Scheme

	&[data-colour-scheme="light"] {
		--background-colour: #{$ui-grey-8};
		--highlight-colour: #{$ui-grey-6};
	}

	&[data-colour-scheme="transparent"] {
		--background-colour: transparent;
		--highlight-colour: #{$ui-white};
		--border-colour: #{$ui-white};
	}

	&[data-colour-scheme="teal"] {
		--background-colour: #{$ui-teal};
	}

	&[data-colour-scheme="white"] {
		--background-colour: #{$ui-white};
		--border-colour: #{$ui-black};
	}

	&[data-colour-scheme="orange"] {
		--background-colour: #{$ui-orange};
		--highlight-colour: #{$ui-white};
	}

}

.aigis-preview__background > .card--link,
.aigis-preview > .card--link {
	max-width: 250px;
}
