.card.card--feature {

	position: relative;
	border-radius: spacing(4) spacing(1) spacing(1) spacing(1);
	overflow: hidden;
	background: $ui-grey;
	color: $ui-white;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);

	.card__image {

		position: relative;
		width: 100%;

		img {

			display: block;
			width: 100%;

			@media print {
				margin-bottom: spacing(3);
			}

		}

	}

		.card__image-overlay {

			@media screen {

				@include fluid-type(--v-padding, 375px, 1240px, spacing(2), spacing(5));
				@include fluid-type(--h-padding, 375px, 1240px, spacing(3), spacing(6));

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, .4);
				padding: var(--v-padding) var(--h-padding);
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				&--transparent {
					background-color: transparent;
				}

			}



		}

			.card__meta {
				margin-bottom: spacing(3);
			}

			.card__title-link {

				display: block;
				color: currentColor;
				text-decoration: none;

				@media screen {

					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}

				}

				&:hover,
				&:focus,
				&:active {
					text-decoration: underline;
				}

			}

				.card__title {
					font-size: 36px;
					margin-bottom: 10px;
					color: currentColor;
				}

			.card__intro {

				font-size: 16px;
				max-width: 60%;

				p:last-child {
					margin-bottom: 0;
				}

			}

}
