.card__container {
	display: flex;
}

.card.card--resource {

	--accent-colour: #{$ui-white};

	background-color: $ui-grey-3;
	color: $ui-white;
	border-radius: spacing(4) spacing(1) spacing(4) spacing(1);
	padding: 20px 28px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: spacing(2);
	@media print {
		border: 3px solid $ui-grey-7;
	}

	.card__body {
		flex: 1 1 100%;
		display: flex;
        flex-direction: column;
		justify-content: center;
		padding: spacing(1) 0;
	}

	.card__image-container {
		flex: 0 0 108px;
		img {
            max-width: 100%;
            height: auto;
        }
	}

		.card__link {
			font-size: 18px;
			@include font('secondary', 'bold');
			text-decoration: none;
			line-height: 1.15;
            margin-bottom: spacing(2);
        }

        .card__meta {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 0;
        }

        .card__body > :last-child {
            margin-bottom: 0;
        }

	.card__footer {
		// border-top: 4px solid var(--accent-colour);
		// margin-top: spacing(1);
		// padding-top: 10px;
		display: flex;
		align-items: center;
	}

		.card__icon {
			display: block;
			font-size: 30px;
			height: 1em;
			width: 1em;
			border-radius: 50%;
			border: 8px solid var(--accent-colour);
			flex: 0 0 auto;
			margin-right: spacing(1);
			box-sizing: border-box;
		}

		.card__type {
			font-size: 14px;
			font-weight: 500;
			flex: 1 1 100%;
			text-transform: uppercase;
			padding-top: .1em;
            color: var(--accent-colour);
		}

        .card__mast {
            display: flex;
            align-items: center;
            margin-bottom: spacing(1.5);
        }

        .card__tag {
            font-size: 14px;
            font-weight: 500;
            padding: 0.3em 0.6em 0.2em;
            background-color: var(--accent-colour);
            color: $ui-white;
            margin-left: auto;
        }

    &[data-has-border="1"] {
        border: 2px solid var(--accent-colour);
    }


	// Colour Scheme

	&[data-colour-scheme="light"] {
		background-color: #F6F6F6;
		color: $ui-black;
		--accent-colour: #{$ui-black};
	}

	// post colours

    &[data-colour="orange"] {
		--accent-colour: #{$ui-orange};
    }

    &[data-colour="green"] {
		--accent-colour: #{$ui-brand};
    }

    &[data-colour="blue"] {
		--accent-colour: #{$ui-blue};
    }

	// post type colours

	&[data-post-type="post"] {
		--accent-colour: #{$ui-orange};
	}

	&[data-post-type="resource"] {
		--accent-colour: #{$ui-blue};
	}

	// resource type colours

	&[data-post-type="annual-report"],
	&[data-post-type="brochure"] {
		--accent-colour: #{$ui-brand};
	}

	&[data-post-type="report"],
	&[data-post-type="guide"],
	&[data-post-type="brief"] {
		--accent-colour: #{$ui-orange};
	}

	&[data-post-type="data-tool"],
	&[data-post-type="training-material"],
	&[data-post-type="methodology"] {
		--accent-colour: #{$ui-blue};
	}

}
