.custom-checkbox {

	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}

	label {
		@include font('secondary');
		@include font-size(17);
		color: color('background');
		margin-bottom: 1.4em;
	}

	span {
		display: inline-block;
		width: em(14, 17);
		height: em(14, 17);
		outline: 1px solid;
		background-color: color('white');
		margin-right: em(5, 17);
		vertical-align: middle;
		position: relative;
	}

	span > svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: em(10, 17);
		height: em(10, 17);
		fill: color('background');
		transform: translateX(-50%) translateY(-50%) scale(0);
		transition: transform cubic-bezier(.82, -.62, .74, .05) .2s;
	}

	input[type="radio"]:checked + span > svg,
	input[type="checkbox"]:checked + span > svg {
		transform: translateX(-50%) translateY(-50%) scale(1);
		transition: transform cubic-bezier(.46, -.53, .03, 1.71) .2s;
	}

}
