.homepage-hero {
    --header-scale: .24;

    @extend %container-reset;
    @extend %screen-shell-grid;
    position: relative;
    min-height: 550px;
    // overflow: hidden;
    background-color: var(--background-colour);
    color: var(--text-colour);
    @include fluid-type((padding-bottom), 375px, 1240px, spacing(5), spacing(7));

    // @include from(T) {
    //     --header-scale: 0;
    // }
    @media (max-height: 500px) {
        .homepage-hero {
          min-height: auto;
          height: 100vh;
        }
    }
}

.homepage-hero__image {
    grid-column: full;
    grid-row: 1;
    z-index: 0;

    img {
        width: 100%;
    }
}

.homepage-hero__header {
    font-size: 7.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include from(T) {
        font-size: 4.2vw;
    }
}

    .homepage-hero__content {
        font-size: 1em;
        align-items: center;

        span {
            display: block;
            line-height: 1;
            font-size: 35px;

            @include from(T) {
                font-size: 66px;
            }

            @include from(L) {
                font-size: 78px;
                margin-bottom: 56px;
            }
        }

    }

    .homepage-hero__content__strapline {
        max-width: 704px;
        font-size: 18px;
        margin-inline: auto;
        line-height: 28.6px;
        margin-bottom: 13px;
        margin-top: .3em;
        font-weight: bold;

        @include from(M) {
            font-size: 22px;
        }
    }

    .homepage-hero__content__text {
        max-width: 695px;
        font-size: 14px;
        margin-inline: 16px;
        line-height: 27px;
        margin-top: .3em;
        font-weight: normal;
        @include from(M) {
            font-size: 18px;
            margin-inline: auto;
        }
    }



    @keyframes jumpToContent {
        0% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(.1em);
        }
        20% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(.1em);
        }
        40% {
            transform: translateY(0);
        }
    }

    @keyframes jumpToContentHover {
        0%, 100% {
            transform: translateY(.22em);
        }
    }

    .homepage-hero__icon {
        display: block;
        width: .9em;
        fill: var(--text-colour);

        path:last-child {
            transition: transform .3s ease;
            animation: jumpToContent 3s infinite;

            .homepage-hero__jump-to-content:hover & {
                animation: jumpToContentHover 3s infinite;
            }
        }

        @include from(T) {
            width: .5em;
        }
    }
