.report-header {
    --header-scale: .24;

    @extend %container-reset;
    @extend %screen-shell-grid;
    position: relative;
    background-color: var(--background-colour);
    color: var(--text-colour);
    @include fluid-type((padding-bottom), 375px, 1240px, spacing(5), spacing(7));
    overflow-x: hidden;

    @include from(T) {
        --header-scale: 0;
    }
}

.report-header__image {
    grid-column: full;
    grid-row: 1;
    z-index: 0;
    margin-inline: calc(100vw * var(--header-scale) * -1);

    img {
        width: 100%;
    }
}

.report-header__header {
    font-size: 7.2vw;
    position: absolute;
    top: calc(1vw * var(--header-top));
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include from(T) {
        font-size: 4.2vw;
    }
}

    .report-header__heading {
        font-size: 1em;
        margin-bottom: 0;

        span {
            display: block;
            line-height: 1;
        }

        span:nth-child(1) {
            font-size: calc(1em * (var(--size-adjustment, 1))); //4.2vw;
        }

        span:nth-child(2) {
            font-size: calc(3em * (var(--size-adjustment, 1))); //12.6vw;
            margin-top: .3em;
        }
    }
