/*

---
name: Title
category:
 - Components/Resources
---

```html
<div class="resource-title">
	<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-resource"></use></svg>
</div>
```

*/

.resource-title {

	@include font-size(20);
	padding-bottom: em(15);
	border-bottom: spacing(.5) solid post-color('resource');
	margin-bottom: spacing(5);
	position: relative;

	svg {
		@include font-size(40);
		width: 1em;
		height: 1em;
		stroke: post-color('resource');
	}

	a {
		color: color('black');
		position: absolute;
		bottom: 1em;
		padding-left: .5em;
	}

}

/*

---
name: Title (small)
category:
 - Components/Resources
---

```html
<div class="resource-title resource-title--small">
	<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-resource"></use></svg>
	<a href="#">Bob</a>
</div>
```

*/

.resource-title--small {

	@include font-size(14);
	padding-bottom: spacing(2);
	border-bottom-width: spacing(.25);

	svg {
		@include font-size(24);
	}

}
