@use "sass:math";

.resource-preview {
    margin-bottom: 24px;
    min-width: 266px;
    overflow: hidden;
    position: relative;
}

.resource-preview img {
    width: 100%;
}

.resource-preview__content {
    height: 100%;
    left: 0;
    padding: spacing(3);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.resource-preview__title,
.resource-preview__intro {
    color: $ui-white;
}

.resource-preview__title {
    @include font('secondary', 'bold');
    font-size: 18px;
    line-height: 27px;
}

.resource-preview__intro {
    @include font('secondary', 'regular');
    font-size: 12px;
    line-height: 17px;
}
