.simple-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-block: spacing(4);
}
    .simple-header__container {
        grid-column: span 8;
        max-width: 100%;
    }

        .simple-header__heading {
            @extend .h3;
        }

        .simple-header__content {
            font-size: 16px;
            // line-height: 1.5;
            // color: $ui-black;
            font-weight: $medium;
        }
