.sticky-cta {
    background-color: $ui-brand;
    color: $ui-grey-3;
    gap: spacing(1);
    display: flex;
    max-width: 360px;
    position: fixed;
    bottom: spacing(2);
    right: spacing(2);

    border-radius: spacing(2);
    z-index: 202;
    padding: spacing(1.5);
    text-decoration: none;
    font-weight: $bold;
    align-items: center;
    transition: all 0.3s ease;


    max-width: 175px; // rem?

    // @include upto(T) {
    //     bottom: spacing(2);
    //     right: 0;
    //     margin-inline: spacing(2);
    // }

    @include from(T) {
        bottom: spacing(3);
        right: spacing(3);
        padding: spacing(2);
        max-width: 210px; // rem?
    }

    &:hover {
        text-decoration: underline;
    }
}

.sticky-cta__text {
    @include font('primary', 'semibold');

    // @extend .h5;

    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 0;

    @include from(T) {
        font-size: 16px;
    }
}

.sticky-cta__image {
    --size: #{spacing(4)};

    clip-path: circle();
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;

    @include from(T) {
        --size: #{spacing(5)};
    }

    img {
        height: 100%;
        width: 100%;
    }
}
