.type-label {
	display: flex;
	align-items: center;
	color: $ui-black;

	&[data-post-type="post"],
	&[data-post-type="news"],
	&[data-post-type="event"] {
		color: $ui-orange;
	}

	&[data-post-type="resource"] {
		color: $ui-blue;
	}

	&[data-colour="green"] {
		color: $ui-brand;
	}
}

	.type-label__icon {
		display: block;
		font-size: 30px;
		height: 1em;
		width: 1em;
		border-radius: 50%;
		border: 8px solid currentColor;
		flex: 0 0 auto;
		margin-right: spacing(1);
		box-sizing: border-box;
	}

	.type-label__name {
		font-size: 14px;
		@include font('secondary');
		flex: 1 1 100%;
		text-transform: uppercase;
		padding-top: .1em;
	}
