/*

---
name: Buttons
category:
 - Components
 - Components/Buttons
---

```html
<a href="#" class="button">Button</a>
```

*/


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.button,
button,
input[type="submit"] {

	@include font('primary', 'bold');
	@include font-size(14);
	display: inline-block;
	border: 1px solid;
	border-radius: 0;
	padding: em(8, 14) em(22, 14);
	text-decoration: none;
	margin-bottom: $space / 2;
	color: color('background');
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition:
		background-color .2s ease,
		border-color .2s ease,
		color .2s ease;

	&:hover,
	&:active,
	&:focus {
		color: color('white');
		background-color: color('body');
		text-decoration: none;
		border-color: color('body');
	}

}

/*

---
name: Text Button
category:
 - Components
 - Components/Text Button
---

```html
<a href="#" class="text-button">Text button!</a>
```

*/

.text-button {

	@include font('primary');
	@include font-size(14);
	display: inline-block;
	text-decoration: none;
	color: color('background');
	cursor: pointer;
	transition:
		background-color .2s ease,
		border-color .2s ease,
		color .2s ease;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}

	&.button--icon svg {
		width: .5em;
		height: .8em;
	}

}


/*

---
name: Button Sizes
category:
 - Components
 - Components/Buttons
---

```html
<a href="#" class="button button--large">Large</a>
```

*/

.button--small {
	padding: em(4, 14) em(15, 14);
}

.button--large {
	@include font-size(18);
}


/*

---
name: Variations
category:
 - Components
 - Components/Buttons
---

```html
<p>
	<a href="#" class="button button--block">Block</a>
</p>

<p>
	<a href="#" class="button button--tag">Tag</a>
</p>

<p>
	<a href="#" class="button button--disabled">Disabled (link)</a>
</p>

<p>
	<button disabled>Disabled (button)</button>
</p>

<p>
	<input type="submit" disabled value="Disabled (submit)" />
</p>
```

*/

// Full bleed
.button--block {
	display: block;
}

.button--tag {
	@include font('secondary', 'medium');
	@include font-size(12);
	padding: em(3, 12) em(8, 12);
	text-transform: uppercase;
}

.button--disabled,
button[disabled],
input[type="submit"][disabled] {
	cursor: default;
	pointer-events: none;
	background: color('grey');
	color: color('white');
}

.button--dark {

	background-color: color('body');
	color: color('white');
	border-color: color('body');

	&:hover,
	&:active,
	&:focus {
		background-color: color('white');
		color: color('body');
	}

}

.button-group {
	margin-bottom: 8px;

	.button:not(:last-child) {
		margin-right: 16px;
	}

}

/*

---
name: List
category:
 - Components
 - Components/Buttons
---

```html
<ul class="button__list">

	<li>
		<a class="button button--tag" href="#">Button 1</a>
	</li>

	<li>
		<a class="button button--tag" href="#">Button 2</a>
	</li>

	<li>
		<a class="button button--tag" href="#">Button 3</a>
	</li>

</ul>
```

*/

/* ul */ .button__list {

	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;

	li {
		float: left;
		margin: 0 em(10) em(10) 0;
		padding: 0;
		list-style-type: none;
	}

	.button {
		margin-bottom: 0;
	}

}


/*

---
name: Social
category:
 - Components
 - Components/Buttons
---

```html
<ul class="button__list button__social">
	<li><a target="_blank" class="button" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg></a></li>
	<li><a target="_blank" class="button" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg></a></li>
	<li><a target="_blank" class="button" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg></a></li>
	<li><a target="_blank" class="button" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use></svg></a></li>
</ul>
```

*/

.button__social {

	li {
		float: left;
		margin-bottom: 0;
		padding: 0;
		margin-right: spacing(1);
	}

	a {

		width: 1.5rem;
		height: 1.5rem;
		text-align: center;
		padding: 0;
		fill: color('body');

		&:hover,
		&:focus,
		&:active {
			fill: color('white');
		}

	}

	.site-header & a {
		border: 0;
	}

	svg {
		height: .8rem;
		max-width: .8rem;
		vertical-align: bottom;
	}

}


/*

---
name: Icons
category:
 - Components
 - Components/Buttons
---

```html
<p>
	<a class="button button--block button--icon button--icon--reverse button--icon--stroke" href="#">Download<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download"></use></svg></a>
</p>

<p>
	<a class="button button--block button--large button--icon button--icon--reverse button--icon--stroke" href="#">Large Download<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download"></use></svg></a>
</p>
```

*/

.button--icon svg {
	width: 1.3em;
	height: 1.3em;
	margin-right: .5em;
	margin-top: -3px;
	fill: currentColor;
}

.button--icon--reverse svg {
	margin-right: 0;
	margin-left: .5em;
}

.button--icon--stroke {
	stroke: currentColor;
}


/*

---
name: Colours
category:
 - Components
 - Components/Buttons
---

```html
<p style="background-color: #B6C505; padding: 1em;">
	<a class="button button--white" href="#">White</a>
</p>
```

*/

.button--white {
	color: map-get($colours, 'white');
}
