/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.button,
button,
input[type="submit"] {
	@include font(secondary, medium);
	@include font-size(16);
	display: inline-block;
	border: 1px solid;
	border-radius: 0;
	padding: em(10, 16) em(15, 16);
	text-decoration: none;
	margin-bottom: $space / 2;
	color: color('background');
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background: transparent;
	cursor: pointer;
	transition: color .2s ease;

	&:hover,
	&:active,
	&:focus {
		color: color('brand');
	}
}


 //*************
// BUTTON SIZES

.button--small {
	@include font-size(12);
	padding: em(5, 12) em(8, 12);
}

.button--medium {
	@include font-size(16);
	padding: em(15, 16) em(20, 16);
}

.button--large {
	@include font-size(18);
	padding: em(15, 18) em(25, 18);
}

// This is often used inside the hero sections
.button--huge {
	@include font-size(22);
	padding: em(25, 20) em(100, 20);
}


 //***********
// VARIATIONS

// Uppercase
.button--uppercase {
	text-transform: uppercase;
}

// Full bleed
.button--block {
	display: block;
}

// Left Align
.button--left {
	text-align: left;
}

// Remove the Margin
.button--flatten {
	margin-bottom: 0;
}

// Remove the Border
.button--open {
	border: 0;
}

.button--tag {
	@include font('secondary', 'bold');
	@include font-size(14);
	padding: em(10, 14) em(15, 14);
}

// Sub-heading within buttons
// Must be used with a span element

.button__sub-text {
	display: block;
	font-size: 75%;
	font-style: italic;
}

.button--disabled {
	cursor: default;
	pointer-events: none;
	background: color('grey');
	color: color('white');
}

.button--thick {
	border-width: 2px;
}


 //************
// BUTTON LIST

/* ul */ .button__list {

	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;

	li {
		float: left;
		margin: 0 em(10) em(10) 0;
	}

	.button {
		margin-bottom: 0;
	}

}


 //**************
// BUTTON SOCIAL

.button__social {

	li {
		margin-bottom: 0;
	}

	a {
		width: 1.5rem;
		height: 1.5rem;
		text-align: center;
		padding: 0;
		fill: color('mid-grey');
		border: 0;

		&:hover,
		&:focus {
			fill: color('light-grey');
		}

		&:active {
			fill: color('mid-grey');
		}
	}

	svg {
		height: .8rem;
		max-width: 1.5rem;
	}
}


 //**************
// COLOR OPTIONS

@each $name, $color in $button-colors {

	.button--#{$name} {
		color: $color;
	}

}

@each $name, $primary, $contrast in $button-colors {

	.button--solid-#{$name} {

		background-color: $primary;
		border-color: $primary;
		color: $contrast;

		&:hover,
		&:focus,
		&:active {
			color: $contrast;
			text-decoration: underline;
		}

	}

}
