.card {

	position: relative;
	background-color: color('white');
	color: color('body');
	box-shadow: 0 0 4px 0 rgba(179, 179, 179, .5);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: box-shadow .3s ease;
	margin-bottom: spacing(2);

	@include mq(M) {
		margin-bottom: spacing(4);
	}

	&:hover {
		box-shadow: 0 0 4px 0 rgb(179, 179, 179);
	}

}

.card__featured-media {
	width: 100%;
}

.card__content {
	padding: spacing(2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 auto;
}

.card__heading {
	@include font('secondary', 'medium');
	margin-bottom: 0;
}

.card__link {

	color: currentColor;

	&:before {
		bottom: 0;
		content: "";
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		white-space: nowrap;
		z-index: 1;
	}

}

.card__strap {
	@extend p.smallest;
	margin-top: spacing(2);
	margin-bottom: auto;
}

.card__meta {

	@include font-size(12);
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 0;

	&:not(.card__meta--alt) {

		.card__date,
		.card__author {
			display: block;
		}

	}

}

.card__type {

	@include font('secondary', 'medium');
	background-color: color('brand');
	padding: .125em .42em;
	margin-right: .5em;
	text-transform: uppercase;

	@each $post-type, $colour in $post-types {

		&[data-content-type="#{$post-type}"] {
			background-color: #{$colour};
			color: color('white');
		}

	}

}

.card__date {
	margin-right: 1em;
}

/*

---
name: Primary Card
category:
 - Components/Card
---

Within the primary card example the image, strap and meta information are all optional. Specify the class `.card__media--right` on the image to align to the right.

```html
<div class="card card--primary">

	<div class="card__content">

		<div class="card__title">

			<img class="card__media" src="//placehold.it/300" />

			<h6 class="card__heading">
				<a class="card__link" href="#">How to Open Contracting? A New Guide for Governments</a>
			</h6>

		</div>

		<p class="card__strap">Here there will be some information about what the link contains&hellip;</p>

		<p class="card__meta">
			<time class="card__date" datetime="2001-05-15T19:00">8 Jun 2017</time>
			<span class="card__author">By Georg Nueman</span>
		</p>

	</div>

</div>
```

*/

.card--primary {

	.card__title {
		display: flex;
		justify-content: space-between;
	}

	.card__media {

		flex: 0 0 52px;
		height: 52px;
		width: 52px;
		margin-right: em(16);

		&.card__media--right {
			margin-right: 0;
			margin-left: em(16);
			order: 2;
		}

	}

	.card__heading {
		flex: 1 1 100%;
	}

}

/*

---
name: Secondary Card
category:
 - Components/Card
---

Within the secondary card example the image, strap and meta information are all optional. Specify the class `.card__media--right` on the image to align to the right.

```html
<div class="card card--secondary">

	<img class="card__media card__media--right" src="//placehold.it/300" />

	<div class="card__content">

		<div class="card__title">

			<img class="card__media card__media--right" src="//placehold.it/300" />

			<h6 class="card__heading">
				<a class="card__link" href="#">How to Open Contracting? A New Guide for Governments</a>
			</h6>

		</div>

		<p class="card__strap">Here there will be some information about what the link contains&hellip;</p>

		<p class="card__meta">
			<time class="card__date" datetime="2001-05-15T19:00">8 Jun 2017</time>
			<span class="card__author">By Georg Nueman</span>
		</p>

	</div>

</div>
```

*/

.card--secondary {

	padding: 0;

	.card__title {

		display: flex;
		justify-content: space-between;

		.card__media {

			flex: 0 0 52px;
			width: 52px;
			height: 52px;
			margin: -8px 8px 0 -8px;

			&.card__media--right {
				margin: -8px -8px 0 8px;
				order: 2;
			}

		}

	}

	.card__heading {
		flex: 1 1 100%;
	}

	> .card__media {

		flex: 0 0 152px;
		height: 152px;
		width: 152px;
		margin-right: 0;

		&.card__media--right {
			order: 2;
		}

	}

	.card__content {
		padding: spacing(1);
		flex: 1 1 100%;
	}

	&[max-width~="500px"] {

		// overwrite this specific heading to fit within the card
		h6 {
			@include font-size(16);
			line-height: 1.25;
		}

		> .card__media {
			display: none;
		}

		.card__strap,
		.card__meta {
			margin-top: 8px;
		}

	}

	&[min-width~="500px"] {

		flex-direction: row;

		.card__title .card__media {
			display: none;
		}

		.card__content {
			padding: spacing(2);
		}

	}

}

/*

---
name: Primary Card with Featured Media
category:
 - Components/Card
---

The primary card can be accompanied with a header, a section that sits outside the inner padding and can be used for featured images, etc.

```html
<div class="card card--primary">

	<div class="card__header">
		<img class="card__featured-media" src="//placehold.it/300x200" />
	</div>

	<div class="card__content">

		<div class="card__title">

			<h6 class="card__heading">
				<a class="card__link" href="#">How to Open Contracting? A New Guide for Governments</a>
			</h6>

		</div>

		<p class="card__strap">Here there will be some information about what the link contains&hellip;</p>

		<p class="card__meta">
			<time class="card__date" datetime="2001-05-15T19:00">8 Jun 2017</time>
			<span class="card__author">By Georg Nueman</span>
		</p>

	</div>

</div>
```

*/

/*

---
name: Primary Card with Alternative Meta
category:
 - Components/Card
---

The primary card can be accompanied with a header, a section that sits outside the inner padding and can be used for featured images, etc.

```html
<div class="card card--primary">

	<div class="card__content">

		<div class="card__title">

			<h6 class="card__heading">
				<a class="card__link" href="#">How to Open Contracting? A New Guide for Governments</a>
			</h6>

		</div>

		<p class="card__meta card__meta--alt">
			<span class="card__type">Blog</span>
			<time class="card__date" datetime="2001-05-15T19:00">8 Jun 2017</time>
			<span class="card__author">By Georg Nueman</span>
		</p>

	</div>

</div>
```

*/

/*

---
name: Content Spine
category:
 - Components/Card
---

Based on the primary card, the content spine element sits within the header and allows an icon, title and meta to be displayed.

```html
<div class="card card--primary">

	<div class="card__header / card--content-spine" data-content-type="resource">

		<div class="content-spine__icon">
			<svg><use xlink:href="#icon-resource"></svg>
		</div>

		<span class="content-spine__title">Report</span>

		<span class="content-spine__meta">2016</span>

	</div>

	<div class="card__content">

		<div class="card__title">

			<h6 class="card__heading">
				<a class="card__link" href="#">Statement on the resignation of the Ukranian Minister of Economic Development and Trade Abromavicius</a>
			</h6>

		</div>

		<p class="card__meta">
			<time class="card__date" datetime="2001-05-15T19:00">8 Jun 2017</time>
			<span class="card__author">By Open Contracting Partnership</span>
		</p>

	</div>

</div>
```

*/

.card--content-spine {

	border-bottom: 1px solid rgba(224, 224, 224, .25); // ATTN: at 1px (design specified .5px) this colour is too dark
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	color: color('white');

	@each $post-type, $colour in $post-types {

		&[data-content-type="#{$post-type}"] {
			background-color: #{$colour};
		}

	}

}

.content-spine__icon {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	margin-left: 7px;

	svg {
		fill: color('white');
		stroke: color('white');
		max-width: 23px;
		max-height: 23px;
	}

}

.content-spine__title,
.content-spine__meta {
	@include font-size(17);
	@include font('secondary', 'medium');
	text-transform: uppercase;
	margin: 3px 0 0;
}

.content-spine__title {
	margin-right: auto; // the space to the right of the title should always be expandable
}

.content-spine__meta {
	margin-right: spacing(1);
}


/*

---
name: Content Card
category:
 - Components/Card
---

```html
<div class="card card--content">

	<div class="card--content__inner">

		<div class="card__icon" data-content-type="news">
			<svg><use xlink:href="#icon-news"></svg>
		</div>

		<div class="card__content">

			<span class="card-content__type">News</span>

			<p class="card__heading">
				<a class="card__link" href="#">Statement on the resignation of the Ukranian Minister of Economic Development and Trade Abromavicius</a>
			</p>

		</div>

	</div>

</div>
```

*/

.card--content {
}

.card__header {
	flex: 0 0 auto;
}

.card--content__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card--content .card__icon {

	padding: spacing(2);
	padding-right: 0;
	flex: 0 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;

	svg {
		max-width: 30px;
		max-height: 30px;
	}

	@each $post-type, $colour in $post-types {

		&[data-content-type="#{$post-type}"] svg {
			stroke: #{$colour};
		}

	}

}

.card--content .card__content {
	flex: 1 1 100%;
}

.card-content__type {
	@include font-size(12);
	@include font('primary', 'bold');
	text-transform: uppercase;
}

.card--content .card__heading {
	@include font('primary');
	@include font-size(14);
}


/*

---
name: Content Card with Image
category:
 - Components/Card
---

```html
<div class="card card--content">

	<div class="card__header">
		<img class="card__featured-media" src="//placehold.it/300x200">
	</div>

	<div class="card--content__inner">

		<div class="card__icon" data-content-type="news">
			<svg><use xlink:href="#icon-news"></svg>
		</div>

		<div class="card__content">

			<span class="card-content__type">News</span>

			<p class="card__heading">
				<a class="card__link" href="#">Statement on the resignation of the Ukranian Minister of Economic Development and Trade Abromavicius</a>
			</p>

		</div>

	</div>

</div>
```

*/

/*

---
name: Event Card
category:
 - Components/Card
---

```html
<div class="card card--event">

	<div class="card-event__date">
		<span class="card-event__day">21</span>
		<span class="card-event__month">Jun</span>
	</div>

	<div class="card__content">

		<h6 class="card__heading">
			<a class="card__link" href="#">Statement on the resignation of the Ukranian Minister of Economic Development and Trade Abromavicius</a>
		</h6>

	</div>

</div>
```

*/

.card--event {

	flex-direction: row;
	text-decoration: none;
	margin-bottom: 16px;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

}

.card-event__date {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid rgba(224, 224, 224, .25); // ATTN: at 1px (design specified .5px) this colour is too dark
	padding: spacing(2) spacing(1);
	flex: 0 0 spacing(7);
	transition: background-color .3s ease;

	.active .card--event &,
	.card--event:hover & {
		background-color: post-color('event');
	}

}

.card-event__day,
.card-event__month {

	@include font-size(17);
	@include font('secondary', 'bold');
	color: post-color('event');
	line-height: 1.2;
	text-transform: uppercase;
	transition: color .3s ease;

	.active .card--event &,
	.card--event:hover & {
		color: color('white');
	}

}

.card-event__month {
	@include font-size(20);
}

.card--event .card__content {
	flex: 0 1 100%;
	padding: spacing(1);
}

.card--event .card__heading {

	@include font-size(16);
	@include font('secondary', 'medium');

	a:hover,
	a:active {
		text-decoration: none;
	}

}
