.custom-checkbox {

	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}

	label {
		@include font(secondary, bold);
		@include font-size(18);
		color: color('background');
		margin-bottom: 1.4em;
	}

	span {
		display: inline-block;
		width: 2em;
		height: 2em;
		outline: 1px solid;
		background-color: color('white');
		margin-right: 1.35em;
		vertical-align: middle;
		position: relative;
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		fill: color('background');
		transform: translateX(-50%) translateY(-50%) scale(0);
		transition: transform cubic-bezier(.82, -.62, .74, .05) .2s;
	}

	input[type="radio"]:checked + span svg,
	input[type="checkbox"]:checked + span svg {
		transform: translateX(-50%) translateY(-50%) scale(.15);
		transition: transform cubic-bezier(.46, -.53, .03, 1.71) .2s;
	}
}
