/*

---
name: Content Title
category:
 - Components/Content Title
---

```html
<div class="content-title">

	<span class="card__type" data-content-type="news">News</span>

	<a class="content-title__link" href="#">View all news</a>

</div>
```

*/

.content-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid color('lighter-grey');
	padding-bottom: spacing(1);
	margin-bottom: spacing(3);
}

.content-title .card__type {

	@include font-size(12);

	@include mq(M) {
		@include font-size(17);
	}

}

.content-title__link {
	@include font-size(14);
	color: color('mid-grey');
}
