/*------------------------------------*\
	ISLAND
\*------------------------------------*/
// The island object is used to create a standard square shaped widget.
// This object will handle padding, colour, text shadow etc.

.island {
	padding: em(10);
	margin-bottom: $space;

	@include mq(M) {
		padding: em(25);
	}

	img {
		width: 100%;
	}
}

.island--thin {
	padding: em(12);
}

.island--thick {

	@include mq(M) {
		padding: em(50) em(50) em(100);
	}
}

// Island with zero margin-bottom
.island--flat-bottom {
	padding-bottom: 0;
}

// Island with a border around it
.island--bordered {
	border: 1px solid color('brand');
	padding: em(10);
}
