/*------------------------------------*\
	MEDIA OBJECT
\*------------------------------------*/

// - This object is used with other objects to create floated elements
// More info here: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

// <section class="media">
// 	<div class="media__object">
// 		<img src="http://placehold.it/76x63" alt="" />
// 	</div>
// 	<div class="media__body">
// 		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
// 	</div>
// </section>

.media {
	display: block;
}

.media__object {
	float: left;
	margin-right: 1em;
}

.media--reversed .media__object {
	float: right;
	margin-left: 1em;
	margin-right: 0;
}

.media__body {
	overflow: hidden;
	display: block;
}
