.page-strip {

	@include break;
	overflow: hidden;
	display: block;
	padding: 3em 0;
	margin-bottom: 3px;
	background-color: color('brand');

	&:last-child {
		margin-bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: underline;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}

	}

}

.page-strip__media {

	@include break;

	@include mq(L) {
		@include span(2 of 12);
	}

	> :last-child {
		margin-bottom: 0;
	}

}

.page-strip__content {

	@include mq(L) {
		@include span(8 of 12);
	}

	> :last-child {
		margin-bottom: 0;
	}

}
