.page-strip {
	@include break;
	overflow: hidden;
	display: block;
	margin-bottom: em(40);
}

.page-strip__media {
	margin-bottom: 3em;

	@include mq(L) {
		@include span(4 of 12 first);
		padding-right: span(1 of 12) / 2;
		margin-bottom: 0;
	}
}

.page-strip__content {

	@include mq(L) {
		@include span(6 at 5 of 12 last);
		margin-right: span(2 of 12) + gutter();
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.page-strip--reverse {

	@include mq(L) {
		.page-strip__content {
			@include span(6 at 2 of 12 first);
			margin-left: span(1 of 12) + gutter();
		}

		.page-strip__media {
			@include span(5 at 7 of 12 last);
			padding-left: span(1 of 12) / 2;
			padding-right: 0;
		}
	}
}



.page-strip--brand {
	background-color: color('brand');
}

.page-strip--teal,
.page-strip--dark-background,
.page-strip--background,
.page-strip--teal {
	padding: em(75) 0;
}

.page-strip--teal,
.page-strip--dark-background,
.page-strip--background {

	color: color('white');

	a {
		color: inherit;
		text-decoration: underline;
	}

}

.page-strip--teal {
	background-color: color('teal');
}

.page-strip--dark-background {
	background-color: color('dark-background');
}

.page-strip--background {
	background-color: color('background');
}
