.post-object {
	display: block;
	clear: both;
	margin-bottom: em(10);

	h4 {
		line-height: 1.25;
		margin-bottom: 1em;
	}

	p {
		margin-bottom: 0;
	}
}

.home .post-object {
	background-color: color('dark-background');
	color: color('white');
}

.post-object {
	text-decoration: none;

	&:hover,
	&:active {

		h4 {
			text-decoration: underline;
		}
	}

	&:focus {

		h4 {
			text-decoration: none;
		}
	}
}

.post-object__content {
	padding-top: em(9);
}

.post-object--vertical {

	.post-object__content {
		padding: em(21);
	}

	.post-object__media {
		position: relative;
	}

	.post-object__tag {
		padding: em(9) em(21);
		background-color: color('dark-background');

		@include mq(M) {
			position: absolute;
			bottom: -1px;
			left: 0;
		}
	}

	p {
		@include font-size(18);
	}
}

.post-object--horizontal {
	overflow: hidden;

	.post-object__media {
		margin-right: em(16);
	}

	p {
		@include font-size(16);
	}
}
