.post-object {
	display: block;
	margin-bottom: em(10);
	text-decoration: none;

	h4 {
		line-height: 1.25;
		margin-bottom: 1em;
	}

	p {
		margin-bottom: 0;
	}

	&:hover,
	&:active {
		text-decoration: none;

		h4 {
			text-decoration: underline;
		}
	}

	&:focus {
		text-decoration: none;

		h4 {
			text-decoration: none;
		}
	}
}

.home .post-object {
	background-color: color('dark-background');
	color: color('white');
}

.post-object__content {
	padding-top: em(9);
}

.post-object--vertical {

	.post-object__content {
		padding: em(21);
	}

	.post-object__media {
		position: relative;
	}

	.post-object__tag {
		@include font(secondary);
		@include font-size(16);
		text-transform: uppercase;
		padding: em(9, 16) em(21, 16);
		background-color: color('dark-background');

		@include mq(M) {
			position: absolute;
			bottom: -1px;
			left: 0;
		}
	}

	p {
		@include font-size(18);
	}
}

.post-object--horizontal {
	overflow: hidden;

	.post-object__media {
		margin-right: em(16);
	}

	p {
		@include font-size(16);
	}
}

.post-object--light {
	color: color('dark-grey');
	border: 1px solid color('lighter-grey');

	.post-object__tag {
		color: color('white');

		@include mq(M) {
			bottom: 0;
		}
	}

	.post-object__content {
		background-color: color('white');
		border-top: 1px solid color('lighter-grey');
	}

	.post-object__content-meta {
		@include font-size(14);
		color: color('mid-grey');
		text-transform: uppercase;
		margin-bottom: em(21, 14);
	}

	.post-object__author {
		margin-right: em(11, 14);
	}

	.post-object__comment-count {
		float: right;
	}

	h4 {
		@include font(secondary);
		@include font-size(24);
		line-height: 1.16;
		margin-bottom: 0;
	}
}

.post-object--featured {

	.post-object--featured__title {
		position: absolute;
		bottom: 53px;
		left: 16px;
		right: 55px;
	}

	.post-object__tag {
		@include font-size(18);
		position: static;
	}

	h4 {
		@include font-size(32);
		line-height: 1.7;
	}

	p {
		@include font(secondary);
	}
}
