.post-object {
	display: block;
	margin-bottom: em(10);
	text-decoration: none;

	h4 {
		line-height: 1.25;
		margin-bottom: 1em;
	}

	.archive-posts & {
		@include mq(M) {
			@include span(4 of 12 first);

			&:nth-child(3n) {
				@include last();
			}

			&:nth-child(3n+1) {
				@include break();
			}
		}
	}
}

a.post-object {

	&:hover,
	&:active {
		text-decoration: none;

		h4 {
			text-decoration: underline;
		}
	}

	&:focus {
		text-decoration: none;

		h4 {
			text-decoration: none;
		}
	}

}

.post-object__meta {
	@include font-size(14);
	@include font('secondary', 'medium');
	color: color('background');
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 1em;
}


 //****
// TAG

.post-object__tag {
	@include font-size(16);
	@include font('secondary', 'medium');
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: em(9, 16) em(21, 16);
	background-color: color('dark-background');
	color: color('white');
}

.post-object__tag--light {
	background-color: color('white');
	color: color('background');

}



.home {

	.post-object {
		background-color: color('dark-background');

		h4 {
			@include font('secondary', 'bold');
			@include font-size(22);
			color: color('lightest-grey');
			background-color: color('lilac');
			padding: 0;
		}

		p {
			@include font('secondary');
			color: color('lighter-grey');
		}
	}

	.post-object--horizontal {
		height: em(154);

		h4 {
			display: inline;
			background-color: color('lilac');
			box-shadow: 5px 0 0 color('lilac'), -5px 0 0 color('lilac');
			box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
			line-height: 1.3;
			padding: 0;
		}

		p {
			margin-top: .5rem;
		}
	}
}

.post-object--event {
	display: flex;
	border: 1px solid color('lightest-grey');

	.post-object__media,
	.post-object__content {
		padding: 1rem;
	}

	.post-object__media {
		@include font('secondary', 'bold');
		@include font-size(48);
		background-color: color('blue');
		color: color('white');
		text-align: center;
		line-height: .9;
		width: em(127, 48);

		span {
			@include font-size(20);
		}
	}

	.post-object__content {
		flex: 1;
	}

	h4 {
		@include font('secondary', 'medium');
		@include font-size(28);
		color: color('background');
		margin-bottom: em(10, 28);
	}

	.event__location {
		@include font('secondary', 'medium');
		@include font-size(14);
		color: color('background');
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		margin-bottom: 1em;
	}
}

.post-object__content {
	padding: .5rem .5rem .5rem 1em;
}


 //*********
// VERTICAL

.post-object--vertical {

	border: 1px solid color('lightest-grey');

	h4 {
		@include font-size(22);
		@include font('secondary', 'bold');
		line-height: 1.2;
		color: color('background');
	}

	.post-object__content {

		padding: em(21);

		:last-child {
			margin-bottom: 0;
		}

	}

	.post-object__media {

		position: relative;

		.post-object__tag {
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}

}


 //**********
// SPOTLIGHT

.post-object--spotlight {

	.post-object--spotlight__title {
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		opacity: .9;

		h4 {
			background-color: color('purple');
			margin-bottom: 0;
			padding: .85rem 1.1rem;
		}
	}

	.post-object__tag {
		@include font('secondary', 'bold');
		color: color('white');
		position: static;
		display: inline-block;
		background-color: color('purple');
	}
}

.post-object--blog {

	.post-object--blog__title {
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		opacity: .9;

		h4 {
			background-color: color('lilac');
			margin-bottom: 0;
			padding: .85rem 1.1rem;
		}
	}

	.post-object__tag {
		@include font('secondary', 'bold');
		color: color('white');
		position: static;
		display: inline-block;
		background-color: color('lilac');
	}
}

.post-object--horizontal {
	overflow: hidden;

	p {
		@include font-size(16);
	}
}

.post-object--horizontal--small {

	.post-object__media {
		width: em(122);
		height: em(97);
		background: color('brand');
		position: relative;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	h4 {
		@include font(secondary, bold);
		@include font-size(22);
		line-height: 1.2;
		color: color('dark-grey');
		margin: -12px 0 0;
	}

	p {
		@include font(secondary, medium);
		@include font-size(14);
		line-height: 1.8;
		color: color('background');
		text-transform: uppercase;
	}
}

.post-object--resource {
	border: 1px solid color('lighter-grey');
	display: flex;
	flex-direction: row-reverse;

	.post-object--resource__media {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 5.3em;
	}

	.post-object--resource__icon {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: color('teal');
	}

	.post-object--resource__type {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-left: 1px solid color('lighter-grey');
	}

	.post-object__content {
		flex: 1;
		padding: 1rem;
	}

	svg {
		width: 4.26667em;
		height: 1.73em;
	}

	.button {
		@include font-size(12);
		letter-spacing: 1px;
		border: 0;
		margin: 0;
	}

	h4 {
		@include font('secondary', 'medium');
		@include font-size(20);
		line-height: 1.3;
		color: color('background');
		margin-bottom: 0;
	}

	p {
		@include font('secondary');
		@include font-size(13);
		color: color('mid-grey');
		display: flex;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 1rem;

		span {
			flex: 1;
		}
	}

	time {
		padding: 0 1em;
	}
}

.post-object--light {
	color: color('dark-grey');
	border: 1px solid color('lighter-grey');

	.post-object__tag {
		color: color('white');

		@include mq(M) {
			bottom: 0;
		}
	}

	.post-object__content {
		background-color: color('white');
		border-top: 1px solid color('lighter-grey');
	}

	.post-object__content-meta {
		@include font-size(14);
		color: color('mid-grey');
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: em(21, 14);
	}

	.post-object__author {
		margin-right: em(11, 14);
	}

	.post-object__comment-count {
		float: right;
	}

	h4 {
		@include font(secondary);
		@include font-size(24);
		line-height: 1.16;
		margin-bottom: 0;
	}
}


 //******
// BASIC

.post-object--basic {

	padding-top: em(8);
	padding-bottom: em(8);

	h3 {
		@include font-size(30);
		@include font('secondary', 'bold');
		margin-bottom: em(6, 30);
	}

	a {
		color: color('background');
	}

	.post-object__meta {
		@include font-size(14);
		@include font('secondary', 'medium');
		color: color('background');
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 0;
	}

}


 //*********
// FEATURED

.post-object--featured {

	position: relative;

	.post-object__content {

		position: absolute;
		bottom: em(50);
		left: em(25);
		right: em(65);

		:last-child {
			margin-bottom: 0;
		}

	}

	.post-object__tag {
		margin-left: -10px;
		padding: em(13);
	}

	h4 {

		@include font-size(40);
		color: color('white');
		margin: 0;

		span {
			@include font(secondary, bold);
			display: inline;
			background-color: color('dark-background');
			box-shadow: .57143rem 0 0 color('dark-background'), -.57143rem 0 0 color('dark-background');
			box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
			line-height: 1.45;
			padding: 7px 0;
		}

	}

	.post-object__meta {
		@include font-size(14);
		@include font('secondary', 'bold');
		background-color: color('dark-background');
		display: inline-block;
		color: color('white');
		padding: em(13);
		display: inline-block;
		margin-left: -10px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

}
