.custom-radio {

	input[type="radio"] {
		display: none;
	}

	label {
		@include font(secondary, bold);
		@include font-size(14);
		color: color('background');
	}

	span {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		border: 0 solid currentColor;
		outline: 1px solid;
		margin-right: 1.35em;
		vertical-align: middle;
		background-color: transparent;
		transition: border-width linear .2s;
	}

	input[type="radio"]:checked + span {
		border-width: .5em;
	}
}
