.related-posts {
	border-top: 1px solid color('background');

	h2 {
		text-transform: uppercase;
		margin: em(55) 0;
		text-align: center;
	}
}

.related-posts__inner {
	margin-left: em(-10);
}

.related-post {
	width: 33.3%;
	border-left: solid em(10) transparent;
	float: left;
	margin-bottom: em(10);
}
