
/*

---
name: Filter
category:
 - Components/Resources
---

```html
<label class="resource-filter / custom-checkbox">
	<input type="checkbox" value="annual-report">
	<span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></span>
	Annual Report
</label>
```

*/

.resource-filter {

	@include font('secondary');
	@include font-size(17);
	padding: em(10, 17) em(16, 17);
	color: color('background');
	background-color: color('white');
	border-bottom: 1px solid color('grey');
	margin-bottom: em(10);
	user-select: none;

	span {
		margin-bottom: 1px;
	}

}
