
/*

---
name: Search
category:
 - Components/Resources
---

```html
<div class="resource-search__container">
	<svg><use xlink:href="#icon-search"></svg>
	<input type="search" placeholder="Search for resources" class="resource-search">
</div>
```

*/

.aigis-preview {
	background-color: #23B2AD;
}

.resource-search__container {
	position: relative;
	color: color('mid-grey');
}

.resource-search__container > svg {
	font-size: 17px;
	fill: currentColor;
	position: absolute;
	top: 50%;
	width: 1em;
	height: 1em;
	transform: translate(14px, -50%);
	pointer-events: none;
}

input[type="search"].resource-search {

	@include font-size(17);
	-webkit-appearance: none;
	line-height: 1;
	border: 0;
	border-radius: 0;
	background-color: color('white');
	padding: em(11, 17) em(27, 23);
	padding-left: em(45, 17);
	margin-bottom: 0;

	&::-webkit-input-placeholder {
		line-height: normal;
	}

}
