.stat-module {
	text-align: center;

	@include mq(M) {
		@include span(4 of 12);

		&:first-child {
			@include first();
		}

		&:last-child {
			@include last();
		}
	}

	span {
		@include font('secondary')
		@include font-size(84);
		color: color('brand');
		display: block;
		line-height: 1.2;
		margin-bottom: .5em;
	}

	p {
		@include font('secondary', 'medium');
		@include font-size(18);
		color: color('light-grey');
		width: 60%;
		margin: 0 auto;
	}
}
