.stat-module {
	text-align: center;
	margin-bottom: 2em;

	@include mq(M) {
		@include span(4 of 12);
		margin-bottom: 0;

		&:first-child {
			@include first();
		}

		&:last-child {
			@include last();
		}
	}

	span {
		@include font('secondary', 'bold');
		@include font-size(64);
		color: color('white');
		display: block;
		line-height: .8;
		margin-bottom: 30px;

		@include mq(L) {
			@include font-size(95);
		}
	}

	div {
		text-align: left;
		margin: 0 auto;

		@include mq(L) {
			width: 65%;
		}
	}

	p {
		@include font('secondary', 'bold');
		@include font-size(16);
		text-transform: uppercase;
		letter-spacing: 1px;
		display: inline;
		color: color('white');
		background-color: color('background');
		box-shadow: .57143rem 0 0 color('background'), -.57143rem 0 0 color('background');
		box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
		line-height: 1.45;
		padding: 5px 0;
	}
}
