.stat-module {

	span {
		@include font-size(52);
		display: block;
		text-align: center;
		line-height: 1.2;
		margin-bottom: .5em;
	}

	p {
		@include font-size(18);
		width: 80%;
		margin: 0 auto;
	}
}
