.subscribe__alert {

	@include font-size(14);
	@include font('secondary', 'medium');
	text-transform: uppercase;
	letter-spacing: 1px;

	svg {
		height: .8em;
		width: .8em;
		margin-right: .5em;
		vertical-align: baseline;
		fill: currentColor;
	}

}
