/*

---
name: Tag List
category:
 - Components/Tag List
---

```html
<ul class="tag-list">

	<li class="tag-list__title">Region: </li>

	<li>
		<a href="#">Region 1</a>
	</li>

	<li>
		<a href="#">Region 2</a>
	</li>

	<li>
		<a href="#">Region 3</a>
	</li>

</ul>
```

*/

.tag-list {
	@include font('secondary');
	@include font-size(17);
	@extend .cf;
	text-transform: uppercase;
	margin: 0 0 spacing(.5) 0;
	padding: 0;
	list-style: none;
}

.tag-list li {

	float: left;
	display: flex;
	padding: 0;
	margin: 0;

	&:not(:last-child) {
		margin-right: .25em;
	}

}

.tag-list a {
	color: currentColor;
}

.tag-list li:not(:first-child):not(:last-child)::after {
	content: ', ';
}

.tag-list__title {
	@include font('secondary', 'medium');
}
