/*

---
name: Timeline
category:
 - Components/Timeline
---

```html
<div class="timeline">

	<div class="timeline-item">
		<span class="timeline-item__date">Nov 14</span>
		<a class="timeline-item__title" href="#" title="Download minutes from 1st Advisory Board Meeting [PDF]">1st Advisory <br>Board Meeting <span class="text--nano">[PDF]</span></a>
	</div>

	<div class="timeline-item">
		<span class="timeline-item__date">Apr 15</span>
		<a class="timeline-item__title" href="#" title="Download minutes from 2nd Advisory Board Meeting [PDF]">2nd Advisory <br>Board Meeting <span class="text--nano">[PDF]</span></a>
	</div>

	<div class="timeline-item">
		<span class="timeline-item__date">Nov 15</span>
		<a class="timeline-item__title" href="#" title="Download minutes from 3rd Advisory Board Meeting [PDF]">3rd Advisory <br>Board Meeting <span class="text--nano">[PDF]</span></a>
	</div>

	<div class="timeline-item">
		<span class="timeline-item__date">Apr 16</span>
		<a class="timeline-item__title" href="#" title="Download minutes from 4th Advisory Board Meeting [PDF]">4th Advisory <br>Board Meeting <span class="text--nano">[PDF]</span></a>
	</div>

	<div class="timeline-item timeline-item--large">
		<span class="timeline-item__date">Nov 16</span>
		<a class="timeline-item__title" href="#" title="Download minutes from 5th Advisory Board Meeting [PDF]">5th Advisory <br>Board Meeting <span class="text--nano">[PDF]</span></a>
	</div>

</div>
```

*/

.timeline {
	@include font-size(17);
	@include font('secondary', 'medium');
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	position: relative;
	color: color('mid-grey');
	padding-top: spacing(7);
}

.timeline-item {

	display: block;
	overflow: hidden;
	position: relative;
	display: inline-block;
	text-align: center;

	&:last-child {
		margin-bottom: 1em;
	}

	&:before {
		content: '';
		position: absolute;
		top: em(59, 17);
		bottom: auto;
		right: 0;
		left: 0;
		margin: auto 0;
		height: 1px;
		width: auto;
		background-color: color('lighter-grey');
	}

	&:after {
		content: '';
		position: absolute;
		top: em(52, 17);
		right: 0;
		left: 0;
		margin: auto;
		width: 15px;
		height: 15px;
		background-color: color('brand');
		border-radius: 50%;
		box-shadow: 0 0 6px 7px color('brand', .25);
	}

}

.timeline-item__date {
	@include font-size(14);
	display: block;
	margin-top: em(22, 14);
	text-align: center;
	text-transform: uppercase;

}

.timeline-item__title {

	display: block;
	text-align: center;
	margin-bottom: 0;
	margin-top: em(45, 17);
	line-height: 1.3;
	color: currentColor;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}

	span.text--nano {
		@include font-size(14);
		@include font('secondary');
		display: block;
		text-align: center;
		margin-top: em(5, 14);
	}

}

// LARGE
.timeline-item:last-child,
.timeline-item--large {

	color: color('body');

	&:after {
		top: em(47, 17);
		width: 25px;
		height: 25px;
		box-shadow: 0 0 10px 12px color('brand', .25);
	}

	.timeline-item__date {
		@include font-size(17);
		margin-top: 0;
	}

	.timeline-item__title {

		@include font-size(24);
		@include font('secondary', 'bold');
		margin-top: em(50, 17);

		span.text--nano {
			@include font-size(17);
		}

	}

}

.timeline .slick-prev,
.timeline .slick-next {

	position: absolute;
	z-index: 9;
	top: 0;
	color: color('grey');
	transition: opacity .3s ease;

	&:hover,
	&:focus {
		color: color('mid-grey');
	}

	svg {
		transform: rotate(90deg);
		fill: currentColor;
		width: 20px;
		height: 10px;
	}

	&.slick-disabled {
		opacity: 0;
		pointer-events: none;
	}

}

.timeline .slick-next {

	right: 0;

	svg {
		transform: rotate(270deg);
	}

}
