$heading-sizes: (
    'h1',
    'h2',
    'h3',
    'h4',
    'h5',
    'h6',
);

$heading-margin-adjustments: (
    'half': .5,
    'quarter': .25,
    'none': 0,
);

.heading {
    @extend %heading-margins;

    position: relative;

    @each $size in $heading-sizes {
        &[data-size="#{$size}"],
        &[data-size="default"]:has(#{$size}) {
            @extend .#{$size};

            > .acf-innerblocks-container > * {
                font-size: 1em;
            }
        }
    }

    @each $name, $adjustment in $heading-margin-adjustments {
        &[data-margin="#{$name}"] {
            --heading-margin-adjuster: #{$adjustment};
        }
    }
}

// headings followed by specific elements should have no top margin
