/*------------------------------------*\
    BASE
\*------------------------------------*/

html {
    font-size: $base-font-size + px;
}

body {
    @include font(primary);
    line-height: strip-unit($space);
	background-color: color('white');
    padding: 0;
    margin: 0;
    color: color('body');

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	position: relative;
	right: 0;
	transition: right .3s ease;

	&.mobile-active {
		right: 90%;
		overflow: hidden;
	}

	@include mq(M) {

		&.mobile-active {
			right: auto;
			overflow: initial;
		}
	}
}

main {
    overflow: hidden;
}

article {
	overflow: scroll;
}


 //**********************
// TEXT RELATED ELEMENTS

p,
ul,
ol,
dl {
	line-height: strip-unit($space);
    margin-bottom: $space; // Typically the margin-bottom matches the line-height.
}

.text--bigger {
	@include font-size(22);
}

.text--mini {
	@include font-size(16);
}

.text--micro {
	@include font-size(14);
}

.text--nano {
	@include font-size(12);
}

small {
	@extend .text--mini;
}

.text--style-italic {
	font-style: italic;
}

abbr {
}

p > strong,
p > b,
span > strong,
span > strong {
	@include font(primary, bold);
}

i,
em {
	font-style: italic;
}


 //***********
// BLOCKQUOTE

blockquote,
.strapline {
	@include font('secondary', 'medium');
    @include font-size(29);
    padding: 0 0 0 em(35, 29);
    margin: 0 0 1.5em;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: em(8, 29);
        left: 0;
        height: 80%;
        width: 10px;
        background-color: color('brand');
    }

    p {
        @include font('secondary');
        font-size: 1em;
        line-height: 1.4;
        margin-bottom: $space / 2;
    }

    footer {
        font-size: em(14, 29);
        text-transform: uppercase;
        display: block;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.strapline {
	@include font('secondary', 'regular');
	@include font-size(22);
}


 //****************
// HORIZONTAL RULE

hr {
	border: 0 solid color('body');
	border-top-width: 1px;
	height: 1px;
	margin: 0 0 1em;
}


 //************
// MISC STYLES

::-moz-selection {
    background: color('brand');
    color: color('white');
    text-shadow: none;
}

::selection {
    background: color('brand');
    color: color('white');
    text-shadow: none;
}


 //*********
// CLEARFIX

.cf:after {
    content: '';
    display: block;
    clear: both;
}

// Completely remove from the flow and screen readers.

.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

// Completely remove from the flow but leave available to screen readers.

.is-visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}


/*------------------------------------*\
	HELPERS
\*------------------------------------*/

 //*******
// FLOATS

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}


 //***************
// TEXT ALIGNMENT

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}


 //***************
// INLINE SPACING

// Used to provide some spacing between two inline elements (like 2 buttons side-by-side)

.inline-space {
	margin-right: em(10);
}

.inline-space--double {
	margin-right: em(20);
}


 //**********
// WORDPRESS

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
}
