/*------------------------------------*\
    FORMS
\*------------------------------------*/

fieldset,
form {
	border: 0;
	padding: 0;
	margin: 0;
}

label,
legend {
	display: block;
	margin-bottom: 0;
	@include font-size(13);
	text-transform: uppercase;
	letter-spacing: 1px;
	color: color('brand');
	cursor: pointer;
}

abbr[title="Required"] {
	color: color('brand');
	@include font(primary, bold);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="color"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
	@include font;
	@include font-size(16);
	padding: em(10);
	width: 100%;
	border: 1px solid color('brand');
	margin-bottom: $space / 2;
	color: color('brand');
	background-color: transparent;
	border-radius: 0;

	&:hover,
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

input[type="color"] {
	width: auto;
}

textarea {
	line-height: strip-unit($space);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}


 //*****
// DARK

.form--dark {

	input,
	button {
		@include font('secondary');
		@include font-size(16);
		border: 0;
		color: color('body');
		background: color('white');
	}

	button {
		text-transform: uppercase;

		&:hover,
		&:active,
		&:focus {
			background: color('brand');
			color: color('white');
			border: 0;
			transition: none;
		}

	}
}

.flex-field {
	display: flex;

	input {
		margin-right: .5em;
	}
}


 //*******************
// PLACEHOLDER STYLES

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	color: currentColor;
}

:-moz-placeholder { /* Firefox 18- */
	color: currentColor;
}

::-moz-placeholder { /* Firefox 19+ */
	color: currentColor;
}

:-ms-input-placeholder { /* IE 10+ */
	color: currentColor;
}

::-ms-input-placeholder { /* Edge */
	color: currentColor;
}
