/*------------------------------------*\
    FORMS
\*------------------------------------*/

fieldset,
form {
	border: 0;
	padding: 0;
	margin: 0;
}

label,
legend {
	display: block;
	margin-bottom: 0;
	@include font-size(13);
	text-transform: uppercase;
	color: color('brand');
	cursor: pointer;
}

abbr[title="Required"] {
	color: color('brand');
	@include font(primary, bold);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="color"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
	@include font(primary, regular);
	@include font-size(16);
	padding: em(10);
	width: 100%;
	border: 1px solid color('brand');
	margin-bottom: $space / 2;
	color: color('brand');
	background-color: transparent;
	border-radius: 0;
}

input[type="color"] {
	width: auto;
}

textarea {
	line-height: $space;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="color"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {

	&:hover,
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

input[type="text"].valid,
input[type="email"].valid {
}

input[type="text"].not-valid,
input[type="email"].not-valid {
}


 //*******
// SEARCH

.search {
	color: color('black');
	position: relative;

	&:after {
		content: '';
		height: 1px;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 7px;
		background: currentColor;
	}

	input[type="search"] {
		padding: em(10) 0;
		margin: 0;
		border: none;
		color: currentColor;
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		color: currentColor;
	}
}


 //*******************
// PLACEHOLDER STYLES

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	color: currentColor;
}

:-moz-placeholder { /* Firefox 18- */
	color: currentColor;
}

::-moz-placeholder { /* Firefox 19+ */
	color: currentColor;
}

:-ms-input-placeholder { /* IE 10+ */
	color: currentColor;
}

::-ms-input-placeholder { /* Edge */
	color: currentColor;
}
