/*------------------------------------*\
	HEADINGS
\*------------------------------------*/
// Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/

h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
	@include font;
	margin-bottom: $space;
	line-height: $space;

	&.has-strap {
		margin-bottom: .625em;
	}
}

.strap {
	font-style: italic;
}

.giga {
	@include font-size(40);
}


h1,
.alpha {
	@include font-size(39);

	@include mq(M) {
		@include font-size(54);
	}
}

h2,
.beta {
	@include font-size(29);

	@include mq(M) {
		@include font-size(39);
	}
}

h3,
.gamma {
	@include font-size(22);

	@include mq(M) {
		@include font-size(29);
	}
}

h4,
.delta {
	@include font-size(20);

	&.strap {
		@include font-size(13);
		margin-bottom: em(27, 13);
	}
}

h5,
.epsilon {
	@include font-size(18);
}

.border-top {
	@include font-size(16);
	text-transform: uppercase;
	border-top: 1px solid color('background');
	position: relative;
	padding-top: 1rem;

	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		width: 6rem;
		height: .5rem;
		background-color: color('brand');
	}
}
