/*

---
name: Headings
category:
 - Base
 - Base/Headings
---

```html
<h1 class="alpha">The fox</h1>
<h2 class="beta">The fox</h2>
<h3 class="gamma">The fox</h3>
<h4 class="delta">The fox</h4>
<h5 class="epsilon">The fox</h5>
<h6 class="zeta">The fox</h6>
```

*/

h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {

	@include font(secondary, bold);
	margin-bottom: 1.3em;
	line-height: 1.3;

	&.has-strap {
		margin-bottom: .625em;
	}

	&.drop,
	.page-strip__content & {
		margin-bottom: line-height-adjust(16px, 1.3);
	}

	&.strapline {
		@include font(secondary);
		color: color('grey');
	}

	article & {

		margin-bottom: line-height-adjust(16px, 1.3);

		&.strapline {
			margin-bottom: line-height-adjust(32px, 1.3);
		}

	}

}

/*

---
name: Strapline
category:
 - Base
 - Base/Headings
---

```html
<h1 class="alpha">The fox</h1>
<h4 class="beta strapline">The fox</h4>
```

*/

h1 {
	margin-top: 0;
	margin-bottom: 1.3em;
}

article h1 {

	margin-top: 0;

	article.post--has-thumbnail & {
		margin-bottom: 1.5em;
	}

}

article h4 {
	margin-top: 0;
}

.strap {
	font-style: italic;
}

.giga {
	@include font-size(40);
}

h1,
.alpha {
	@include font-size(41);
	margin-bottom: .65em;

	@include mq(M) {
		@include font-size(50);
	}
}

h2,
.beta {
	@include font-size(35);

	@include mq(M) {
		@include font-size(41);
	}
}

h3,
.gamma {
	@include font-size(29);

	@include mq(M) {
		@include font-size(35);
	}

}

h4,
.delta {
	@include font-size(24);

	@include mq(M) {
		@include font-size(30);
	}
}

h5,
.epsilon {
	@include font-size(20);

	@include mq(M) {
		@include font-size(24);
	}
}

h6,
.zeta {
	@include font-size(18);

	@include mq(M) {
		@include font-size(20);
		line-height: 1.3;
	}
}

.eta {
	@include font-size(16);
	text-transform: uppercase;
}

/*

---
name: Border Top
category:
 - Base
 - Base/Headings
---

```html
<h4 class="border-top">Subscribe to our newsletter</h4>
<h4 class="border-top border-top--dark">Subscribe to our newsletter</h4>
<h4 class="border-top border-top--blue">Subscribe to our newsletter</h4>
```

*/

.border-top {

	position: relative;
	text-transform: uppercase;
	padding-top: 10px;

	.home & {
		border-top-color: color('background');
	}

	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		width: spacing(13);
		height: 2px;
		background-color: color('brand');
	}

}

.border-top--clean {
	border-top: 0;
}

.border-top--dark:before {
	background-color: color('brand-dark');
}

.border-top--blue:before {
	background-color: post-color('event');
}
