/*------------------------------------*\
    LINKS
\*------------------------------------*/

a {
    color: color('brand-dark');
    text-decoration: none;
    word-wrap: break-word;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
	a {
		text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:active {
          text-decoration: none;
        }
	}
}

tbody tr a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }
}
