/*------------------------------------*\
	LISTS
\*------------------------------------*/


article {

	ul {
		padding-left: 0;

		li {
			list-style-type: square;
		}
	}

	li {
		margin-bottom: $space / 2;
	}
}

ul ul,
ul ul ul,
ol ol,
ol ol ol {
	margin-top: $space / 2;
}

ol,
ul {
	margin-bottom: $space;

	&.no-bullet {
		list-style-type: none;
	}
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ul ul,
ol ol {
	margin-bottom: 0;
}


 //*****************
// DEFINITION LISTS

dl {
}

dt {
}

dd {
}
