/*------------------------------------*\
	LISTS
\*------------------------------------*/

ul {
	list-style: disc;
}

ol,
ul {
	margin-bottom: $space;

	&.no-bullet {
		list-style-type: none;
	}
}

ol {
	list-style: decimal;

	ol {
		list-style: lower-alpha;

		ol {
			list-style: lower-alpha;
		}
	}
}

ul ul,
ol ol {
	margin-bottom: 0;
}


 //*****************
// DEFINITION LISTS

dl {
}

dt {
}

dd {
}
