/*------------------------------------*\
    MEDIA ELEMENTS
\*------------------------------------*/

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}

iframe,
img {
	max-width: 100%;
	width: 100%;
}

iframe {
	border: 0;
}

img {
	vertical-align: middle;
	height: auto;
	width: 100%;
}

a img {
	border: 0;
}

img,
video,
object {
}

iframe {
}

figure {

	img {
	}
}

figcaption {
}
