/*------------------------------------*\
    TABLES
\*------------------------------------*/

table {
	@include font-size(16);
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	margin-bottom: $space;
	table-layout: fixed;
}

tbody {
	display: block;
	overflow: scroll;
}

th,
td {
	text-align: left;
	padding: em(10, 12);
	border: 1px solid color('mid-grey');
	vertical-align: top;
}
