/*------------------------------------*\
    TABLES
\*------------------------------------*/

table {
	@include font-size(16);
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

th {
	padding: 0;
	display: block;
	text-align: left;
}

td {
	text-align: left;
	padding: em(10, 12);
	border: 1px solid color('mid-grey');
	vertical-align: top;
}
