<div class="filter-menu">
  <div class="filter-header">
    <p class="filter-text">Filter by multiple topics:</p>
    <a href="#" class="reset-link">Reset all filters</a>
  </div>

  <div class="filter-container">
    {% for issue in issue_terms %}
      <div class="filter-item" data-term="{{ issue.term_id }}">
        {{ issue.name }}
      </div>
    {% endfor %}
  </div>
</div>
