{% if show_sticky_cta %}
    <a href="{{ sticky_cta_link.url }}" target="{{ sticky_cta_link.target }}" class="sticky-cta">
        {% if sticky_cta_image %}
            <div class="sticky-cta__image">
                {{ imgix({
                    src: sticky_cta_image.url,
                    params: {
                        auto: "format,compress",
                        fit: 'crop',
                        crop: 'faces'
                    },
                    aspect_ratio: [1, 1],
                    transforms: [{
                        w: 40 * 1
                    }, {
                        w: 40 * 2
                    }, {
                        w: 40 * 3
                    }],
                    sizes: "40px"
                }) }}
            </div>
        {% endif %}

        <div class="sticky-cta__text">{{ sticky_cta_link.title }}</div>
    </a>
{% endif %}
