<article class="post-object post-object--vertical">

	<div class="post-object__media">
		<img src="http://placehold.it/459x235" alt="">
		<span class="post-object__tag">Projects</span>
	</div>

	<div class="post-object__content">
		<h3>Help us define our openness</h3>
		<p>Open is part of our name and game at the Open Contracting Partnership. This means, open is at the core of our institution. It is our mission. It is one of our core values. If we want public procurement to be open, we have to be open ourselves. We are trying to model what we ask others to do.</p>
	</div>

</article>
