<!DOCTYPE html>
<html {{ site.language_attributes }} class="no-js">

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">

		{% include 'partial-header.twig' %}

		<main>

			{% block content %}
	            <p>Sorry, no content</p>
	        {% endblock %}

		</main>

        {% include 'html-footer.twig' %}

        {% include 'partials/svg-loader.twig' %}

    </body>

</html>
