/*------------------------------------*\
	VARIABLES
\*------------------------------------*/

 //********
// COLOURS

$colours: (
    'white': #FFF,
    'black': #000,
    'twitter': #00aced,
    'blue': #6991f5,
    'lilac': #6c75e1,
    'purple': #8B58EB,
    'orange': #FD843D,
    'dark-orange': #fb6045,
    'brand': #D6E100,
    'brand-mid': #B6C505,
    'brand-dark': #9BAF00,
    'teal': #23b2a7,
    'off-white': #F6F6F6,
    'lightest-grey': #ECECEC,
    'lighter-grey': #D5D5D7,
    'light-grey': #B7B7B7,
    'grey': #999,
    'off-grey': #8B8B97,
    'mid-grey': #69696B,
    'background': #4D4D54,
    'body': #424244,
    'dark-background': #323238,
    'dark-grey': #2D2D2D,
);

// LEGACY
//
// $colours: (
//     'white': #FFF,
//     'black': #000,
//     'orange': #FD843D,
//     'brand': #D6E100,
//     'brand-mid': #B6C505,
//     'brand-dark': #9BAF00,
//     'off-white': #F6F6F6,
//     'lighter-grey': #D5D5D7,
//     'light-grey': #B7B7B7,
//     'grey': #999,
//     'mid-grey': #69696B,
//     'background': #545456,
//     'body': #424244,
//     'dark-background': #373738,
//     'dark-grey': #2D2D2D,
// );


 //***************
// SOCIAL COLOURS

$social-colors: (
    'youtube': #CC181E,
    'twitter': #00ACEE,
    'facebook': #3B5998,
    'google': #DD4B39,
    'linkedin': #007BB6,
);


 //***************
// BUTTON COLOURS
// There are two arrays here. the names need to match up else the
// styleguide colours output fails

$button-colors: (
	('white', map-get($colours, 'white'), map-get($colours, 'dark-grey')),
	('dark', map-get($colours, 'dark-grey'), map-get($colours, 'white'))
);

$button-colors-light: (
	'green': #BCD469,
	'orange': #FFB17F,
	'pink': #E87EFE,
	'blue': #74CAE9,
);

 //**************
// TYPE SETTINGS

$base-font-size: 20;
$copy: color('body');
$border-radius: 4px;


 //****************
// LAYOUT SETTINGS

$max-width: 1400;
$space: 1.5em; // NOTE: This is needs to be changed depending on the lineheight of the <p>

$breakpoints: (
    M: 640,
    L: 1024
);

$susy: (
	container: 70em,
	columns: 12,
 	// debug: (image: show)

 	gutters: 1/8

);



 //******
// FONTS

$fonts: (
	primary: (
		family: 'source-sans-pro',
		fallback: '"Helvetica Neue", Helvetica, Arial, sans-serif',
		weights: (
			light: 300,
			regular: 400,
			bold: 700
		),
		typekit: false
	),
    secondary: (
        family: 'stratum-1-web',
        fallback: '"Helvetica Neue", Helvetica, Arial, sans-serif',
        weights: (
            regular: 400,
            medium: 500,
            bold: 700
        ),
        typekit: false
    )
);


 //********
// Z-INDEX

// Here we can denote a solid z-index hierarchy through the main elements

$z-index: (

);
