/*------------------------------------*\
	VARIABLES
\*------------------------------------*/

 //********
// COLOURS

$colours: (
    'white': #FFF,
    'black': #000,
    'grey': #999,
    'body': #424244,
    'orange': #FD843D,
    'brand': #D6E100,
    'brand-dark': #9BAF00,
    'off-white': #F6F6F6,
    'lighter-grey': #D5D5D7,
    'light-grey': #B7B7B7,
    'mid-grey': #69696B,
    'dark-grey': #2D2D2D,
    'background': #545456,
    'dark-background': #373738,
);


 //***************
// SOCIAL COLOURS

$social-colors: (
    'youtube': #CC181E,
    'twitter': #00ACEE,
    'facebook': #3B5998,
    'google': #DD4B39,
    'linkedin': #007BB6,
);


 //***************
// BUTTON COLOURS
// There are two arrays here. the names need to match up else the
// styleguide colours output fails

$button-colors: (
	'white': map-get($colours, 'white'),
    'dark': map-get($colours, 'dark-grey')
);

$button-colors-light: (
	'green': #BCD469,
	'orange': #FFB17F,
	'pink': #E87EFE,
	'blue': #74CAE9,
);

 //**************
// TYPE SETTINGS

$base-font-size: 20;
$copy: color('body');
$border-radius: 4px;


 //****************
// LAYOUT SETTINGS

$max-width: 1400;
$space: 1.4em; // NOTE: This is needs to be changed depending on the lineheight of the <p>

$breakpoints: (
    M: 640,
    L: 1024
);

$susy: (
	container: 70em,
	columns: 12,
	// gutters: 1/6
 	// debug: (image: show)
);



 //******
// FONTS

$fonts: (
    primary: (
        family: 'proxima-nova-condensed',
        fallback: '"Helvetica Neue", Helvetica, Arial, sans-serif',
        weights: (
            regular: 400,
            bold: 700
        ),
        typekit: false
    ),
    secondary: (
        family: 'stratum-1-web',
        fallback: '"Helvetica Neue", Helvetica, Arial, sans-serif',
        weights: (
            regular: 400,
            medium: 500,
            bold: 700
        ),
        typekit: false
    )
);


 //********
// Z-INDEX

// Here we can denote a solid z-index hierarchy through the main elements

$z-index: (

);
