{% extends "base.twig" %}

{% block content %}
	<main id="resource-archive" class="page-container / resource-archive">
		{% include 'blocks/simple-header.twig' %}

		<div class="resource-archive__controls">
			<div>
				<div class="filter-menu">
					<div class="resource-archive__search /  search-input" data-size="large">
						<input class="search-input__input / uppercase" v-model="search" type="text" aria-label="Search" placeholder="Search">

						<button class="search-input__button / button--naked">
							<svg><use xlink:href="#icon-search-rounded"></use></svg>
						</button>
					</div>

					{% for filter in resource_library_filters %}
						<div class="filter-header">
							<p class="filter-text">{{ filter.title }}</p>
						</div>

						<div class="filters-container">
							{% for field in filter.filter %}
								<div class="filter-container">
									<label class="filter-item">
										<input
											type="checkbox"
											name="regions"
											class="filter-item__input"
											value="{{ field.slug }}"
											v-model="filters"
										>

										<span class="filter-item__control" style="--hover-colour: #000000;" >{{ field.label }}</span>
									</label>
								</div>
							{% endfor %}
						</div>
					{% endfor %}

                    <button class="button--naked / filter__reset-link" @click="reset">Reset all filters</button>
				</div>
			</div>

			<div class="resource-archive__results">
				<template v-if="visibleResources.length">
					<div class="card__container"
						v-for="resource in visibleResources"
						v-bind:key="resource.id"
						v-html="resource.card"
					></div>
				</template>

				<p v-else class="resource-archive__no-results">{{ resources.i18n.no_results_label }}</p>
			</div>
		</div>
	</main>
{% endblock %}
