<a href="#" class="post-object post-object--vertical post-object--light post-object--featured">

	<div class="post-object__media">

		<img src="http://placehold.it/459x235" alt="">

		<div class="post-object--featured__title">

			<span class="post-object__tag">Featured Blog</span>

			<div class="heading-highlight heading-highlight--dark">
				<h4>Is the US Government done with DUNS? How to identify companies who do receive government money</h4>
			</div>

		</div>

	</div>

	<div class="post-object__content">

		<div class="post-object__content-meta">
			<span class="post-object__author">By Kathryn Chen</span>
			<span class="post-object__age">3 Days ago</span>
		</div>

		<p>Is the US Government done with DUNS? How to identify companies who receive government money</p>

	</div>

</a>
