<div class="post-object post-object--horizontal post-object--resource / media media--reversed">

	<div class="post-object__media / media__object">
		<svg><use xlink:href="#icon-book"></svg>
	</div>

	<div class="post-object__content / media__body">

		<a href="#"><h4>Webinar: What are the economic impacts of child marriage? Early findings from International Centre...</h4></a>

		<p>
			By Mark Cox

			<time>29/01/2016</time>

		</p>

		<ul class="button__list">
			<li><a href="#" class="button button--small button--uppercase button--tag">Open Gov</a></li>
			<li><a href="#" class="button button--small button--uppercase button--tag">2016</a></li>
		</ul>

	</div>

</div>
