/*------------------------------------*\
	DEMO
\*------------------------------------*/


.demo__block {
	background-color: color('demo');
	border: 1px solid darken(color('demo'), 20%);
	color: color('placeholder');
	@include font-size(12);

	p,
	span {
		@include font-size(12);
	}
}

.demo__grid {
	margin-bottom: 20px;

	span {
		display: block;
		text-align: center;
	}
}

.demo--list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	margin-bottom: 0;
}

.demo__block--space {
	padding: $space;
}

.demo__block--space-margin {
	margin-bottom: $space;
}

.demo__block--space-double {
	padding: $space * 2;
}


 //******************
// STYLEGUIDE TITLES

.sg-heading {
	@include font(primary, bold, normal);
	text-transform: uppercase;
	@include font-size(14);
	padding: em(2);
	border-left: 10px solid color('black');
	padding-left: em(10);
	margin-bottom: $space;
	margin-top: $space * 2;
}


 //**********
// TYPEFACES

$demo--typeface: 'light' 'regular' 'semibold' 'bold';

@each $item in $demo--typeface {

	.primary-font--#{$item} {
		@include font(primary, #{$item}, normal);
	}

}
