<ul class="sg-colors">

	<li>
		<span class="sg-colour" style="background-color: #fff"></span>
		<span class="sg-overlay">
			<span class="sg-label">white<br />#fff</span>
		</span>
	</li>

	<li>
		<span class="sg-colour" style="background-color: #353535"></span>
		<span class="sg-overlay">
			<span class="sg-label">brand<br />#353535</span>
		</span>
	</li>

	<li>
		<span class="sg-colour" style="background-color: #cccccc"></span>
		<span class="sg-overlay">
			<span class="sg-label">grey<br />#cccccc</span>
		</span>
	</li>

</ul>
