<ul class="sg-colors">

	<li>
		<span class="sg-colour" style="background-color: #CC181E"></span>
		<span class="sg-overlay">
			<span class="sg-label">youtube<br />#CC181E</span>
		</span>
	</li>

	<li>
		<span class="sg-colour" style="background-color: #00ACEE"></span>
		<span class="sg-overlay">
			<span class="sg-label">twitter<br />#00ACEE</span>
		</span>
	</li>

	<li>
		<span class="sg-colour" style="background-color: #3B5998"></span>
		<span class="sg-overlay">
			<span class="sg-label">facebook<br />#3B5998</span>
		</span>
	</li>

	<li>
		<span class="sg-colour" style="background-color: #DD4B39"></span>
		<span class="sg-overlay">
			<span class="sg-label">google<br />#DD4B39</span>
		</span>
	</li>

	<li>
		<span class="sg-colour" style="background-color: #007BB6"></span>
		<span class="sg-overlay">
			<span class="sg-label">linkedin<br />#007BB6</span>
		</span>
	</li>

</ul>
