<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>The Idea Bureau - Patern Library</title>

	<link rel="stylesheet" href="/patterns/libs/prism/prism.css">
	<link rel="stylesheet" href="http://theideabureau.github.io/pattern-library/patterns/build/css/styles.css">

</head>
<body>

	<aside class="sg-nav">

		<div class="sg-nav__pane">
			<h1>Patern Library</h1>
		</div>

		<div class="sg-nav__pane">
			<input type="search" placeholder="Search" v-model="search" @keyup="filterPatterns">
		</div>

		<div class="sg-nav__pane">

			<ol>
				<tree :model="treeData"></tree>
			</ol>

		</div>

	</aside>

	<main class="sg-main">
		<pattern :model="flatTreeData"></pattern>
	</main>

	<!-- item template -->
	<template id="item-template">

		<li v-for="item in model.items" v-show="item.display === true">

			<a href="#{{item.url}}">
				{{item.name}}
			</a>

			<ol v-if="this.hasChildren(item)">
				<tree :model="item"></tree>
			</ol>

		</li>

	</template>

	<style>

		.sg-breadcrumbs span {
			color: #D0D0D0;
		}

		.sg-breadcrumbs span:after {
			content: " / ";
		}

		.sg-breadcrumbs span:last-child:after {
			content: normal;
		}

		.sg-breadcrumbs a {
			text-decoration: none;
			color: #333;
		}

		.sg-breadcrumbs a:hover,
		.sg-breadcrumbs a:focus,
		.sg-breadcrumbs a:active {
			text-decoration: underline;
		}

	</style>

	<template id="pattern-template">

		<div class="sg-section" v-for="pattern in model" id="{{ pattern.url }}" v-show="pattern.display === true">

			<div class="sg-panel sg-panel__title">

				<h1 class="sg-breadcrumbs">

					<span v-for="breadcrumb in pattern.breadcrumbs">
						<a href="#{{ breadcrumb.url }}">{{ breadcrumb.label }}</a>
					</span>

				</h1>

			</div>
<!--
			<div class="sg-panel sg-panel__description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, sit, voluptatibus?</p>
			</div> -->

			<div class="sg-panel sg-panel__example">

				<div>
					<style scoped></style>
					<div v-html="pattern.contents"></div>
				</div>

			</div>

			<!--
			<div class="sg-panel sg-panel__code">
				<pre><code class="language-markup">{{ pattern.contents }}</code></pre>
			</div> -->

		</div>

	</template>

	<script src="/patterns/libs/jquery-1.12.0.min.js"></script>
	<script src="/patterns/libs/prism/prism.js"></script>
	<script src="/patterns/libs/scoper/scoper.min.js"></script>
	<script src="/patterns/libs/vue/dist/vue.js"></script>
	<script src="http://theideabureau.github.io/pattern-library/patterns/build/js/main.min.js"></script>

</body>
</html>
