/*------------------------------------*\
	HEADER
\*------------------------------------*/

.site-header {
	background-color: color('dark-background');
	border-bottom: 1px solid color('mid-grey');

	.logo {
		margin: em(22) 0;
		display: inline-block;

		svg {
			width: em(482);
			height: em(38);
		}
	}
}

.header-nav--top {
	float: right;
}

.header-nav--top__item {
	display: inline-block;
}

.header-social > a {
	color: color('white');
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		text-decoration: none;
	}
}
