/*------------------------------------*\
	HEADER
\*------------------------------------*/

.site-header {
	@include font('secondary', 'medium');
	background-color: color('dark-background');

	.home & {
		border-bottom: 1px solid color('mid-grey');
	}

	.logo {
		margin: em(33) 0;
		display: inline-block;

		svg {
			width: em(482);
			height: em(38);
		}
	}
}

.site-header__top {
	position: relative;
	padding-left: 2.5rem;
}

.header-nav--top {
	float: right;
}

.header-nav--top__item {
	float: left;

	&:last-child {
		border-left: 1px solid color('mid-grey');
	}
}

.header-social {
	margin-top: 1.3rem;

	> a {
		@include font-size(14);
		color: color('white');
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&:active {
			text-decoration: none;
		}
	}

	.button__social a {
		fill: color('light-grey');
	}

	.button__list {
		margin-left: .3em;
	}
}

.header-language {
	margin: 1.75rem 2rem 0;
}

.header-search {

	a {
		padding: 2rem;
		margin: 0;
		border: 0;
		fill: color('white');
	}

	svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}

#menu-header-secondary {

	> li:before {
		display: inline-block;
		margin-right: .5em;
		vertical-align: sub;
	}

	> li:first-child:before {
		content: url('../img/icons/icon-world.svg');
	}

	> li:last-child:before {
		content: url('../img/icons/icon-data.svg');
	}

	> li a {
		display: inline-block;
	}
}


 //**************
// HEADER SEARCH

.header__search {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: color('off-white');
	z-index: 99;

	.search--active & {
		display: block;
	}

	.wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	[type="search"] {
		@include font-size(28);
		position: absolute;
		top: 50%;
		right: 90px;
		left: 0;
	    transform: translate(0, -50%);
		border: 0;
		color: color('body');
		margin: 0;
		padding: 1em;
	}
}

.header-nav--top__item.header-search {
	display: block;

	@include mq(1450) {
		display: none;
	}
}

.site-header__top > .header-search {
	display: none;
	position: absolute;
	top: 0;
	right: 0;

	@include mq(1450) {
		display: block;
	}
}

.site-header__top.search--active > .header-search {
	display: block;
}

.search--active .header-search svg {
	fill: color('body');
}
