/*------------------------------------*\
    HERO
\*------------------------------------*/


.page-hero {
	background-color: color('grey');
	padding: 9rem 0 7rem;
	margin-bottom: 3.5rem;
}

.page-hero__content {
	@include span(5 at 2 of 12);
	margin-left: span(1 of 12) + gutter();

	h1 {
		margin-bottom: 1.5rem;

		span {
			@include font('secondary');
			@include font-size(30);
			display: inline;
			color: color('white');
			background-color: color('dark-background');
			box-shadow: .57143rem 0 0 color('dark-background'), -.57143rem 0 0 color('dark-background');
			box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
			line-height: 1.45;
			padding: 10px 0;
		}
	}

	p {
		@include font('secondary');
		@include font-size(25);
		display: inline;
		color: color('white');
		background-color: color('dark-orange');
		box-shadow: .57143rem 0 0 color('dark-orange'), -.57143rem 0 0 color('dark-orange');
		box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
		line-height: 1.3;
		padding: 0;
	}
}
