/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

nav h4 {
	text-transform: uppercase;
	margin-bottom: 2em;
}

.nav {
	@extend .cf;
	list-style-type: none;
	padding: 0;
	margin: 0;

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&:active {
			text-decoration: none;
		}
	}
}

.nav--horizontal {

	li {
		float: left;
		margin-right: 2em;
	}

	a {
		display: block;
	}
}

.nav--vertical {

	li {
		margin-bottom: 1em;
	}

	a {
		display: inline-block;
	}
}

.primary-nav {

	li {
		margin: 0;
		padding: 0 1.5em;
		border-right: 1px solid color('mid-grey');
	}

	li:first-child {
		padding-left: 0;
	}

	li:last-child {
		border-right: none;
		padding-right: 0;
	}

	a {
		color: color('white');
		padding: 3em 0;
		border-bottom: 3px solid transparent;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			border-bottom-color: color('brand');
		}
	}
}
