/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

nav h4 {
	text-transform: uppercase;
	margin-bottom: 2em;
}

.nav {
	@extend .cf;
	list-style-type: none;
	padding: 0;
	margin: 0;

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&:active {
			text-decoration: none;
		}
	}
}

.nav--horizontal {

	position: relative;

	li {
		float: left;
		margin-right: 2em;
	}

	a {
		display: block;
	}

	li:hover ul {
		display: block;
	}

	ul {

		@include font('secondary', 'medium');
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		list-style: none;
		background-color: color('white');
		border-bottom: 1px solid color('lighter-grey');
		margin: 0;
		padding: 0;
		z-index: 10;

		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: -1px;
			width: 100vw;
			background-color: color('white');
			border-bottom: 1px solid color('lighter-grey');
			right: 100%;
		}

		&:after {
			left: 100%;
			right: auto;
		}

		li {
			border-right: 0;
			margin: 0 em(25);
			padding: 0;
		}

		li:first-child {
			margin-left: 0;
		}

		a {
			color: color('dark-background');
		}

	}


}

.nav--vertical {

	li {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: inline-block;
	}
}

.nav--thick {

	a {
		@include font('secondary', 'bold');
		@include font-size(18);
		color: color('background');
		text-transform: uppercase;
	}
}

.nav--breadcrumbs {
	margin: 2rem 0 4.5rem;

	li {
		margin: 0;

		&:after {
			content: '/';
			display: inline-block;
			vertical-align: text-top;
			margin: 0 em(5) 0 em(2);
		}

		&:last-child:after {
			display: none;
		}
	}

	a {
		@include font('secondary');
		@include font-size(16);
		color: color('dark-background');
		display: inline-block;
	}

}

.nav--sub-page,
.nav--in-page {

	li,
	a {
		line-height: 1;
	}

	li {
		margin-bottom: 1rem;
	}

	a {
		@include font('secondary', 'medium');
		@include font-size(16);
		color: color('body');
	}
}

.nav--in-page {

	a {
		color: color('grey');
	}

	li {
		position: relative;
		padding-left: .7rem;
	}

	li.active {

		&:before {
			@include font-size(10);
			content: '►';
			position: absolute;
			top: 55%;
			transform: translateY(-50%);
			left: 0;
			display: inline-block;
			margin-right: .2rem;
		}

		a {
			color: color('body');
		}
	}
}

.primary-nav {
	border-top: 1px solid color('mid-grey');

	ul:first-child {
		float: left;
	}

	ul:last-child {
		float: right;
	}

	li {
		margin: 0;
		padding: 0 1.5em;
		border-right: 1px solid color('mid-grey');
	}

	li:first-child {
		padding-left: 0;
	}

	li:last-child {
		border-right: 0;
		padding-right: 0;
	}

	a {
		@include font-size(18);
		color: color('white');
		padding: em(25, 18) 0;
		border-bottom: 5px solid transparent;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			border-bottom-color: color('brand');
		}
	}

	.current-menu-item a {
		text-decoration: none;
		border-bottom-color: color('brand');
	}

	.nav--horizontal:last-child li {
		border: 0;
	}
}
