/*

---
name: Sidebar
category:
 - Layout
 - Layout/Sidebar
---

```html
<aside class="sidebar">
	<nav class="page__section-nav">
		<h6 class="border-top border-top--clean">Jump to section</h6>
		<ul class="nav nav--vertical nav--in-page">
			<li><a href="#">Section 1</a></li>
			<li><a href="#">Section 2</a></li>
			<li><a href="#">Section 3</a></li>
		</ul>
	</nav>
	<div class="blog__subscribe-container / band">
		<h6 class="border-top border-top--clean">Subscribe to our newsletter</h6>
		<p>Sign up to our monthly email where you can receive updates on our current work</p>
		<form class="flex-field" action="" method="post">
			<input type="email" placeholder="Enter your email" name="email" required="">
			<button>Send</button>
		</form>
	</div>
</aside>
```

*/

aside,
.sidebar {

	@include font-size(16);
	margin-top: 4.5rem;

	section {
		margin-bottom: 2.5rem;
	}

	h3 {
		margin-bottom: 1em;
	}

	p a {
		color: color('brand-dark');
	}

	.page__section-nav {
		position: sticky;
		top: $space;
		background: rgba(255, 255, 255, .92);
		z-index: 1;
	}

}
