/*------------------------------------*\
	HEADER
\*------------------------------------*/

.site-header {

	@include font('secondary', 'medium');
	background-color: color('dark-background');

	@media print {

		& {
			display: none;
		}

	}

	.logo {

		@include upto(ML) {
			display: none;
		}

		> svg {
			width: em(482);
			height: em(38);
		}

	}

	.logo--mobile {

		@include mq(ML) {
			display: none;
		}

		> svg {
			width: 7em;
			height: em(38);
		}

	}

	@include from(ML) {

		&[data-nav-active="true"] {
			margin-bottom: 67px;
		}

	}

}

.mobile-menu {

	width: 1em;
	height: 1em;
	fill: color('white');

	@include mq(ML) {
		display: none;
	}

}

.mobile-menu__open {
	opacity: 1;
}

.mobile-menu__close {
	opacity: 0;
}

.mobile-active {

	.mobile-menu__open {
		opacity: 0;
	}

	.mobile-menu__close {
		opacity: 1;
	}
}

.site-header__top {
	position: relative;
}

.site-header__wrapper {

	@include wrapper;
	padding-top: spacing(2);
	padding-bottom: spacing(2);
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include from(ML) {
		padding-top: spacing(5);
		padding-bottom: spacing(3);
	}

}

.header-nav__side {

	display: none;

	@include mq(ML) {
		display: block;
		display: flex;
		align-items: center;
	}

}

.header-nav__side-item {

	&:not(:last-child) {
		margin-right: spacing(2);
	}

}

.header-social {

	display: flex;

	a {

		font-size: 16px;
		fill: color('light-grey');
		transition: fill .3s ease;
		padding: spacing(.5);
		display: block;
		margin-bottom: 0;

		&:not(:last-child) {
			margin-right: spacing(1);
		}

		> svg {
			display: block;
			height: 1em;
			width: 1em;
		}

		&:hover,
		&:active {
			fill: color('white');
		}

	}

}

.header-search {

	a {

		padding: spacing(.5);
		margin: 0;
		border: 0;

		> svg {
			display: block;
			font-size: 16px;
			width: 1em;
			height: 1em;
			fill: color('light-grey');
			transition: fill .3s ease;
		}

		&:hover,
		&:active {

			> svg {
				fill: color('white');
			}

		}

	}

}


 //**************
// HEADER SEARCH

.header__search {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 2.2em;
	background-color: color('dark-background');
	z-index: 99;

	.search--active & {
		display: block;
	}

	.wrapper {
		position: relative;
	}

	html.csspointerevents & {
		display: block;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease;
	}

	html.csspointerevents .search--active & {
		opacity: 1;
		pointer-events: auto;
	}

	form {
		position: relative;
		height: 100%;
	}

	[type="search"] {
		@include font-size(28);
		border: 0;
		color: color('white');
		margin: 0;
		padding: 0;
		-webkit-appearance: none;
	}
}

.search__close {
	@include font-size(20);
	position: absolute;
	top: 40%;
	right: 1.7em;
	transform: translateY(-50%);
	width: 1em;
	height: 1em;
	margin: auto 0;

	@include mq(1240) {
		right: .5em;
	}

	svg {
		width: 1em;
		height: 1em;
		fill: color('white');
		vertical-align: initial;
	}
}

.site-header__top > .header-search {
	display: none;
	position: absolute;
	top: 0;
	right: 0;

	@include mq(1550) {
		display: block;
	}
}

.site-header__top.search--active > .header-search {
	display: block;
}

.search--active .header-search svg {
	fill: color('body');
}

// extra specificity to overrule pluging styles
.site-header .wpml-ls-legacy-dropdown {

	@include font-size(12);
	max-width: 10em;
	background-color: color('dark-background');
	border-color: color('body');
	color: color('light-grey');

	a {
		background-color: color('dark-background') !important;
		border-color: color('body') !important;
		color: color('light-grey') !important;
	}

	.wpml-ls-sub-menu {
		border-color: color('body') !important;
	}

}
