<p>
	<a href="#" class="button button--uppercase">Uppercase Button</a>
	<a href="#" class="button button--uppercase button--medium">Uppercase Medium Button</a>
	<a href="#" class="button button--uppercase button--large"> Uppercase Large Button</a>
</p>

<p>
	<a href="#" class="button button--block button--medium">Block Button</a>
</p>

<p>
	<a href="#" class="button button--block button--left button--medium">Left Align Button</a>
</p>

<p><button>Button Element</button></p>

<p><input type="submit" value="Submit Element" /></p>

<p><a href="http://google.com" class="button button--disabled" disabled>Disabled Button</a></p>
