<div class="band band--dark / island--thin">
	<a href="#" class="button button--small button--white">Small Button</a>
	<a href="#" class="button button--white">Regular Button</a>
	<a href="#" class="button button--medium button--white">Medium Button</a>
	<a href="#" class="button button--large button--white">Large Button</a>
</div>

<div class="band band--dark / island--thin">
	<a href="#" class="button button--small button--solid-white">Small Button</a>
	<a href="#" class="button button--solid-white">Regular Button</a>
	<a href="#" class="button button--medium button--solid-white">Medium Button</a>
	<a href="#" class="button button--large button--solid-white">Large Button</a>
</div>

<a href="#" class="button button--white button--open button--bg-dark">Dark Button</a>
