<div class="band">
	<a href="#" class="button button--small button--blue">Small Button</a>
	<a href="#" class="button button--blue">Regular Button</a>
	<a href="#" class="button button--medium button--blue">Medium Button</a>
	<a href="#" class="button button--large button--blue">Large Button</a>
</div>

<div class="band">
	<a href="#" class="button button--small button--green">Small Button</a>
	<a href="#" class="button button--green">Regular Button</a>
	<a href="#" class="button button--medium button--green">Medium Button</a>
	<a href="#" class="button button--large button--green">Large Button</a>
</div>

<div class="band">
	<a href="#" class="button button--small button--pink">Small Button</a>
	<a href="#" class="button button--pink">Regular Button</a>
	<a href="#" class="button button--medium button--pink">Medium Button</a>
	<a href="#" class="button button--large button--pink">Large Button</a>
</div>

<div class="band">
	<a href="#" class="button button--small button--orange">Small Button</a>
	<a href="#" class="button button--orange">Regular Button</a>
	<a href="#" class="button button--medium button--orange">Medium Button</a>
	<a href="#" class="button button--large button--orange">Large Button</a>
</div>
