<ul class="button__list">

	<li><a href="#" class="button button--uppercase button--tag">Opengov</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Strategy</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Minutes</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Center For Global Development</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Extractive Industries</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Land</a></li>
	<li><a href="#" class="button button--uppercase button--tag">GODI15</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Awards</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Tenders</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Research</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Index</a></li>
	<li><a href="#" class="button button--uppercase button--tag">DIGIWHIST</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Whistle Blowers</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Big Data</a></li>
	<li><a href="#" class="button button--uppercase button--tag">Trust</a></li>

</ul>
