<div class="card card--basic">

	<div class="card__main">

		<a class="card__title-link" href="{{ card.url }}">
			<h2 class="card__title">{{ card.title }}</h2>
		</a>

	</div>

	<div class="card__footer">

		<span class="type-tag">{{ card.type_label }}</span>

		<span class="card__meta">
			{{ card.meta }}
		</span>

	</div>

</div>
