<div class="card card--event">

	<div class="card__date">
		<span class="card__date-day">{{ card.day }}</span>
		<span class="card__date-month">{{ card.month }}</span>
	</div>

	<a class="card__title-link" href="{{ card.url }}">
		<h2 class="card__title">{{ card.title }}</h2>
	</a>

</div>
