{% set options = { 'image_loading': 'lazy' } | merge(options) %}

<div class="card card--quote card--active">

	<div class="card__image">

		{{ imgix({
			src: card.image.url,
			params: {
				auto: 'format',
				fit: 'crop'
			},
			aspect_ratio: [2, 1],
			transforms: [{
				w: 415
			}, {
				w: 830
			}, {
				w: 1024
			}, {
				w: 1536
			}, {
				w: 2048
			}],
			sizes: '100vw',
			loading: options.image_loading
		}) }}

	</div>

	<blockquote class="card__quote">
		<p>{{ card.quotation }}</p>
		<footer>{{ card.name }},<br>{{ card.bio }}</footer>
	</blockquote>

	<div class="card__toggle-container">

		<button class="card__toggle / button--naked">
			<svg class=""><use xlink:href="#icon-plus-circle"></use></svg>
		</button>

	</div>

</div>
