<div class="card card--resource" data-post-type="{{ card.type }}">

		<div class="card__body">
			<a class="card__link" href="{{ card.url }}">{{ card.title }}</a>
		</div>

		<div class="card__footer">
			<div class="card__icon"></div>
			<span class="card__type">{{ card.type_label }}</span>
		</div>

	</div>
