.four-oh-four__page {

	background-color: color('dark-background');
	padding-bottom: spacing(8);
	padding-top: spacing(5);

	@include mq(M) {
		padding-bottom: spacing(12);
		padding-top: spacing(7);
	}

	@include mq(L) {
		padding-bottom: spacing(15);
		padding-top: spacing(9);
	}

}

.four-oh-four__container {

	display: flex;
	align-items: center;
	flex-direction: column-reverse;

	@include mq(M) {
		flex-direction: row;
	}

}

.four-oh-four__section-img {

	max-width: 75%;
	margin: 0 auto 4em;

	@include mq(M) {
		max-width: 100%;
		margin: 0;
	}

}

.four-oh-four__section-logo {

	display: none;

	@include mq(M) {
		display: block;
	}

}

.four-oh-four__section {

	color: color('white');

	@include mq(M) {

		@include span(4 of 12);
		padding: 0 (span(1 of 12) + gutter()) / 2;

		&:first-child {
			@include span(3 of 12 first);
			margin-left: span(1 of 12) + gutter();
			padding: 0;
		}

		&:last-child {
			@include span(3 of 12 last);
			margin-right: span(1 of 12) + gutter();
			padding: 0;
		}

	}

	p {
		@include font-size(14);
		color: color('lighter-grey');
	}

}

.four-oh-four__title {
	@include font('secondary', 'bold');
	@include font-size(16);
}
