.archive-content {

	h1 {
		@include font('secondary', 'medium');
		@include font-size(48);
		margin-bottom: em(55, 48);
	}

}

.archive-content__posts {

	@include mq(M, 'max-width') {
		margin-bottom: spacing(10);
	}

	@include mq(M, L) {
		@include span(2 of 3);
	}

	@include mq(L) {
		@include span(8 of 12 first);
		display: flex;
		flex-wrap: wrap;
	}

	.archive-content & .card {

		margin-bottom: spacing(2);

		@include mq(L) {

			@include span(2 of 4);

			&:nth-of-type(2n) {
				@include last;
			}

		}

	}

}

.archive-content__more {
	@include font;
	@include font-size(12);
	color: color('grey');
	text-transform: uppercase;
	cursor: pointer;

	&:focus {
		color: post-color('event');
	}
}

.archive-filtering {

	@include mq(M, L) {
		@include span(1 of 3 last);
	}

	@include mq(L) {
		@include span(3 of 12 last);
	}

}

.archive-filtering__search {
	position: relative;
	margin-bottom: 4em;

	input {
		@include font('secondary');
		@include font-size(29);
		color: color('lighter-grey');
		border: 1px solid color('lighter-grey');
		margin: 0;
		padding: .5em;
	}

	button {
		position: absolute;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);
		border: 0;
		padding: 0;

		&:hover,
		&:active,
		&:focus {
			background: none;

			svg {
				fill: color('background');
			}
		}
	}

	svg {
		width: 1.5em;
		height: 1.5em;
		fill: color('lighter-grey');
		transition: fill .2s ease;
	}
}

.archive__sidebar-tags input[type="search"] {
	color: color('mid-grey');
	border-color: currentColor;
	margin-bottom: $space;
}
