.archive-filtering {
	@include span(4 of 12 last);
	margin-right: span(1 of 12) + gutter();
	padding-left: span(1 of 12) / 2;
}

.archive-content {
	@include span(7 of 12 first);

	h1 {
		@include font('secondary', 'medium');
		@include font-size(48);
		margin-bottom: em(55, 48);
	}
}

.archive-content__sub-title {
	@include font('secondary');
	@include font-size(22);
	margin-bottom: 1.2em;
}
