.archive--padding {
	padding-top: em(60);
	padding-bottom: em(80);
}

.archive-filtering {
	padding-bottom: $space * 2;
	margin-bottom: $space * 2;
	border-bottom: 1px solid color('lighter-grey');

	@include mq(M) {
		@include span(4 of 12 last);
		margin-right: span(1 of 12) + gutter();
		padding-left: span(1 of 12) / 2;
		margin-bottom: 0;
		border-bottom: 0;
	}
}

.archive-content {

	h1 {
		@include font('secondary', 'medium');
		@include font-size(48);
		margin-bottom: em(55, 48);
	}
}

.archive-content__sub-title {
	@include font('secondary');
	@include font-size(22);
	margin-bottom: 1.2em;
}

.archive-content__posts {

	@include mq(L) {
		@include span(7 of 12 first);
	}

}

.archive-filtering__search {
	position: relative;
	margin-bottom: 4em;

	input {
		@include font('secondary');
		@include font-size(29);
		color: color('lighter-grey');
		border: 1px solid color('lighter-grey');
		margin: 0;
		padding: .5em;
	}

	button {
		position: absolute;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);
		border: 0;
		padding: 0;

		&:hover,
		&:active,
		&:focus {
			background: none;

			svg {
				fill: color('background');
			}
		}
	}

	svg {
		width: 1.5em;
		height: 1.5em;
		fill: color('lighter-grey');
		transition: fill .2s ease;
	}
}

.archive__sidebar-tags input[type="search"] {
	color: color('mid-grey');
	border-color: currentColor;
	margin-bottom: $space;
}
