.blog__container {
	margin-top: 11em;
}

.blog__featured {

	@include mq(L) {
		@include span(6 of 12);
	}

}

.blog__event-mobile {

	@include mq(M) {
		display: none;
	}

}

.blog__recent {

    display: flex;
    flex-wrap: wrap;

	@include mq(L) {

		@include span(6 of 12 last);

		.post-object {

			@include span(3 of 6 first);

			&:nth-child(2n) {
				@include last();
			}

			&:nth-child(2n+1) {
				@include break();
			}

		}

	}


}

.blog__event-tablet {

	display: none;
	@include break;

	@include mq(M) {
		display: block;
	}

	@include mq(L) {
		display: none;
	}

}

.blog__topics {
	@include break;
}

.blog__news {

	@include mq(L) {

		@include span(7 of 12);

		.post-object {

			@include span(3 of 6 first);

			&:nth-child(2n) {
				@include last();
			}

			&:nth-child(2n+1) {
				@include break();
			}

		}

	}

}


.blog__event-desktop {

	display: none;

	@include mq(L) {
		display: block;
		@include span(5 of 12 last);
	}

}

.blog__newsletter-signup {

	@include mq(L) {
		@include span(5 of 12 last);
	}

}

.blog__posts {
	@include break;

	@include mq(M) {
		@include span(4 of 6 first);
	}

	@include mq(L) {
		@include span(9 of 12 first);

		.post-object {
			@include span(2 of 6 first);
			margin-bottom: gutter() * 2;

			&:nth-child(3n) {
				@include last();
			}

			&:nth-child(3n+1) {
				@include break();
			}

		}

	}

	div {
		display: flex;
		flex-wrap: wrap;
	}
}

.blog__authors {

	display: none;

	@include mq(M) {
		display: block;
		@include span(2 of 6 last);
	}

	@include mq(L) {
		@include span(3 of 12 last);
	}

}

.blog__filter {
	@include break;

	.blog__filter__selector {
		@include span(3 of 12 first);
	}

	.post-object {
		@include span(3 of 12);

		&:last-child {
			@include last();
		}
	}

	.blog__filter__view-all {
		text-align: right;
	}
}
