.single-post {

	article {

		> section {

			background: green;

			@include mq(M) {
				@include span(8 of 12 last);
			}

			@include mq(L) {
				@include span(6 at 4 of 12 last);
				margin-right: span(2 of 12) + gutter();
			}

		}

		aside {

			background: orange;

			@include mq(M) {
				@include span(4 of 12 first);
			}

			@include mq(L) {
				@include span(3 of 12 first);
			}

		}

	}

	.related-posts {
		@include break;
	}

}

.blog__mobile-date {

	@include mq(M) {
		display: none;
	}

}
