.blog__container,
.news__container {
	@extend %page--margin-top;
	@extend %page--margin-bottom;
}

.blog__header {

	@extend .cf;

	margin-bottom: spacing(3);

	@include mq(M) {
		margin-bottom: spacing(6);
	}

}

.blog__featured {

	margin-bottom: spacing(2);

	@include mq(L) {
		@include span(7 of 12 first);
	}

}

.blog__featured-news {

	position: relative;

	@include mq(M, 'max-width') {
		margin-bottom: spacing(3);
	}

	@include mq(M) {
		@include span(1 of 2);
	}

	@include mq(L) {
		@include span(5 of 12 last);
		margin-bottom: spacing(3);
	}

}

.blog__featured-event {

	position: relative;

	@include mq(M, 'max-width') {
		margin-bottom: spacing(3);
	}

	@include mq(M) {
		@include span(1 of 2 last);
	}

	@include mq(L) {
		@include span(5 of 12 last);
		margin-bottom: spacing(3);
	}

}

.blog__header {

	.card {
		margin-bottom: 0;
	}

	.view-more {
		position: absolute;
		right: 0;
		bottom: 0;
		@include font('primary', 'semibold');
		@include font-size(14);
		color: color('mid-grey');
		display: inline-block;
		z-index: 2;
	}

}

.blog-filter {
	margin-bottom: spacing(4);
}

 //******
// POSTS

.blog__posts {
	@include break;
}

.blog__post-items,
.news__post-items {
	display: flex;
	flex-wrap: wrap;
}

.blog__post-items .card {

	width: 100%;

	@include mq(M, L) {
		@include col(3, 9);
	}

	@include mq(L) {
		@include col(3, 12);
	}

}

.news__post-items .card {

	width: 100%;

	@include mq(M, L) {
		@include col(3, 9);
	}

	@include mq(L) {
		@include col(4, 12);
	}

}

.blog__load-more {

	text-align: center;

	.button {
		width: 250px;
		max-width: 100%;
	}

}

.blog__container .update-panel {
	margin-bottom: spacing(5);
}

.blog__news {

	@include mq(M, 'max-width') {
		margin-bottom: spacing(5);
	}

	@include mq(M, L) {
		@include span(6 of 12);
	}

	@include mq(L) {

		@include span(4 of 6);

		.card {
			@include col(4, 8);
		}

	}

}

.blog__events {

	@include mq(M, L) {
		@include span(5 of 12 last);
	}

	@include mq(L) {
		@include span(2 of 6 last);
	}

}
