.single-post {

	article {

		overflow: hidden;
		margin-bottom: 6em;

		> section {

			@include mq(M) {
				@include span(8 of 12 last);
			}

			@include mq(L) {
				@include span(6 at 4 of 12 last);
				margin-right: span(2 of 12) + gutter();
			}

		}

		aside {

			@include mq(M) {
				@include span(4 of 12 first);
			}

			@include mq(L) {
				@include span(3 of 12 first);
			}

		}

	}

	.related-posts {
		@include break;
	}

}

.blog__mobile-date {

	@include mq(M) {
		display: none;
	}

}


 //**************
// RELATED POSTS

.related-posts {

	border-top: 1px solid color('lighter-grey');

	h2 {
		text-transform: uppercase;
		margin: em(55) 0;
		text-align: center;
	}

}

.yarpp-related {

	display: flex;
	flex-wrap: wrap;

	margin-bottom: em(108);

	.post-object {

		@include span(4 of 12);

		&:nth-of-type(3n) {
			@include last;
		}

		&:nth-of-type(3n+1) {
			@include break;
		}

	}

}
