.contracts-title .page-title {

	@include break;

	@include mq(L) {
		@include span(8 of 12);
		@include push(2 of 12);
	}

}

.contracts-table {

	// table sorted class
	th.header {
		cursor: pointer;
	}

	th.headerSortUp:after {
		content: ' ▼';
	}

	th.headerSortDown:after {
		content: ' ▲';
	}

	a {
		@extend %link-underline;
	}

}
