.home {
	background-color: color('background');
	color: color('white');
}

.homepage-cta {
	@include font-size(25);
	line-height: 1.9;

	@include mq(L) {
		@include span(5 of 12 first);
	}
}

.homepage-title {
	text-align: center;

	h1 {
		@include font-size(45);
		margin-bottom: em(21, 45);
	}

	h2 {
		@include font-size(26);
		margin-bottom: em(65, 26);
	}
}

.homepage-blogs {

	@include mq(M) {
		@include span(4 of 12 first);
	}
}

.homepage-spotlight {

	@include mq(M) {
		@include span(4 of 12);
	}

	.post-object {
		min-height: em(482);
	}
}

.homepage-implement {
	margin-top: em(69);

	@include mq(M) {
		@include span(3 of 12);
	}

	.heading-highlight {
		margin-left: 12px;
		margin-bottom: 1.4em;
	}

	h3 {
		@include font-size(35);
		line-height: 1.7;
	}

	.cta-list {
		margin-top: em(35);
	}
}

.homepage-filter {
	@include break();
}

.homepage-map {

}
