.home {
	background-color: color('background');
	color: color('white');
}

.homepage-hero {
	padding-top: 3em;
	padding-bottom: 6rem;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('../img/hero-rocket.jpg');
		background-size: cover;
		background-position: center bottom;
		z-index: -1;
		opacity: .5;
	}

	@include mq(M) {
		padding-top: 5em;
	}

	@include mq(L) {
		padding-top: 7.5em;
	}
}

.homepage-cta {
	@include font-size(25);
	line-height: 1.3;

	@include mq(L) {
		@include span(5 of 12 first);
	}

	p {
		@include font(secondary, medium);
		color: color('white');
		line-height: 1.3;
		padding: 5px 0;
		display: block;
	}
}

.homepage-contracting {
	@include break();
}

.homepage-title {
	text-align: center;

	h1 {
		@include font-size(45);
		margin-bottom: em(21, 45);
	}

	h2 {
		@include font-size(24);
		color: color('light-grey');
		margin-bottom: em(65, 26);
	}
}

.homepage-blogs {

	@include mq(M) {
		@include span(4 of 12 first);
	}
}

.homepage-spotlight {

	@include mq(M) {
		@include span(4 of 12);
	}

	.post-object {
		min-height: em(482);
	}
}

.homepage-implement {
	margin-top: em(69);

	@include mq(M) {
		@include span(4 of 12 last);
	}

	@include mq(L) {
		@include span(3 of 12);
	}

	.heading-highlight {
		margin-left: 12px;
		margin-bottom: 1.4em;
	}

	h3 {
		@include font-size(35);
		line-height: 1.7;
	}

	.cta-list {
		margin-top: em(35);
	}
}

.homepage-filter {
	@include break();
}

.homepage-filter__items-pool {
	display: none;
}

.homepage-filter__items {
    display: flex;
    flex-wrap: wrap;
}

.homepage-filter__item {
	margin-bottom: gutter();

	@include mq(M) {
		@include span(6 of 12);

		&:nth-child(2n+1) {
			@include first;
		}

		&:nth-child(2n) {
			@include last;
		}
	}

	@include mq(L) {
		@include span(4 of 12);

		&:nth-child(2n+1),
		&:nth-child(2n) {
			@include span(4 of 12);
		}

		&:nth-child(3n+1) {
			@include first;
			clear: both;
		}

		&:nth-child(3n) {
			@include last;
		}
	}
}

.homepage-filter__twitter {
	@include font('secondary', 'regular');
	@include font-size(25);
	background-color: color('dark-background');
	padding: 3rem 1.5rem;

	svg {
		display: inline;
		fill: color('twitter');
		width: 2em;
		height: 2em;
		vertical-align: bottom;
		margin-right: .5em;
	}

	p {
		margin-bottom: 0;
		line-height: 1.3;
	}

	b {
		@include font('secondary', 'bold');
	}

	a {
		color: color('twitter');
		text-decoration: underline;

		&:hover,
		&:active {
			text-decoration: none;
		}

		&:focus {
			text-decoration: underline;
		}
	}

	.tweet__mention,
	.tweet__hashtag {
		@include font('secondary', 'bold');
		color: color('white');
		text-decoration: none;

		&:hover,
		&:active {
			text-decoration: underline;
		}

		&:focus {
			text-decoration: none;
		}
	}

	.tweet__link {
		@include font-size(20);
	}
}

.homepage-map {
	background-color: color('dark-background');
}

.homepage-map__image {
	display: none;

	@include mq(M) {
		@include span(7 of 12 first);
		display: block;
	}
}

.homepage-map__content {
	padding: 2rem;

	@include mq(M) {
		@include span(5 of 12 last);
	}

	@include mq(L) {
		@include span(4 of 12);
	}

	span {
		@include font('secondary', 'medium');
		@include font-size(20);
		color: color('brand');
		display: block;
		margin-bottom: 1.5rem;
	}
}
