[id="impact-stories"] {

	padding-top: spacing(7);

	.page-title {

		margin-bottom: spacing(7);

		h1 {
			@extend .beta;
			text-align: center;
			margin-bottom: spacing(2);
		}

		.strapline {
			@include font-size(18);
			color: color('body');
			text-align: center;
		}

	}

}

.impact-card--featured {
	margin-bottom: spacing(10);
}

.impact-stories__sidebar {

	@include span(3 of 12);
	margin-bottom: spacing(12);

	h2 {
		@extend .zeta;
		text-transform: uppercase;
		margin-bottom: 0;
	}

}

.impact-stories__filter {
	margin-bottom: spacing(6);
}

.impact-stories__main {

	@include span(9 of 12 last);
	margin-bottom: spacing(12);

	.impact-card {
		@include col(3, 9);
	}

}
