[id="impact-stories"] {

	padding-top: spacing(7);

	.page-title {

		margin-bottom: spacing(7);

		h1 {
			@extend .beta;
			text-align: center;
			margin-bottom: spacing(2);
		}

		.strapline {
			@include font-size(18);
			color: color('body');
			text-align: center;
		}

	}

}

.impact-stories__main {

	display: flex;
	flex-direction: column;

	@include mq(M) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	> div {

		margin-bottom: $space;

		@include mq(M) {
			flex: 0 1 calc(33% - #{$space / 2});
		}

	}

}
