.page-advisory-board__intro {

	margin-bottom: spacing(5);

	@include mq(768) {
		margin-bottom: spacing(8);
	}

	@include mq(L) {
		@include span(6 of 12);
		margin-bottom: spacing(12);
	}

	.strapline {
		margin-bottom: 0;
	}

}

.page-advisory-board__minutes {
	@include break;
}

.page-advisory-board__members {

	@include break;
	margin-top: 0;

	@include mq(768) {
		@include span(3 of 12);
	}

}

.page-advisory-board__member-bio {

	@include mq(768) {
		@include span(8 of 12 last);
	}

}
