.page-team__title {

	margin-bottom: spacing(5);

	@include mq(M) {
		margin-bottom: spacing(8);
	}

	@include mq(L) {
		@include span(6 of 12);
		margin-bottom: spacing(12);
	}

	.strapline {
		margin-bottom: 0;
	}

}

.page-team__sidebar {

	@include break;
	margin-top: 0;

	@include mq(M) {
		@include span(3 of 12);
	}

}

.page-team__content {

	@include mq(M) {
		@include span(8 of 12 last);
	}
}
