.page-team__sidebar {

	@include mq(L) {
		@include span(4 of 12);
	}

}

.page-team__content {

	@include mq(L) {
		@include span(6 at 5 of 12);
		margin-left: span(1 of 12) + gutter();
	}

}

.page-team__sidebar {
	padding-top: em(55);
}

.team-member__image {

	@include mq(L) {
		margin-left: 0 - span(1 of 12) + gutter();
		margin-right: 0 - span(1 of 12) + gutter();
	}

}
