.page-sidebar {
	margin-top: 0;
	margin-bottom: rem(200);

	@include mq(M) {
		@include span(3 of 12 first);
	}
}

.page-sidebar--wide {

	@include mq(M) {
		@include span(4 of 12 first);
	}
}

.page__section-nav {
	margin-bottom: 3.5rem;
}

.page-content {
	margin-bottom: rem(200);

	@include mq(M) {
		@include span(6 at 4 of 12);
		margin-left: span(1 of 12) + gutter();
	}
}

.page--padding {
	padding-top: 8em;
}
