.page-title {

	@include mq(M) {
		@include span(10 of 12);
		margin-left: span(1 of 12) + gutter();
	}

	.page--template-two-column & {
		@include full;
		margin-left: 0;
	}
}

.page-sidebar {
	margin-top: 0;
	margin-bottom: 1rem;

	@include mq(M) {
		@include span(3 of 12 first);
	}
}

.page-sidebar--wide {

	@include mq(M) {
		@include span(4 of 12 first);
	}
}

.page__section-nav {
	display: none;

	@include mq(M) {
		display: block;
		margin-bottom: em(70);
	}
}

.page-content {
	@include break;
	margin-bottom: 1rem;

	@include mq(M) {
		@include span(10 of 12);
		margin-left: span(1 of 12) + gutter();

		.page--template-two-column & {
			@include nobreak;
			@include span(7 at 4 of 12);
			margin-left: span(1 of 12) + gutter();
		}
	}

	@include mq(L) {
		@include span(10 of 12);
		margin-left: span(1 of 12) + gutter();
	}
}

.page--padding {
	padding-top: 2em;

	@include mq(M) {
	    padding-top: 5em;
	}
}


 //*************
// PAGE WRAPPER

.page__container {
	margin-bottom: rem(200);
}

.page__wrapper {
	position: relative;
}

 //**********
// WORLDWIDE

.worldwide-intro {
	clear: both;

	@include mq(M) {
		margin-left: 8.41121%;
	    max-width: 60%;
	}
}
