.resource__header {
	background-color: post-color('resource');
	padding-top: spacing(12);
	padding-bottom: spacing(5);
	margin-bottom: em(57);
}

.resource-search__container {

	margin-bottom: spacing(12);

	@include mq(L) {
		padding: 0 span(3 of 12) + gutter();
	}

}

.resources-container {

	@include container;
	margin-bottom: em(250);
	display: flex;
	flex-wrap: wrap;

	.card {

		margin-bottom: spacing(2);

		@include mq(M, L) {
			@include col(2, 4);
		}

		@include mq(L) {
			@include col(4, 12);
		}

	}

}

.resource__filter-container {

	display: flex;
	flex-wrap: wrap;

	.resource-filter {

		@include mq(M, 'max-width') {

			@include span(1 of 2);

			&:nth-child(2n) {
				@include last;
			}

		}

		@include mq(M, L) {

			@include span(3 of 12);

			&:nth-child(4n) {
				@include last;
			}

		}

		@include mq(L) {

			@include span(2 of 12);

			&:nth-child(6n) {
				@include last;
			}

		}

	}


}

.resource__filter-actions {

	@include break;
	@include font-size(16);
	text-align: center;
	margin-bottom: em(30, 16);

	.button {
		margin: 0 1em 0 0;
	}

	.resource__filter-reset {
		@include font('secondary', 'medium');
		color: color('white');
	}

}



body.resource-open {
	overflow: hidden;
}

.single-resource,
.resource {

	.button--icon svg {
		stroke-width: 1.5px;
	}
}

.resource-transition.resource__overlay {
	background-color: color('white', .8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}

.resource-transition.resource {
	@include font-size(16);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	min-width: em(350, 16);
	max-width: em(525, 16);
	padding: em(100, 16) em(44, 16);
	background-color: color('white', .8);
	border-left: 1px solid color('light-grey');
	overflow: scroll;
	z-index: 16;
	transform: translateX(0);
	transition: transform .3s ease-in-out;

	@include mq(L) {
	    width: 33%;
	}
}

.resource-enter,
.resource-leave {

	&.resource__overlay {
		background-color: color('white', 0);
	}

	&.resource {
		transform: translateX(100%);
	}
}

.resource__title {

	@include font-size(20);
	padding-bottom: em(15);
	border-bottom: 10px solid post-color('resource');
	margin-bottom: em(28);
	width: 90%;
	position: relative;

	svg {
		width: em(48);
		height: em(48);
		stroke: post-color('resource');
	}

	a {
		color: post-color('resource');
		position: absolute;
		bottom: 1em;
		padding-left: .5em;
	}

}

.resource__meta {
	@include font('secondary', 'medium');
	@include font-size(14);
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	padding-right: em(80, 14);
}

.resource__published-date {
	position: absolute;
	right: 0;
	top: 0;
}

.resource__terms {

	p {
		@include font('secondary');
		@include font-size(14);
		text-transform: uppercase;
		letter-spacing: 1px;
		float: left;
		min-width: 110px;
		margin-right: 1em;
		margin-bottom: em(8);
	}

}

.resource hr {
	border-color: color('lighter-grey');
}

.resource__close {

	position: absolute;
	top: em(26);
	right: em(26);

	svg {
		width: em(18);
		height: em(18);
		fill: color('background');
	}

}
