<ul class="share pull-right">
	<li><a class="btn btn-icon" href="http://twitter.com/home?status=" target="_blank"><svg class="icon"><use xlink:href="#icon-twitter"></svg></a></li>
	<li><a class="btn btn-icon" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><svg class="icon"><use xlink:href="#icon-facebook"></svg></a></li>
	<li><a class="btn btn-icon" href="https://plus.google.com/share?url=" target="_blank"><svg class="icon"><use xlink:href="#icon-google"></svg></a></li>
	<li><a class="btn btn-icon" href="https://www.linkedin.com/shareArticle?mini=true&url=" target="_blank"><svg class="icon"><use xlink:href="#icon-linkedin"></svg></a></li>
	<li><a class="btn btn-icon" href="mailto:?subject="><svg class="icon"><use xlink:href="#icon-mail"></svg></a></li>
</ul>
