<a class="arrow-link" href="{{ block.link.url }}" target="{{ block.link.target }}">
	<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
	<span class="arrow-link__label">{{ block.link.title }}</span>
</a>
