<div class="block" data-block-type="cover">

	<h1 class="block__heading">{{ block.heading }}</h1>

	<div class="block__image" style="background-image: url('{{ block.image.url }}');"></div>
	<div class="block__image-overlay" style="background-color: {{ block.background_color }};"></div>

</div>
