<div class="block" data-block-type="download-carousel">

	{# <h4><?php _e('Download minutes from the Advisory Board meetings:', 'ocp'); ?></h4> #}

	<div class="block__container">

		<div class="block__carousel-controls">

			<button class="button--naked" rel="prev">Previous</button>
			<button class="button--naked" rel="next">Next</button>

		</div>

		<div class="block__carousel">

			{% for download in block.downloads %}

				<div class="block__carousel-item">
					<span class="block__carousel-item-date">{{ download.date }}</span>
					<a class="block__carousel-item-title" href="{{ download.file }}">{{ download.title | raw }}</a>
				</div>

			{% endfor %}

		</div>

	</div>

</div>
