<div class="block" data-block-type="more-stories">

	<div class="block__background" style="background-color: {{ block.background_colour }}"></div>

	<div class="block__container" style="color: {{ block.text_colour }};">

		<h1 class="block__heading">{{ block.title }}</h1>

		<div class="block__stories">

			<div class="card card--primary">

				<div class="card__image">

					<img src="https://ocp.imgix.net/wp-content/uploads/2019/09/Mitad_del_Mundo_Quito_Ecuador_2015-07-22_DD_03-e1567799287970.jpg?fm=pjpg&fit=max&w=1000" />

					<div class="card__image-overlay">
						<div class="card__tag">Blog</div>
					</div>

				</div>

				<div class="card__main">

					<a class="card__title-link" href="#">
						<h2 class="card__title">Reflections from the middle of the world: innovation in open contracting from Latin&nbsp;America</h2>
					</a>

					<div class="card__footer">

						<div class="card__meta">
							Nicolas Penagos
						</div>

						<div class="card__cta">

							<a class="arrow-link" href="#">

								<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>

								<span class="arrow-link__label">Read</span>

							</a>

						</div>

					</div>

				</div>

			</div>

			<div class="card card--primary">

				<div class="card__image">

					<img src="https://ocp.imgix.net/wp-content/uploads/2019/09/Mitad_del_Mundo_Quito_Ecuador_2015-07-22_DD_03-e1567799287970.jpg?fm=pjpg&fit=max&w=1000" />

					<div class="card__image-overlay">
						<div class="card__tag">Blog</div>
					</div>

				</div>

				<div class="card__main">

					<a class="card__title-link" href="#">
						<h2 class="card__title">Reflections from the middle of the world: innovation in open contracting from Latin&nbsp;America</h2>
					</a>

					<div class="card__footer">

						<div class="card__meta">
							Nicolas Penagos
						</div>

						<div class="card__cta">

							<a class="arrow-link" href="#">

								<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>

								<span class="arrow-link__label">Read</span>

							</a>

						</div>

					</div>

				</div>

			</div>

			<div class="card card--primary">

				<div class="card__image">

					<img src="https://ocp.imgix.net/wp-content/uploads/2019/09/Mitad_del_Mundo_Quito_Ecuador_2015-07-22_DD_03-e1567799287970.jpg?fm=pjpg&fit=max&w=1000" />

					<div class="card__image-overlay">
						<div class="card__tag">Blog</div>
					</div>

				</div>

				<div class="card__main">

					<a class="card__title-link" href="#">
						<h2 class="card__title">Reflections from the middle of the world: innovation in open contracting from Latin&nbsp;America</h2>
					</a>

					<div class="card__footer">

						<div class="card__meta">
							Nicolas Penagos
						</div>

						<div class="card__cta">

							<a class="arrow-link" href="#">

								<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>

								<span class="arrow-link__label">Read</span>

							</a>

						</div>

					</div>

				</div>

			</div>

		</div> <!-- / .block__stories -->

	</div>

</div>
