<div class="block" data-block-type="sign-up-cover">

	<div class="block__image" style="background-image: url('{{ block.image.url }}');"></div>

	<div class="block__image-overlay" style="background-color: {{ block.background_color }};"></div>

	<div class="block__container">

		<h1 class="block__heading">{{ block.heading }}</h1>

		<div class="block__form-container">

			<form class="block__form / js-mailchimp-form">

				<p>Sign up to our online community.</p>
				<input type="email" name="email" placeholder="Your email address">

				<p class="js-mailchimp-form__message">&nbsp;</p>

			</form>


		</div>

	</div>

</div>
