<div class="simple-header">
    <div class="simple-header__container">
        <h1 class="simple-header__heading">{{ block.heading }}</h1>
        <div class="simple-header__content">{{ block.content }}</div>
    </div>
</div>
