.post-object.post-object--archive {
	display: flex;
	border: 1px solid color('lighter-grey');

	.post-object__media {
		display: none;

		@include mq(M) {
			width: em(137);
			min-height: em(137);
			border-right: 1px solid color('lighter-grey');
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
		}
	}

	svg {
		width: em(50);
		height: em(50);
	}

	.post-object__content,
	.post-object__meta {
		display: flex;
		justify-content: space-between;
	}

	.post-object__content {
		flex-direction: column;
		flex-grow: 1;
		padding: em(10) em(15);
	}

	.post-object__meta {
		@include font('secondary', 'regular');
		color: color('off-grey');
		margin: 0;
	}

	h4 {
		@include font('secondary', 'medium');
		@include font-size(30);
		color: color('background');
	}
}
