.post-object--basic {
	padding-top: em(8);
	padding-bottom: em(8);

	h3 {
		@include font-size(30);
		@include font('secondary', 'bold');
		margin-bottom: em(6, 30);
	}

	a {
		color: color('background');
	}

	.post-object__meta {
		@include font-size(14);
		@include font('secondary', 'medium');
		color: color('background');
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}
