.post-object {
	display: block;
	margin-bottom: em(10);
	text-decoration: none;

	h4 {
		line-height: 1.25;
		margin-bottom: 1em;
	}

	.archive-posts & {
		@include mq(M) {
			@include span(4 of 12 first);

			&:nth-child(3n) {
				@include last();
			}

			&:nth-child(3n+1) {
				@include break();
			}
		}
	}

	.post-object__media-wrapper {

		.content {
			overflow: hidden;
		}

		img,
		svg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}

	}

	svg {
		width: em(50);
		height: em(50);
	}

}

a.post-object {

	&:hover,
	&:active {
		text-decoration: none;

		h4 {
			text-decoration: underline;
		}
	}

	&:focus {
		text-decoration: none;

		h4 {
			text-decoration: none;
		}
	}

}

.post-object__meta {
	@include font-size(14);
	@include font('secondary', 'medium');
	color: color('background');
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.post-object__content {
	padding: .5rem .5rem .5rem 1em;
}

// post-object--type-[post-type]
.post-object--type {


	&-resource {
		stroke: post-color('resource');
	}


}
