.post-object--event {
	display: flex;
	border: 1px solid color('lightest-grey');
	color: color('background');

	.post-object__content,
	.post-object__media,
	.post-object__link {
		display: flex;
		align-items: center;
	}

	.post-object__media {
		@include font('secondary', 'medium');
		@include font-size(29);
		background-color: color('blue');
		color: color('white');
		text-align: center;
		line-height: .9;
		padding: em(15, 29);

		span {
			@include font-size(18);
		}

		em {
			font-style: normal;
			text-transform: uppercase;
			display: block;
		}
	}

	.post-object__content {
		flex: 2;
		padding: em(18);

		h4 {
			margin: 0;
		}
	}

	a {
		color: color('background');
	}

	h4 {
		@include font('secondary', 'medium');
		@include font-size(22);
	}

	.post-object__link {
		@include font('secondary', 'medium');
		@include font-size(14);
		color: color('background');
		text-transform: uppercase;
		letter-spacing: 1px;
		border-left: 1px solid color('lightest-grey');
		flex: 1;
		justify-content: center;
	}
}
