.post-object--featured {
	position: relative;
	border: 1px solid color('lighter-grey');

	@include mq(M) {
	    border: 0;
	}

	.post-object__content {
		bottom: em(50);
		left: em(25);
		right: em(65);

		@include mq(M) {
		    position: absolute;
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	.post-object__tag {
		padding: em(13);
		float: none;
		margin-bottom: 1em;

		@include mq(M) {
			float: left;
		    margin-left: -10px;
		}
	}

	h4 {
		@include font-size(20);
		color: color('background');
		margin: 0;

		span {
			@include font('secondary', 'bold');
		}

		@include mq(M) {
			@include font-size(40);
			color: color('white');

			span {
				display: inline;
				background-color: color('dark-background');
				box-shadow: .57143rem 0 0 color('dark-background'), -.57143rem 0 0 color('dark-background');
				box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
				line-height: 1.45;
				padding: 7px 0;
			}
		}
	}

	.post-object__meta {
		@include font-size(14);
		@include font('secondary', 'bold');
		letter-spacing: 1px;
		text-transform: uppercase;

		@include mq(M) {
			background-color: color('dark-background');
			display: inline-block;
			color: color('white');
			padding: em(13);
			display: inline-block;
			margin-left: -10px;
		}
	}
}
