.post-object--featured {

	color: color('dark-background');
	border: 1px solid color('lighter-grey');
	cursor: pointer;

	.post-object__tag {
		float: none;
		display: inline-block;
		margin-bottom: $space;
	}

	h4 {

		@include font-size(20);
		margin-top: 0;
		margin-bottom: .25em;

		@include mq(M) {
			@include font-size(40);
		}

	}

}
