.post-object--horizontal {

	overflow: hidden;
	color: color('body');
	background-color: color('white');
	border: 1px solid color('lighter-grey');

	.post-object__content {
		padding: 1em 1.5em;
	}

	.post-object__meta {
		margin-bottom: .357em;
	}

	h4 {
		margin-top: 15px;
	}

}

.post-object--horizontal--small {

	.post-object__media {
		width: em(122);
		height: em(97);
		background: color('brand');
		position: relative;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	h4 {
		@include font('secondary', 'bold');
		@include font-size(22);
		line-height: 1.2;
		color: color('dark-grey');
		margin: -12px 0 0;
	}

	p {
		@include font('secondary', 'medium');
		@include font-size(14);
		line-height: 1.8;
		color: color('background');
		text-transform: uppercase;
	}
}
