.post-object--horizontal {
	overflow: hidden;
	color: color('body');
	background-color: color('white');
	border: 1px solid color('lighter-grey');

	.post-object__content {
		padding: 1em 1.5em;
	}

	.post-object__meta {
		margin-bottom: .357em;
	}

	h4 {
		margin-top: 15px;
	}

	.home & {
		height: em(154);

		h4 {
			display: inline;
			background-color: color('lilac');
			box-shadow: 5px 0 0 color('lilac'), -5px 0 0 color('lilac');
			box-decoration-break: clone; // FF32 Fix - https://css-tricks.com/multi-line-padded-text/
			line-height: 1.3;
			padding: 0;
		}

		p {
			margin-top: .5rem;
		}
	}

	.post-object__media-wrapper {
		@include aspect-ratio(4, 3);
		width: 230px;
	}

	svg {
		width: 3.5em;
		height: 3.5em;
	}

}
