.post-object--light {
	color: color('dark-grey');
	border: 1px solid color('lighter-grey');

	.post-object__tag {
		color: color('white');

		@include mq(M) {
			bottom: 0;
		}
	}

	.post-object__content {
		background-color: color('white');
		border-top: 1px solid color('lighter-grey');
	}

	.post-object__content-meta {
		@include font-size(14);
		color: color('mid-grey');
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: em(21, 14);
	}

	.post-object__author {
		margin-right: em(11, 14);
	}

	.post-object__comment-count {
		float: right;
	}

	h4 {
		@include font(secondary);
		@include font-size(24);
		line-height: 1.16;
		margin-bottom: 0;
	}
}
