.post-object--resource {
	color: color('background');
	border: 1px solid color('lighter-grey');
	display: flex;
	flex-direction: row-reverse;
	width: 100%;

	.post-object--resource__media {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 5.3em;
	}

	.post-object--resource__icon {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: color('teal');
		fill: color('white');
	}

	.post-object--resource__type {
		@include font-size(14);
		@include font('secondary', 'medium');
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-left: 1px solid color('lighter-grey');
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.post-object__content {
		flex: 1;
		padding: 1rem;
	}

	svg {
		width: 4.26667em;
		height: 1.73em;
	}

	.button {
		@include font-size(12);
		letter-spacing: 1px;
		border: 0;
		margin: 0;
	}

	h4 {
		@include font('secondary', 'bold');
		@include font-size(20);
		line-height: 1.3;
		margin-bottom: 0;
	}

	.post-object__meta {
		@include font-size(13);
		display: flex;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 1rem;

		span {
			flex: 1;
		}
	}

	time {
		padding: 0 1em;
	}
}
