.post-object--search {

	.post-object__tag {
		margin-top: 5px;
		margin-right: 10px;
	}

	a {
		color: color('background');
	}

	h4 {
		@include font('secondary', 'medium');
		@include font-size(29);
	}
}
