.post-object--vertical {
	border: 1px solid color('lightest-grey');

	h4 {
		@include font-size(22);
		@include font('secondary', 'bold');
		line-height: 1.2;
		color: color('background');
	}

	.post-object__content {
		padding: em(21);

		:last-child {
			margin-bottom: 0;
		}
	}

	.post-object__media {
		position: relative;

		.post-object__tag {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
