.gs-diamonds {

}

.gs-diamonds__step-number {
	@include font-size(23);
	@include font('primary', 'bold');
	fill: #FFF;
	opacity: .5;
}

.gs-diamonds__step-title {
	@include font-size(16);
	@include font('primary', 'bold');
	fill: #FFF;
	text-transform: uppercase;
}

.gs-diamonds--clickable {

	.gs-diamonds__step {

		cursor: pointer;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}

	}

	.gs-diamonds__step-icon {
		opacity: 0;
		transition: opacity .5s ease;
	}

	.gs-diamonds__step:hover .gs-diamonds__step-icon,
	.gs-diamonds__step:focus .gs-diamonds__step-icon,
	.gs-diamonds__step.active .gs-diamonds__step-icon {
		opacity: 1;
	}

}


 //********
// LANDING

.gs-landing {
	@include font-size(18);
}

	.gs-landing__title {

		@include font-size(30);

		@include mq(M) {
			margin-bottom: spacing(8);
		}

	}

	.gs-landing__main {

		margin-bottom: spacing(6);

		@include mq(M) {
			display: flex;
			justify-content: space-between;
			margin-bottom: spacing(10);
		}

	}

		.gs-landing__intro {
			flex: 0 0 calc(#{span(5 of 12)} - #{gutter()});
			margin-bottom: spacing(6);
		}

		.gs-landing__diagram {
			flex: 0 0 span(7 of 12);
			display: flex;
			align-items: center;
			flex-direction: column;
		}

			.gs-landing__diagram .gs-diamonds {

				margin-bottom: spacing(6);

				@include mq(M, 'max-width') {
					max-width: 500px;
				}

				@include mq(M) {
					margin-bottom: spacing(10);
				}

			}

	.gs-landing__secondary {

		@include font-size(16);
		border-top: 2px solid color('lighter-grey');
		padding-top: spacing(6);

		@include mq(M) {

			display: flex;
			justify-content: space-between;

			> * {
				flex: 0 0 30%;
			}

		}

	}

		.gs-landing__secondary-nav {

			@include mq(M, 'max-width') {
				padding-top: spacing(5);
			}

			display: flex;
			flex-direction: column;
			align-items: center;

		}


 //*******
// DETAIL

.gs-detail {

	.page__wrapper {

		@include mq(L) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&::after {
			display: none;
		}

	}

	.page-content {

		@include mq(L, 'max-width') {
			margin-bottom: spacing(12);
		}

		flex-basis: span(7 of 12);

	}

	.page-sidebar {

		margin-top: 0;

		// @include mq(L, 'max-width') {
        //
		// 	display: flex;
		// 	justify-content: space-between;
		// 	position: absolute;
		// 	top: -68px;
		// 	left: 0;
		// 	right: 0;
		// 	margin-top: 0;
		// 	padding: 12px 16px;
		// 	z-index: 2;
        //
		// 	&.fixed {
		// 		position: fixed;
		// 		top: 0;
		// 	}
        //
		// }

		@include mq(L) {
			position: static;
			flex: 0 0 span(4 of 12);
		}

	}

	.nav-bar {

		@include mq(ML) {
			display: none;
		}

	}

	aside {
		margin-top: spacing(3);
	}

}

	.gs-detail__sidebar-title {

		@include font-size(35);
		margin-bottom: spacing(2);

		@include mq(ML) {
			@include font-size(50);
		}

	}

	.gs-detail__sidebar-strap {

		@include font-size(20);
		@include font('primary', 'bold');

		&[data-step="1"] {
			color: #899A03;
		}

		&[data-step="2"],
		&[data-step="3"],
		&[data-step="4"] {
			color: #A6BB05;
		}

		&[data-step="5"] {
			color: #FB6045;
		}

		&[data-step="6"] {
			color: #6C75E1;
		}


		&[data-step="7"] {
			color: #23B2A7;
		}

	}

	.gs-detail__side-top {

	}

		.gs-detail .page-sidebar .gs-diamonds {

			margin-bottom: spacing(9);

			@include mq(L, 'max-width') {
				display: none;
			}

			@include mq(1300) {
				margin-left: spacing(-4);
				margin-right: spacing(-4);
			}

		}

		.gs-detail .page-content .gs-diamonds {

			margin-top: spacing(5);
			max-width: spacing(62);

			@include mq(L) {
				display: none;
			}

		}

		.gs-detail__toc {

			@include font-size(16);
			@include font('primary', 'semibold');
			color: color('dark-background');
			margin-bottom: spacing(6);

			@include mq(ML) {
				@include font-size(20);
			}

			a {

				line-height: 1;
				color: currentColor;
				display: flex;
				align-items: center;
				margin-bottom: spacing(3);

				&::before {

					content: '';
					display: block;
					height: .8em;
					width: .8em;
					border-radius: 50%;
					background-color: color('lighter-grey');
					flex: 0 0 .8em;
					margin-right: spacing(1);

					@include mq(ML) {
						margin-right: spacing(2);
					}

				}

				&:hover,
				&:focus,
				&.active {

					&::before {
						background-color: color('brand');
					}

				}

			}

		}

	.gs-detail__side-footer {
		position: sticky;
		top: calc(100% - 204px);
	}

		.gs-detail__key {

			@include mq(L, 'max-width') {
				display: none;
			}

			@include font-size(18);

		}

			.gs-detail__key-title {
				display: block;
				margin-bottom: spacing(1);
			}

			.gs-detail__key-inner {
				display: flex;
				flex-direction: row;
			}

				.gs-detail__key-col {
					display: flex;
					flex-direction: column;
					margin-right: spacing(4);
				}

					.gs-detail__key-item {

						display: flex;
						align-items: center;
						margin-bottom: spacing(1);

						> svg {

							height: 1em;
							width: 1em;
							flex: 0 0 1em;
							margin-right: spacing(1);

							&[data-type="read"] {
								fill: #6C75E1;
								color: color('white');
							}

							&[data-type="complete"] {
								fill: #6991F5;
								color: color('white');
							}

							&[data-type="connect"] {
								fill: #23B2A7;
								color: color('white');
							}

							&[data-type="get_inspired"] {
								fill: #FB6045;
								color: color('white');
							}

						}

					}

.gs-detail__content {

	@include font-size(16);

	@include mq(ML) {
		@include font-size(18);
	}

}

.gs-detail__tick-heading {

	@include font-size(22);
	display: flex;
	align-items: center;

	> svg {
		font-size: 30px;
		height: 1em;
		width: 1.1em;
		margin-right: spacing(2);
		flex: 0 0 1.1em;
	}

	@include mq(L) {
		margin-left: calc(0px - (30px * 1.1) - #{spacing(2)});
	}

}

.gs-detail__section {
	margin-bottom: spacing(6);
}

/* a */ .gs-detail__resource {

	background-color: #F9F9F9;
	color: color('body');
	display: flex;
	align-items: center;
	padding: spacing(2);
	margin-bottom: spacing(1);

	> svg {
		font-size: 24;
		height: 1em;
		width: 1em;
		flex: 0 0 1em;
		margin-right: spacing(1);
	}

	&[data-type="read"] > svg {
		fill: #6C75E1;
		color: color('white');
	}

	&[data-type="complete"] > svg {
		fill: #6991F5;
		color: color('white');
	}

	&[data-type="connect"] > svg {
		fill: #23B2A7;
		color: color('white');
	}

	&[data-type="get_inspired"] > svg {
		fill: #FB6045;
		color: color('white');
	}

}

.gs-detail__nav {

	@include mq(L, 'max-width') {
		display: none;
	}

	background-color: color('brand-dark');
	color: color('white');



}

	.gs-detail__nav-inner {

		@include wrapper;
		padding-top: spacing(4);
		padding-bottom: spacing(5);
		display: flex;
		flex-wrap: wrap;

		a {

			@include font-size(18);
			@include font('secondary', 'bold');
			color: currentColor;
			margin-right: spacing(5);
			text-transform: uppercase;
			padding-bottom: spacing(1);
			border-bottom: 2px solid transparent;
			line-height: 1;

			&:hover,
			&:focus,
			&:active,
			&.router-link-active {
				text-decoration: none;
				border-bottom-color: color('white');
			}

		}

	}
