.impact-stories {
	@extend %screen-shell-grid;
	margin-top: var(--v-spacing);
}

	.impact-stories__container {
		grid-column: content;
		@extend %column-grid;
	}

		.impact-stories__header {

			@include font('secondary');
			grid-column: all;
			margin-bottom: var(--v-spacing);

			@include from(T) {
				grid-column: all / 10;
			}

			> *:last-child {
				margin-bottom: 0;
			}

		}

		.impact-stories__filters {
			--columns: 1;

			grid-column: all;
			border: 2px solid $ui-grey-6;
			border-radius: spacing(4) spacing(1);
			padding: spacing(3);
			margin-bottom: var(--v-spacing);
			display: grid;
			grid-template-columns: repeat(var(--columns), 1fr);
			grid-gap: spacing(3);

			@include from(S) {
				--columns: 2;
			}

			@include from(M) {
				--columns: 3;

                padding: spacing(5);
			}
		}

			.impact-stories__filter-heading {
				font-size: 14px;
				@include font('secondary', 'medium');
				margin-bottom: 0;
				grid-column: all;
                margin-bottom: spacing(1);
			}


			.impact-stories__filters label {
				font-size: 12px;
				@include font('secondary', 'medium');
				text-transform: none;
				display: flex;
				align-items: center;
				// margin-bottom: spacing(1);
				color: $ui-grey-2;

				input {

					font-size: 21px;
					flex: 0 0 auto;
					margin: 0 spacing(1) 0 0;

					height: 1em;
					width: 1em;
					appearance: none;
					background-color: $ui-white;
					border: 1px solid $ui-grey-4;
					display: flex;
					align-items: center;
					justify-content: center;

					&:checked:after {
						content: '\00D7';
						font-size: 1.2em;
						margin-top: .1em;
						color: $ui-grey-3;
					}

				}

			}

        .impact-stories__filter-tags {
            margin-top: spacing(1);
            display: flex;
            flex-wrap: wrap;
            gap: spacing(1);
        }

        .impact-stories__filter-tag {
            background-color: $ui-brand;
            color: $ui-black;
            font-size: 14px;
            padding: 0.25em 0.65em;
            font-weight: bold;
        }

        .impact-stories__filter-checkboxes {
            display: flex;
            flex-wrap: wrap;
            gap: spacing(1);
        }

		.impact-stories__posts {

			grid-column: all;
			margin-bottom: var(--v-spacing-half);

			--columns: 1;
			display: grid;
			grid-gap: spacing(4) spacing(2);
			grid-template-columns: repeat(var(--columns), 1fr);

			@include from(T) {
				--columns: 2;
			}

			@include from(M) {
				--columns: 3;
			}

		}

        .impact-stories__no-results {
			grid-column: all;
			margin-bottom: var(--v-spacing);
            background-color: $ui-grey-6;
            padding: spacing(4);
            text-align: center;
            border-radius: spacing(1);

            > :last-child {
                margin-bottom: 0;
            }
        }
