.resource-archive {
	// @extend %column-grid;
	margin-bottom: var(--v-spacing);
}

	.resource-archive__header {

		grid-column: all;
		margin-bottom: var(--v-spacing);

		@include from(M) {
			grid-column: all / span 6;
		}

	}

		.resource-archive__heading {
			@include fluid-type(font-size, 375px, 1240px, 22px, 36px);
			margin-bottom: spacing(3);
		}

		.resource-archive__intro {
			font-size: 16px;
			@include font('secondary', 'medium');
		}

		.resource-archive__intro > :last-child {
			margin-bottom: 0;
		}


	.resource-archive__controls {
		position: relative;
	}

	.resource-archive__search {
		max-width: 518px;
		grid-column: all;
		margin-bottom: spacing(2);
		background-color: $ui-white;


		@include from(L) {
			position: absolute;
			top: spacing(2);
			right: spacing(2);
		}

	}

	.resource-archive__filters {

		grid-column: all;
		margin-bottom: var(--v-spacing);

		@include from(T) {
			grid-column: all / span 6;
		}

	}

		.resource-archive__filter {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: spacing(2);
		}

			.resource-archive__filter-heading {
				font-size: 16px;
				@include font('secondary', 'bold');
				margin-bottom: spacing(1);
				flex: 0 0 100%;
			}

			.resource-archive__filter-field {

				display: flex;
				align-items: center;
				margin-right: spacing(3);
				margin-bottom: spacing(1);
				font-size: 14px;
				text-transform: none;
				@include font('secondary', 'medium');

				input {
					flex: 0 0 auto;
					margin-right: spacing(1);
				}

			}

	.resource-archive__results {
		--columns: 1;

		grid-column: all;
		display: grid;
		grid-template-columns: repeat(var(--columns), 1fr);
		grid-gap: spacing(3);

		@include from(T) {
			--columns: 2;
		}

		@include from(L) {
			--columns: 3;
		}
	}

        .resource-archive__results-card > * {
            height: 100%;
        }

	.resource-archive {

		.filter-menu {
			gap: spacing(1);
			display: flex;
			flex-direction: column;
		}

		.filter-text {
			margin-bottom: 0;
		}

		.filters-container {
			display: flex;
			flex-wrap: wrap;
			gap: spacing(1);
			margin-bottom: spacing(1);

		}

		.search-input__input {
			padding: 4px 120px 4px 12px;
			font-size: spacing(1.5);

			@include from(L) {
				padding: 4px 120px 4px 12px;

			}
		}
	}
