.resource__header {

	background-color: post-color('resource');
	padding-top: spacing(8);
	padding-bottom: spacing(1);
	margin-bottom: spacing(4);

	@include mq(M) {
		padding-top: spacing(12);
		padding-bottom: spacing(5);
		margin-bottom: spacing(7);
	}

}

.resource-search__container {

	margin-bottom: spacing(4);

	@include mq(M) {
		margin-bottom: spacing(12);
		padding: 0 span(3 of 12) + gutter();
	}

}

.resources-container {

	@include container;
	display: flex;
	flex-wrap: wrap;
	@extend %page--margin-bottom;

	.card {

		margin-bottom: spacing(2);
		min-height: spacing(19);

		@include mq(M, L) {
			@include col(2, 4);
		}

		@include mq(L) {
			@include col(4, 12);
		}

	}

}


 //*******
// FILTER

.resource-filter__container {

	position: relative;

	@include mq(M, 'max-width') {

		&.active {

			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: color('white');
			z-index: 19;
			padding: spacing(2);

			a[href="#apply-filter"],
			a[href="#close-filter"] {
				display: block;
			}

		}

	}

	a[href="#apply-filter"] {
		@include font-size(14);
		@include font('primary', 'bold');
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: post-color('resource');
		color: color('white');
		text-align: center;
		padding: spacing(2);
	}

}

.resource-filter__controls {

	margin-bottom: 0;

	@include mq(M, 'max-width') {

		.resource-filter__container:not(.active) & {
			text-align: center;
		}

		.resource-filter__container.active & {
			display: flex;
			align-items: center;
			min-height: spacing(3);
			margin-bottom: spacing(4);
		}

	}

	@include mq(M) {
		position: absolute;
		left: 0;
		top: -2em;
	}

	a {

		@include font-size(14);
		@include font('secondary', 'medium');
		color: color('white');

		.resource-filter__container.active & {
			color: color('grey');
		}

		&:first-child {
			margin-right: 2em;
		}

	}

	a[href="#open-filter"],
	a[href="#close-filter"] {

		@include mq(M) {
			display: none;
		}

	}

	a[href="#close-filter"] {

		@include font-size(16);
		display: none;
		line-height: 1;
		margin-left: auto;
		position: relative;

		// provide a larger tapable footprint
		&::before {
			content: '';
			position: absolute;
			top: spacing(-1);
			right: spacing(-1);
			bottom: spacing(-1);
			left: spacing(-1);
			z-index: 1;
		}

		> svg {
			fill: color('body');
			height: 1em;
			width: 1em;
		}

	}

	.resource-filter__container.active & {
		color: color('body');
	}

}

.resource-filter__inner {

	display: flex;
	flex-wrap: wrap;

	@include mq(M, 'max-width') {

		display: none;

		.resource-filter__container.active & {
			display: block;
		}

	}

	.resource-filter {

		@include mq(M, 'max-width') {
			@include col(1, 2);
		}

		@include mq(M, L) {
			@include col(3, 12);
		}

		@include mq(L) {
			@include col(3, 12);
		}

	}

}


 //**********
// SLIDE OUT

body.resource-open {
	overflow: hidden;
}

.single-resource,
.resource {

	.button--icon svg {
		stroke-width: 1.5px;
	}

}

.resource__overlay {
	background-color: color('white', .8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}

.resource-overlay-enter,
.resource-overlay-leave-to /* .fade-leave-active below version 2.1.8 */ {
	background-color: color('white', 0);
}

.resource {

	@include font-size(16);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	min-width: em(350, 16);
	max-width: em(525, 16);
	padding: em(100, 16) em(44, 16);
	background-color: color('white', .8);
	border-left: 1px solid color('light-grey');
	overflow: scroll;
	z-index: 16;
	transform: translateX(0);
	transition: transform .3s ease-in-out;

	@include mq(L) {
	    width: 33%;
	}

}

.resource-enter,
.resource-leave {
	transform: translateX(100%);
}

.resource__meta {
	@include font-size(14);
	text-transform: uppercase;
	margin-bottom: spacing(2);
}

.resource hr {
	border-color: color('lighter-grey');
}

.resource__close {

	position: absolute;
	top: em(26);
	right: em(26);

	svg {
		width: em(18);
		height: em(18);
		fill: color('background');
	}

}
