.article__container {

	@extend %screen-shell-grid;

	@media screen {
		@include fluid-type(margin-top, 375px, 1240px, spacing(4), spacing(8));
	}

}

	.article__header {

		grid-column: content;
		@include fluid-type(margin-bottom, 375px, 1240px, spacing(2), spacing(4));

		@include from(T) {
			grid-row: 1;
		}

		@include from(M) {
			grid-column: 5 / 15;
		}

	}

		.article__header .arrow-link {

			@include fluid-type(margin-bottom, 375px, 1240px, spacing(2), spacing(5));

			@media print {
				display: none;
			}

		}

		.article__heading {
			@include fluid-type(margin-bottom, 375px, 1240px, spacing(2), spacing(5));
		}

		.article__meta {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

			.article__header .type-label {
				margin-right: spacing(3);
			}

			.article__meta-author {
				@include font('secondary');
				font-size: 12px;
				text-transform: uppercase;
			}

	.article {

		grid-column: content;
		@include fluid-type(margin-bottom, 375px, 1240px, spacing(2), spacing(8));

		@include from(T) {
			grid-row: 2;
			grid-column: 5 / 15;
		}

	}



	.article__footer {

		grid-column: content;
		@include fluid-type(margin-bottom, 375px, 1240px, spacing(4), spacing(8));

		@include from(T) {
			grid-row: 3;
			grid-column: 5 / 15;
		}

	}

		.article__tags {

			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			@include fluid-type(margin-bottom, 375px, 1240px, spacing(4), spacing(8));

			.box-link {
				display: block;
				margin: 0 spacing(1) spacing(1) 0;
			}

		}

			.article__tags-heading {
				flex: 0 0 100%;
			}

		.article__discussion {

			@include fluid-type(--vertical-padding, 375px, 1240px, spacing(3), spacing(5));
			@include fluid-type(--horizontal-padding, 375px, 1240px, spacing(3), spacing(5));

			font-size: 16px;
			background: $ui-orange;
			color: $ui-black;
			border-radius: spacing(3) spacing(.5) spacing(.5) spacing(.5);
			padding: var(--vertical-padding) var(--horizontal-padding);

		}

			.article__discussion-heading {
				@include fluid-type(font-size, 375px, 1240px, 20px, 24px);
				margin-bottom: spacing(4);
			}

			.article__discussion-share {

				@include from(S) {
					display: flex;
				}

			}

				.article__discussion-share p {

					margin-bottom: 0;
					margin-right: spacing(4);

					@include upto(S) {
						margin-bottom: spacing(2);
					}

				}

				.article__discussion-share-icons {

					flex: 0 0 auto;
					display: flex;
					align-items: center;

					a:not(:last-child) {
						margin-right: spacing(2);
					}

					a > svg {

						font-size: 26px;
						height: 1em;
						fill: $ui-white;
						display: block;

						&[data-platform="twitter"] {
							width: 1.09em;
						}

						&[data-platform="facebook"] {
							width: 0.54em;
						}

						&[data-platform="linkedin"] {
							width: 0.90em;
						}

					}

				}
