/*

---
name: Headings
category:
 - Base
 - Base/Headings
---

## Base Headings

The class structure follows the structure discussed by Harry Roberts in his article [practical font sizing in CSS](http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/) on CSS Wizardry.

```html
<h1 class="alpha">The fox</h1>
<h2 class="beta">The fox</h2>
<h3 class="gamma">The fox</h3>
<h4 class="delta">The fox</h4>
<h5 class="epsilon">The fox</h5>
<h6 class="zeta">The fox</h6>
```

### Style

Use the `.uppercase` class to enforce a heading to be in capitals.

```html
<h1 class="alpha / uppercase">The fox</h1>
<h2 class="beta / uppercase">The fox</h2>
<h3 class="gamma / uppercase">The fox</h3>
<h4 class="delta / uppercase">The fox</h4>
<h5 class="epsilon / uppercase">The fox</h5>
<h6 class="zeta / uppercase">The fox</h6>
```

### Spacing

Using `.drop` class applies only half the regular bottom bottom.

```html
<h1 class="drop">The fox</h1>
<h1>The fox</h1>
<h1>The fox</h1>
```

*/

h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
	@include font('secondary', 'bold');
	line-height: 1.3;
	margin: 0 0 .6em 0;
	color: currentColor;
}

h1,
.alpha {

	font-size: 20px;

	@include from(S) {
		font-size: 30px;
	}

	@include from(M) {
		font-size: 46px;
	}

}

h2,
.beta {

	font-size: 18px;

	@include from(S) {
		font-size: 24px;
	}

	@include from(M) {
		font-size: 40px;
	}

}

h3,
.gamma {

	font-size: 15px;

	@include from(S) {
		font-size: 19px;
	}

	@include from(M) {
		font-size: 35px;
	}

}

h4,
.delta {

	font-size: 13px;

	@include from(S) {
		font-size: 16px;
	}

	@include from(M) {
		font-size: 22px;
	}

}

h5,
.epsilon {

	font-size: 12px;

	@include from(S) {
		font-size: 15px;
	}

	@include from(M) {
		font-size: 20px;
	}

}

h6,
.zeta {

	font-size: 12px;

	@include from(S) {
		font-size: 12px;
	}

	@include from(M) {
		font-size: 18px;
	}

}
