h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
	@include font('secondary', 'bold');
	line-height: 1.3;
	margin: 0 0 .6em 0;
	color: currentColor;
}

h1,
.alpha {

	font-size: 20px;

	@include from(S) {
		font-size: 30px;
	}

	@include from(M) {
		font-size: 46px;
	}

	@media print {
		font-size: 30px;
	}

}

h2,
.beta {

	font-size: 18px;

	@include from(S) {
		font-size: 24px;
	}

	@include from(M) {
		font-size: 40px;
	}

	@media print {
		font-size: 24px;
	}

}

h3,
.gamma {

	font-size: 15px;

	@include from(S) {
		font-size: 19px;
	}

	@include from(M) {
		font-size: 35px;
	}

	@media print {
		font-size: 19px;
	}

}

h4,
.delta {

	font-size: 13px;

	@include from(S) {
		font-size: 16px;
	}

	@include from(M) {
		font-size: 22px;
	}

	@media print {
		font-size: 16px;
	}

}

h5,
.epsilon {

	font-size: 12px;

	@include from(S) {
		font-size: 15px;
	}

	@include from(M) {
		font-size: 20px;
	}

	@media print {
		font-size: 15px;
	}

}

h6,
.zeta {

	font-size: 12px;

	@include from(S) {
		font-size: 12px;
	}

	@include from(M) {
		font-size: 18px;
	}

	@media print {
		font-size: 12px;
	}

}

.heading-border {
	border-bottom: 4px solid $ui-brand;
	padding-bottom: .3em;
}
