/*

---
name: Horizontal Rule
category:
 - Base
 - Base/Horizontal Rule
---

## Default Styling

This is the default markup and styling for a horizontal rule.

```html
<hr>
```

*/

hr {
	border-style: solid;
	border-color: $ui-black;
	border-top-width: 1px 0 0;

	height: 1px;
	margin: 0 0 $space;
}
