/*------------------------------------*\
	LINKS
\*------------------------------------*/

a {

	text-decoration: underline;
	word-wrap: break-word;
	color: currentColor;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		text-decoration: underline;
	}

}

%reverse-underline {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		text-decoration: none;
	}
}

@mixin reverse-underline {

	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		text-decoration: none;
	}

}

h1,
h2,
h3,
h4,
h5 {

	a {
		text-decoration: none;

		&:hover,
		&:focus {
		  text-decoration: underline;
		}

		&:active {
		  text-decoration: none;
		}
	}
}

tbody tr a {
	color: inherit;
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		text-decoration: underline;
	}
}

%link-block {

	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid $ui-brand;
	padding-left: 2px;
	margin-left: -2px;
	padding-right: 2px;
	margin-right: -2px;
	transition: background .3s ease;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		background-color: $ui-brand;
	}

}

.article a {
	@extend %link-block;
}

.article .block a {

	text-decoration: underline;
	border: 0;
	padding: 0;
	margin: 0;
	transition: none;

	&:hover,
	&:active,
	&:focus {
		background-color: unset;
	}

}
