ol,
ul,
ul.wp-block-list {
    margin-bottom: $space;

    &.is-plain {
        list-style-type: none;

        margin: 0;
        padding: 0;
    }
}

ul.wp-block-list,
ol.wp-block-list {
    padding-left: 40px;

    > li {
        margin-bottom: $space / 4;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

ul,
ul.wp-block-list {
    list-style: disc;
}

ol.wp-block-list {
    list-style: decimal;

    > li::marker {
        font-weight: 700;
    }
}

ul ul,
ol ol {
    margin-bottom: 0;
}
