/*------------------------------------*\
	TABLES
\*------------------------------------*/

.table-wrap {
	overflow: scroll;
	width: 100%;
	table-layout: fixed;
}

table {

	@include font-size(13);
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	margin-bottom: $space;
	table-layout: fixed;

	@include mq(L) {
		@include font-size(16);
	}

}

th,
td {

	width: 100px;
	text-align: left;
	padding: spacing(2);
	vertical-align: top;

	@include from(ML) {
		padding: spacing(2) spacing(3);
	}

}

td {
	border-bottom: 1px solid color('lighter-grey');
}

th {
	@include font('secondary', 'bold');
	background-color: color('background');
	border-color: color('background');
	color: color('white');
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
}
