// NOTE: check the footer contact box if this changes
p,
ul,
ol,
dl {
    line-height: 1.5;
    margin-bottom: 1.3em;
}

small {
    font-size: .8rem;
}

b,
strong {
    @include font('primary', 'bold');
}

i,
em {
    font-style: italic;
}

time {
    @include font('secondary', 'bold');
    color: $ui-black;
    letter-spacing: .1px;
    line-height: 1;

    display: block;
    margin-bottom: 1em;

    @include mq(S) {
        margin-bottom: em(14, 16);
    }
}

address {
    font-style: normal;
}

:root {
    --vertical-align-fix-offset: .2;
    --vertical-align-fix-offset-em: calc(1em * var(--vertical-align-fix-offset));
}

@mixin font-vertical-align-fix {
    display: inline-block;

    padding-top: var(--vertical-align-fix-offset-em);
}

.font-vertical-align-fix {
    @include font-vertical-align-fix;
}
