<form class="custom-radio" action="#" method="post">
    <label><input type="radio" name="blog-filter" checked><span></span>Construction</label>
    <label><input type="radio" name="blog-filter"><span></span>Land</label>
    <label><input type="radio" name="blog-filter"><span></span>Health</label>
    <label><input type="radio" name="blog-filter"><span></span>Water</label>
    <label><input type="radio" name="blog-filter"><span></span>Natural Resources</label>
    <label><input type="radio" name="blog-filter"><span></span>Education</label>
    <label><input type="radio" name="blog-filter"><span></span>Procurement Law</label>
</form>
