%one-column {
    --cards-grid-columns: 1;
    --cards-grid-gap: #{spacing(2)};

    @include from(T) {
        --cards-grid-gap: #{spacing(3)};
    }
}

%two-columns {
    --cards-grid-columns: 1;
    --cards-grid-gap: #{spacing(2)};

    @include from(T) {
        --cards-grid-columns: 2;
        --cards-grid-gap: #{spacing(3)};
    }
}

%three-columns {
    --cards-grid-columns: 1;
    --cards-grid-gap: #{spacing(2)};

    @include from(T) {
        --cards-grid-columns: 2;
    }

    @include from(M) {
        --cards-grid-columns: 3;
        --cards-grid-gap: #{spacing(3)};
    }
}

.cards-grid {
    counter-reset: cards-grid;

    // START: cards columns
    &[data-card-type="card-primary"][data-variation=""],
    &[data-card-type="card-primary"][data-variation="three-columns"] {
        @extend %three-columns;
    }

    &[data-card-type="card-primary"][data-variation="two-columns"] {
        @extend %two-columns;
    }
}

.cards-grid__inner {
    display: grid;
    row-gap: var(--cards-grid-row-gap, var(--cards-grid-gap));
    column-gap: var(--cards-grid-column-gap, var(--cards-grid-gap));
    grid-template-columns: repeat(var(--cards-grid-columns), 1fr);

    &:empty {
        height: 24px;
        border: 2px dashed black;
    }

    > .wp-block {
        width: 100%;
        margin: 0;

        > * {
            height: 100%;
        }
    }

    @for $i from 1 through 6 {
        .cards-grid[data-max-sm="#{$i}"] & {
            @include upto(T) {
                > *:nth-child(n+#{$i+1}) {
                    display: none;
                }
            }
        }

        .cards-grid[data-max-md="#{$i}"] & {
            @include between(md, lg) {
                > *:nth-child(n+#{$i+1}) {
                    display: none;
                }
            }
        }

        .cards-grid[data-max-lg="#{$i}"] & {
            @include from(M) {
                > *:nth-child(n+#{$i+1}) {
                    display: none;
                }
            }
        }
    }
}
