html {
    font-size: 100%;
}

body {
	
	@include font;
	@include font-size(16, 18);
	line-height: 1.5;
	color: $ui-black;

	margin: 0;
	padding: 0;
	background-color: $ui-white;

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}

 //**********
// SELECTION

::-moz-selection {
   background: $ui-black;
   color: $ui-white;
   text-shadow: none;
}

::selection {
   background: $ui-black;
   color: $ui-white;
   text-shadow: none;
}
