html {
    font-size: 100%;
}

// set the body selector based on if we're loading into gutenberg or the front-end
$body-selector: if($is-gutenberg, '&', 'body');

#{$body-selector} {

	@include font;
	font-size: 18px;
	line-height: 1.5;
	color: $ui-black;

	margin: 0;
	padding: 0;
	background-color: $ui-white;

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	position: relative;
	right: 0;
	transition: right .3s ease;

	&.mobile-menu-active {
		right: calc(100% - 80px);
		overflow: hidden;
		cursor: pointer;
	}

	@include mq(M) {

		&.mobile-menu-active {
			right: auto;
			overflow: initial;
		}

	}

	--v-spacing: #{spacing(8)};
	--v-spacing-half: #{spacing(4)};

	@include fluid-type(--v-spacing, 375px, 1240px, spacing(4), spacing(8));
	@include fluid-type(--v-spacing-half, 375px, 1240px, spacing(2), spacing(4));

	@media print {
		font-size: 14px;
	}

}


 //**********
// SELECTION

::-moz-selection {
   background: $ui-black;
   color: $ui-white;
   text-shadow: none;
}

::selection {
   background: $ui-black;
   color: $ui-white;
   text-shadow: none;
}
