// DISPLAY

@font-face {
    font-family: 'gt_eesti_display';
    src: url('@/fonts/GT-Eesti-Display-Bold.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Display-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_display';
    src: url('@/fonts/GT-Eesti-Display-Medium.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Display-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_display';
    src: url('@/fonts/GT-Eesti-Display-Regular.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Display-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// TEXT

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Thin.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Thin-Italic.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Thin-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Light.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Light-Italic.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Light-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Medium.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Medium-Italic.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Bold.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_eesti_text';
    src: url('@/fonts/GT-Eesti-Text-Bold-Italic.woff2') format('woff2'),
         url('@/fonts/GT-Eesti-Text-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
