%grid-layout {

	display: grid;
	grid-template-columns: [wide-start] minmax(0, 1fr) [all-start] repeat(12, minmax(0, 100px)) [all-end] minmax(0, 1fr) [wide-end];
	column-gap: spacing(2);

	@include from(M) {
		grid-template-columns: [wide-start] minmax(#{spacing(2)}, 1fr) [all-start]  [all-end] minmax(#{spacing(2)}, 1fr) [wide-end];
	}

}

%column-grid {
	display: grid;
	grid-column-gap: spacing(2);
	grid-template-columns: [all-start] repeat(12, 1fr) [all-end];
}

@mixin shell-grid() {

	display: grid;
	grid-template-columns:
		[full-start]
			minmax(0, auto)
			[wide-start]
				0
				[intermediate-start]
					spacing(3)
					[content-start]
						repeat(12, minmax(0, 100px))
					[content-end]
					spacing(3)
				[intermediate-end]
				0
			[wide-end]
			minmax(0, auto)
		[full-end];

	@include from(M) {

		grid-template-columns:
			[full-start]
				minmax(0, auto)
				[wide-start]
					minmax(0, spacing(6))
					[intermediate-start]
						spacing(3)
						[content-start]
							repeat(12, minmax(0, 100px))
						[content-end]
						spacing(3)
					[intermediate-end]
					minmax(0, spacing(6))
				[wide-end]
				minmax(0, auto)
			[full-end];

	}

}

%shell-grid {
	@include shell-grid();
}

/*

---
name: Shell Grid
category:
 - Layout
 - Layout/Grid
---

```html
<div class="shell-grid-example">
	<div class="shell-grid-example__full"></div>
	<div class="shell-grid-example__wide"></div>
</div>
```

*/

.shell-grid-example {
	@extend %shell-grid;
}

	.shell-grid-example__full {
		background-color: blue;
		height: 100px;
		grid-column: full;
	}

	.shell-grid-example__wide {
		background-color: red;
		height: 100px;
		grid-column: wide;
	}


// full
// wide
// internal
