%grid-layout {

	display: grid;
	grid-template-columns: [wide-start] minmax(0, 1fr) [all-start] repeat(12, minmax(0, 100px)) [all-end] minmax(0, 1fr) [wide-end];
	column-gap: spacing(2);

	@include from(M) {
		grid-template-columns: [wide-start] minmax(#{spacing(2)}, 1fr) [all-start] repeat(12, minmax(0, 100px)) [all-end] minmax(#{spacing(2)}, 1fr) [wide-end];
	}

}
