#wpadminbar {
    position: fixed !important;
}

.wp-block-image figcaption {
    font-size: 12px;
    padding: 15px;
    text-align: center;
}

// editor styles
.edit-post-visual-editor__post-title-wrapper {
    border-bottom: 1px dashed #2D3D4D;
    margin-top: 21px !important;
}

    .wp-block-post-title {
        margin-block: 28px !important;
    }

// block spacing and sizing
.wp-block {
    margin-block: 40px;
    max-width: 1024px;
}

.wp-block[data-align="wide"] {
    max-width: 1200px;
}

.alignfull,
.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block:has(> [data-block-size="full"]) {
    max-width: none;
}
