/*------------------------------------*\
	VARIABLES
\*------------------------------------*/

 //********
// COLOURS

$ui-white: #FFF;
$ui-grey: #4D4D53;
$ui-grey-2: #4B4B4B;
$ui-black: #000;
$ui-brand: #E0E83D;


 //***************
// SOCIAL COLOURS

$social-colors: (
    'youtube': #CC181E,
    'twitter': #00ACEE,
    'facebook': #3B5998,
    'google': #DD4B39,
    'linkedin': #007BB6,
);


 //**************
// TYPE SETTINGS

$base-font-size: 16;

$copy: $ui-black;
$border-radius: 4px;


 //****************
// LAYOUT SETTINGS

$max-width: 1440;
$space: 1.5rem; // NOTE: This is needs to be changed depending on the lineheight of the <p>

$breakpoints: (
    S: 640,
    M: 1024,
	L: 1440
);


 //******
// FONTS

$fonts: (
	primary: (
		family: 'gt_eesti_pro_text',
		fallback: '"Helvetica Neue", Helvetica, Arial, sans-serif',
		weights: (
			light: 300,
			regular: 400,
			semibold: 600,
			bold: 700
		),
		typekit: false
	),
	secondary: (
		family: 'gt_eesti_pro_display',
		fallback: '"Helvetica Neue", Helvetica, Arial, sans-serif',
		weights: (
			regular: 400,
			medium: 500,
			bold: 700
		),
		typekit: false
	)
);
